/**** Colors (recommended use HEX colors) ****/ 
$main-color: #fff; 
$default-color:#000;
$dark-color: #000;

$body-bg-gradient-color-1: #262626;
$body-bg-gradient-color-2:  #d9d9d9;

$sidebar-bg-color:#545454;
$sidebar-item-active-bg-color: #B2B2B2;


$primary-color: #3bd076;
$success-color: #2d922d;
$info-color: #248dad;
$warning-color: #f79a17;
$danger-color: #bf1725;