/**** Colors (recommended use HEX colors) ****/ 
$main-color: #242D3A; 
$default-color:#fff; 
$dark-color: #000;
$card-header-background: #fff;
$card-header-color: #555;

$body-bg-gradient-color-1: #1e5799;
$body-bg-gradient-color-2:  #a5c9e5;

$sidebar-bg-color:#2f353f;
$sidebar-item-active-bg-color: #2a303b;// #0099cc;


$primary-color: #3960d1;
$success-color: #3bd076;
$info-color: #248dad;
$warning-color: #f79a17;
$danger-color: #bf1725;