<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LIQUIDACIONES</span>
        <div class="widget-controls">
          <a (click)="getData(); toggleFiltersIfVisible();" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <button class="btn btn-primary" (click)="generarLiquidacion()">
          Generar Liquidación
        </button>
        <button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>
        <az-liquidations-filter #filters (onSubmit)="getData(true)"></az-liquidations-filter>
        <br>
        <br>
        <div class="table-container">
          <div class="table-loading-shade" *ngIf="isLoading || error || tableData.data.length == 0">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="error">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!isLoading && tableData.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>
          <div class="table-scroll-container">           <mat-table [dataSource]="tableData" class="table-table" matSort>
            <ng-container *ngFor="let col of displayedColumns; let i = index;" [matColumnDef]="col">
              <ng-container *ngIf="i === 0">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button class="btn text-primary btn-link" type="button" (click)="employeeDialog(element.employee)">{{element.employee.name}}</button>
                </mat-cell>
              </ng-container>
              <ng-container *ngIf="i === 1">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{element.employee.status == 1 ? 'Activo' : 'Inactivo'}}
                </mat-cell>
              </ng-container>
              <ng-container *ngIf="i > 1">
                <mat-header-cell *matHeaderCellDef>{{col | date: 'MMM/yyyy'}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.liquidations[i - 2].has_file === false">
                    <span (click)="uploadLiquidation(element.employee, element.liquidations[i - 2])" class="badge badge-danger">No</span>
                  </ng-container>
                  <ng-container *ngIf="element.liquidations[i - 2].has_file === true">
                    <span (click)="downloadLiquidation(element.employee, element.liquidations[i - 2])" class="badge badge-success">Si</span>
                  </ng-container>
                </mat-cell>
              </ng-container>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>           </div>
        </div>
      </div>
    </div>
  </div>
</div>
