<az-navbar></az-navbar>
<div class="container-fluid">
    <div class="row">
        <az-menu></az-menu>
        <div class="main-wrapper"  [ngClass]="{'menu-collapsed': isMenuCollapsed}">
            <div class="az-overlay" *ngIf="!isMenuCollapsed" (click)="hideMenu()"></div>
            <div class="main">
                <toaster-container></toaster-container>
                <az-breadcrumb></az-breadcrumb>
                <router-outlet></router-outlet>
            </div>
            <footer class="footer text-center clearfix">
                <div class="footer-main pull-left  clearfix">
                    <div class="copyright pull-left">&copy; <a class="font-weight-bold" href="http://antumalal-agricola.cl/">Antumalal</a> {{year}}</div>
                </div>
            </footer>
            <az-back-top position="200"></az-back-top>
        </div>
    </div>
</div>
