<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE PRÉSTAMOS</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <button (click)="create()" data-toggle="modal" data-target="#create-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
        
        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
          </div>
        </div>
        
        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>
          
          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="loan_date" matSortDirection="desc">
            <ng-container matColumnDef="employee_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Empleado</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.employee ? row.employee.name : "..." }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="loan_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.loan_date | date:'y-MM-dd' }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.amount | money }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="payments">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Número de pagos</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.payments.length }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="notes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.notes || "" | slice:0:50 }}...</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button data-toggle="modal" data-target="#show-modal" (click)="show(row)" class="btn btn-outline-info btn-xs" matTooltip="Detalles"><i class="fa fa-eye"></i></button>
                <button data-toggle="modal" data-target="#edit-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
            
            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>
          
          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CREAR !-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 960px">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
    <mat-spinner></mat-spinner>
  </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">Nuevo préstamo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
        <div class="clearfix">
          <ul class="nav nav-tabs top pull-left w-100p">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details" id="todetails0" (click)="prev()">Datos</a>
            </li>
            <li class="nav-item" [hidden]="tab == 'details'">
              <a class="nav-link" data-toggle="tab" href="#payments" id="topayments0">Pagos</a>
            </li>
          </ul>
        </div>
				<form [formGroup]="form">
					<div class="tab-content top">
						<div class="tab-pane" [ngClass]="{ 'active': tab == 'details' }" id="details">
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : employeeCtrl.touched && ( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ), 'has-success' : employeeCtrl.touched && !( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Empleado *</label>
									<input class="form-control" [matAutocomplete]="employeesAutoComplete" [formControl]="employeeCtrl">
									<mat-autocomplete #employeesAutoComplete="matAutocomplete">
										<mat-option *ngFor="let employee of employees" [value]="employee.name" (click)="selectRow(employee, 'employee', 'form')">
											<span>{{ employee.name }}</span>
										</mat-option>	
									</mat-autocomplete>
									<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.required">Debe elegir un empleado</span>
									<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.number">Elige un empleado válido</span>                              
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('loan_date').touched && ( form.controls.loan_date.errors?.required || form.controls.loan_date.errors?.date ), 'has-success' : form.get('loan_date').touched && !( form.controls.loan_date.errors?.required || form.controls.loan_date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="loan_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="form.get('loan_date').touched && form.controls.loan_date.errors?.required">La fecha no puede estar vacía</span>                              
									<span class="help-block text-danger" *ngIf="form.get('loan_date').touched && form.controls.loan_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('amount').touched && ( form.controls.amount.errors?.required || form.controls.amount.errors?.number ), 'has-success' : form.get('amount').touched && !( form.controls.amount.errors?.required || form.controls.amount.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
									</div>
									<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.required">Debe escribir el monto</span>
									<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.number">El monto solo pueden ser números</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" >
									<label class="form-control-label" style="margin-bottom: 0;">Número de pagos</label>
									<input [(ngModel)]="current.totalpayments" type="number" min="0" [ngModelOptions]="{ standalone: true }" class="form-control">
								</div>
							</div>
							
							<div class="col-12">
									<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ) }">
										<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
										<textarea formControlName="notes" class="form-control"></textarea>
										<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir las notas</span>
										<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
									</div>
								</div>
						</div>
						<div class="tab-pane" [ngClass]="{ 'active': tab == 'payments' }" id="payments">
							<div formArrayName="payments">
								<div *ngFor="let payment of formPayments.controls; let i = index;">
								<strong style="margin: 6px 0">Pago #{{i+1}}</strong>
								<div class="row">
									<div [formGroupName]="i" class="col-12 col-sm-6">
										<div class="form-group" [ngClass]="{'has-danger' : form.get('payments').controls[i].controls.due_date.touched && ( form.get('payments').controls[i].controls.due_date.errors?.required || form.get('payments').controls[i].controls.due_date.errors?.date ), 'has-success' : form.get('payments').controls[i].controls.due_date.touched && !( form.get('payments').controls[i].controls.due_date.errors?.required || form.get('payments').controls[i].controls.due_date.errors?.date ) }">
											<label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
											<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="due_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
											<span class="help-block text-danger" *ngIf="form.get('payments').controls[i].controls.due_date.touched && form.get('payments').controls[i].controls.due_date.errors?.required">La fecha no puede estar vacía</span>                              
											<span class="help-block text-danger" *ngIf="form.get('payments').controls[i].controls.due_date.touched && form.get('payments').controls[i].controls.due_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
										</div>
									</div>
									<div [formGroupName]="i" class="col-12 col-sm-6">
										<div class="form-group" [ngClass]="{'has-danger' : form.get('payments').controls[i].controls.amount.touched && ( form.get('payments').controls[i].controls.amount.errors?.required || form.get('payments').controls[i].controls.amount.errors?.number ), 'has-success' : form.get('payments').controls[i].controls.amount.touched && !( form.get('payments').controls[i].controls.amount.errors?.required || form.get('payments').controls[i].controls.amount.errors?.number ) }">
											<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
											<div class="input-group">
												<div class="input-group-addon">$</div>
												<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
											</div>
											<span class="help-block text-danger" *ngIf="form.get('payments').controls[i].controls.amount.touched && form.get('payments').controls[i].controls.amount.errors?.required">Debe escribir el monto</span>
											<span class="help-block text-danger" *ngIf="form.get('payments').controls[i].controls.amount.touched && form.get('payments').controls[i].controls.amount.errors?.number">El monto solo pueden ser números</span>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
        <button [disabled]="!form.valid" [hidden]="tab == 'payments'" (click)="next()" type="button" class="btn btn-info" title="Siguiente">
          <i class="fa fa-arrow-right"></i>
        </button>
        <button [hidden]="tab == 'details'" (click)="prev()" type="button" class="btn btn-info" title="Anterior">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button [disabled]="!form.valid" [hidden]="tab == 'details'" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
          <i class="fa fa-floppy-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA VER LOS DETALLES !-->
<div class="modal fade" id="show-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 960px">
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">Préstamo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <ul class="nav nav-tabs top pull-left w-100p">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details" id="todetails1" (click)="tab = 'details'">Datos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#payments" id="topayments1" (click)="tab = 'payments'">Pagos</a>
            </li>
          </ul>
        </div>
        <div class="tab-content top">
          <div class="tab-pane" [ngClass]="{ 'active': tab == 'details' }" id="details">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Empleado</th>
                  <th>Fecha</th>
                  <th>Monto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ current.employee ? current.employee.name : "..." }}</td>
                  <td>{{ current.loan_date | date:'y-MM-dd' }}</td>
                  <td>{{ current.amount | money }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Notas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ current.notes }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" [ngClass]="{ 'active': tab == 'payments' }" id="payments">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Fecha de vencimiento</th>
                  <th>Fecha de pago</th>
                  <th>Estado</th>
                  <th>Monto</th>
                  <th>Notas</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of current.payments">
                    <td>
                      {{ payment.due_date | date:'y-MM-dd' }}
                    </td>
                    <td>
                      {{ payment.paid_date | date:'y-MM-dd' }}
                    </td>
                    <td>
                      {{ states[payment.state] ? states[payment.state].name : payment.state }}
                    </td>
                    <td>
                      {{ payment.amount | money }}
                    </td>
                    <td>
                      <small>
                      	{{ payment.notes }}
                      </small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cerrar">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA ACTUALIZAR !-->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 960px">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
    <mat-spinner></mat-spinner>
  </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">Editar préstamo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
        <div class="clearfix">
          <ul class="nav nav-tabs top pull-left w-100p">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details" id="todetails2" (click)="tab = 'details'">Datos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#payments" id="topayments2" (click)="tab = 'payments'">Pagos</a>
            </li>
          </ul>
        </div>
				<div class="tab-content top">
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'details' }" id="details">
						<form [formGroup]="form">
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : employeeCtrl.touched && ( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ), 'has-success' : employeeCtrl.touched && !( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Empleado *</label>
									<input class="form-control" [matAutocomplete]="employeesAutoComplete" [formControl]="employeeCtrl">
									<mat-autocomplete #employeesAutoComplete="matAutocomplete">
										<mat-option *ngFor="let employee of employees" [value]="employee.name" (click)="selectRow(employee, 'employee', 'form')">
											<span>{{ employee.name }}</span>
										</mat-option>	
									</mat-autocomplete>
									<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.required">Debe elegir un empleado</span>
									<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.number">Elige un empleado válido</span>                              
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('loan_date').touched && ( form.controls.loan_date.errors?.required || form.controls.loan_date.errors?.date ), 'has-success' : form.get('loan_date').touched && !( form.controls.loan_date.errors?.required || form.controls.loan_date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="loan_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="form.get('loan_date').touched && form.controls.loan_date.errors?.required">La fecha no puede estar vacía</span>                              
									<span class="help-block text-danger" *ngIf="form.get('loan_date').touched && form.controls.loan_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('amount').touched && ( form.controls.amount.errors?.required || form.controls.amount.errors?.number ), 'has-success' : form.get('amount').touched && !( form.controls.amount.errors?.required || form.controls.amount.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
									</div>
									<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.required">Debe escribir el monto</span>
									<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.number">El monto solo pueden ser números</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
									<textarea formControlName="notes" class="form-control"></textarea>
									<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir las notas</span>
									<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'payments' }" id="payments">
						<form [formGroup]="formPayment">
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : formPayment.get('due_date').touched && ( formPayment.controls.due_date.errors?.required || formPayment.controls.due_date.errors?.date ), 'has-success' : formPayment.get('due_date').touched && !( formPayment.controls.due_date.errors?.required || formPayment.controls.due_date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha de vencimiento</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="due_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="formPayment.get('due_date').touched && formPayment.controls.due_date.errors?.required">La fecha no puede estar vacía</span>                              
									<span class="help-block text-danger" *ngIf="formPayment.get('due_date').touched && formPayment.controls.due_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : formPayment.get('paid_date').touched && ( formPayment.controls.paid_date.errors?.date ), 'has-success' : formPayment.get('paid_date').touched && !( formPayment.controls.paid_date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha de pago</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="paid_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="formPayment.get('paid_date').touched && formPayment.controls.paid_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : formPayment.get('state').touched && ( formPayment.controls.state.errors?.required || formPayment.controls.state.errors?.number || formPayment.controls.state.errors?.range ), 'has-success' : formPayment.get('state').touched && !( formPayment.controls.state.errors?.required || formPayment.controls.state.errors?.number || formPayment.controls.state.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Estado *</label>
									<select class="form-control" formControlName="state">
										<option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="formPayment.get('state').touched && formPayment.controls.state.errors?.required">Debe elegir un estado</span>
									<span class="help-block text-danger" *ngIf="formPayment.get('state').touched && formPayment.controls.state.errors?.number">El estado solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="formPayment.get('state').touched && formPayment.controls.state.errors?.range">Debe seleccionar un estado válido</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : formPayment.get('amount').touched && ( formPayment.controls.amount.errors?.required || formPayment.controls.amount.errors?.number ), 'has-success' : formPayment.get('amount').touched && !( formPayment.controls.amount.errors?.required || formPayment.controls.amount.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
									</div>
									<span class="help-block text-danger" *ngIf="formPayment.get('amount').touched && formPayment.controls.amount.errors?.required">Debe escribir el monto</span>
									<span class="help-block text-danger" *ngIf="formPayment.get('amount').touched && formPayment.controls.amount.errors?.number">El monto solo pueden ser números</span>
								</div>
							</div>
							
							<div class="col-12">
								<button [disabled]="!formPayment.valid" (click)="savePayment(formPayment.value)" type="button" class="btn btn-primary" title="Guardar">
									<i class="fa fa-floppy-o"></i>
								</button>
								<button (click)="resetFormPayment()" type="button" class="btn btn-danger" title="Limpiar">
									<i class="fa fa-refresh"></i>
								</button>
							</div>
						</form>
						<hr>
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Fecha de vencimiento</th>
										<th>Fecha de pago</th>
										<th>Estado</th>
										<th>Cantidad</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let payment of current.payments; let $index = index">
										<td>
											{{ payment.due_date | date:'y-MM-dd' }}
										</td>
										<td>
											{{ payment.paid_date | date:'y-MM-dd' }}
										</td>
										<td>
											{{ states[payment.state] ? states[payment.state].name : payment.state }}
										</td>
										<td>
											{{ payment.amount | money }}
										</td>
										<td>
											<button (click)="editPayment( payment, $index )" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
											<button (click)="deletePayment( payment, $index )" class="btn btn-outline-danger btn-xs" matTooltip="Remover"><i class="fa fa-trash-o"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
        <button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar" [hidden]="tab == 'payments'">
          <i class="fa fa-floppy-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>