<div class="wrapper-page">

	<div class="panel panel-color panel-inverse">
		<div class="panel-heading"> 
			<img width="60px" height="60px;" src="assets/img/logo/logo.png" >
			<h3 class="text-center m-t-10"><strong>Antumalal </strong> Agr&iacute;cola</h3>
		</div>
		
		<div class="panel-body">
			<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal m-t-10 p-20 p-b-0">
				<span class="help-block text-center text-danger" style="margin: 0;" *ngIf="error">
					<strong>
						Ha ocurrido un error. Por favor, intenta de nuevo.
					</strong>
				</span>
				<span class="help-block text-center text-info" style="margin: 0;" *ngIf="message">
					<strong>
						Recibirás un correo electrónico con instrucciones. Por favor, asegúrese de verificar sus carpetas de correo masivo y spam, ya que a veces nuestro correo se filtra.
					</strong>
				</span>
									
				<div class="form-group ">
					<div class="col-xs-12">
						<input class="form-control checking-field" [formControl]="email" id="email" placeholder="Correo" type="text">                      
						<span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">El correo no puede estar vacío</span>                              
						<span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmail')">El correo no es válido</span>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-6 text-left" style="padding: 0;">
						<a routerLink="/iniciar-sesion" class="btn btn-warning" matTooltip="Iniciar sesión" matTooltipPosition="below">
							<i class="fa fa-sign-in" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-6 text-right" style="padding: 0;">
						<button [disabled]="!form.valid" class="btn" [ngClass]="{ 'btn-primary': form.valid }" type="submit" matTooltip="Recuperar contraseña" matTooltipPosition="below">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
					</div>
				</div>
				
			</form>
		</div>
		
	</div>
</div>

