<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
	<div class="modal-dialog " role="document">
		<div class="modal-content">
			<div class="modal-header modal-danger">
				<h4>¿Está seguro?</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				Este cambio no se puede revertir
			</div>
			<div class="modal-footer">
				<button (click)="delete()" type="button" class="btn btn-danger" data-dismiss="modal" title="Confirmar"><i class="fa fa-check"></i></button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar"><i class="fa fa-window-close"></i></button>
			</div>
		</div>
	</div>
</div>