<div mat-dialog-content>
  <div class="modal-header state">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div *ngIf="errorMessages.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
    </div>
    <div class="table-loading-shade fade show" *ngIf="isLoading" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <form [formGroup]="form">
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ),
                                            'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Día *</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                         type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
          <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">El día no puede estar vacío</span>
          <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato del día debe ser: 'YYYY-MM-DD'</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('agronomist').touched && ( form.controls.agronomist.errors?.required ),
                                                'has-success' : form.get('agronomist').touched && !( form.controls.agronomist.errors?.required ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Agrónomo *</label>
          <select class="form-control" formControlName="agronomist">
            <option *ngFor="let agronomist of agronomists" [value]="agronomist.id">{{agronomist.name}}</option>
          </select>
          <span class="help-block text-danger" *ngIf="form.get('agronomist').touched && form.controls.agronomist.errors?.required">Debe elegir un Agrónomo</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('number').touched && ( form.controls.number.errors?.required || form.controls.number.errors?.number ),
                                            'has-success' : form.get('number').touched && !( form.controls.number.errors?.required || form.controls.number.errors?.number ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Número *</label>
          <input formControlName="number" type="number" class="form-control">
          <span class="help-block text-danger" *ngIf="form.get('number').touched && form.controls.number.errors?.required">Debe escribir el Número</span>
          <span class="help-block text-danger" *ngIf="form.get('number').touched && form.controls.number.errors?.number">Tiene que escribir un Número</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('variety_id').touched && ( form.controls.variety_id.errors?.required ),
                                            'has-success' : form.get('variety_id').touched && !( form.controls.variety_id.errors?.required ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Variedad *</label>
          <input class="form-control" type="text" placeholder="Variedad..." aria-label="Number"
                 [(ngModel)]="varietyInput"
                 [ngModelOptions]="{standalone: true}"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let variety of varieties" [value]="variety.name" (click)="addVariety(variety)">
              {{ variety.name }}
            </mat-option>
          </mat-autocomplete>
          <span class="help-block text-danger" *ngIf="form.get('variety_id').touched && form.controls.variety_id.errors?.required">Debe seleccionar una variedad</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('season').touched && ( form.controls.season.errors?.required  ),
                                            'has-success' : form.get('season').touched && !( form.controls.season.errors?.required ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Temporada *</label>
          <select class="form-control" formControlName="season">
            <option *ngFor="let season of seasons" [value]="season">{{season}}</option>
          </select>
          <span class="help-block text-danger" *ngIf="form.get('season').touched && form.controls.season.errors?.required">Debe seleccionar la temporada</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group"
             [ngClass]="{'has-danger' : form.get('notes').touched && form.get('notes').hasError('required'),
                          'has-success' : form.get('notes').touched && !form.get('notes').hasError('required') }">
          <label class="form-control-label">Notas</label>
          <textarea formControlName="notes" class="form-control"
                    [ngClass]="{'form-control-danger' :  form.get('notes').touched && form.get('notes').hasError('maxlength'),
                                'form-control-success' :  !form.get('notes').hasError('maxlength') }"></textarea>
          <span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">La nota no puede exceder los 255 caracteres</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <strong class="form-control-label" style="margin-bottom: 0;">Elegir archivo</strong>
          <input class="form-control" #fileInput type="file" (change)="addedFile($event)" name="file" accept="application/pdf"/>
          <span class="help-block text-danger" *ngIf="form.controls.file.errors?.required && !form.controls.file.errors?.type">Debe seleccionar un archivo</span>
          <span class="help-block text-danger" *ngIf="form.controls.file.errors?.type">El archivo debe ser de formato 'pdf'</span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button [disabled]="!form.valid" *ngIf='!isEdit' (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar"><i class="fa fa-floppy-o "></i></button>
  <button [disabled]="!form.valid" *ngIf='isEdit' (click)="save(form.value)" type="button" class="btn btn-primary" title="Actualizar"><i class="fa fa-pencil"></i></button>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i></button>
</div>
