<div mat-dialog-content>
  <div class="modal-header state">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div *ngIf="errorMessages.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
    </div>
    <div class="table-loading-shade fade show" *ngIf="isLoading" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <form [formGroup]="form">
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('start').touched && ( form.controls.start.errors?.date ),
                                            'has-success' : form.get('start').touched && !( form.controls.start.errors?.date ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Fecha Inicio</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                         type="calendar" formControlName="start" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
          <span class="help-block text-danger" *ngIf="form.get('start').touched && form.controls.start.errors?.date">El formato del día debe ser: 'YYYY-MM-DD'</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('startHour').touched && ( form.controls.startHour.errors?.required || form.controls.startHour.errors?.date ), 'has-success' : form.get('startHour').touched && !( form.controls.startHour.errors?.required || form.controls.startHour.errors?.date ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Hora Inicio *</label>
          <input formControlName="startHour" (keyup)="timeKeyService.formatHour($event, form, 'startHour')" class="form-control" placeHolder="HH:MM" type="text">
          <span class="help-block text-danger" *ngIf="form.get('startHour').touched && form.controls.startHour.errors?.required">La hora no puede estar vacía</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('end').touched && (form.controls.end.errors?.date && form.controls.end.errors?.menors),
                                            'has-success' : form.get('end').touched && !( form.controls.end.errors) }">
          <label class="form-control-label" style="margin-bottom: 0;">Fecha Término *</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                         type="calendar" formControlName="end" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
          <span class="help-block text-danger" *ngIf="form.get('end').touched && form.controls.end.errors?.date">El formato del día debe ser: 'YYYY-MM-DD HH:mm'</span>
          <span class="help-block text-danger" *ngIf="form.get('end').touched && form.controls.end.errors?.menors">No puede ser una fecha menor al inicio</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('endHour').touched && ( form.controls.endHour.errors?.required || form.controls.endHour.errors?.date ), 'has-success' : form.get('endHour').touched && !( form.controls.endHour.errors?.required || form.controls.endHour.errors?.date ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Hora Término *</label>
          <input formControlName="endHour" (keyup)="timeKeyService.formatHour($event, form, 'endHour')" class="form-control" placeHolder="HH:MM" type="text">
          <span class="help-block text-danger" *ngIf="form.get('endHour').touched && form.controls.endHour.errors?.required">La hora no puede estar vacía</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('realmojamientoporha').touched && ( form.controls.realmojamientoporha.errors?.number ),
                                            'has-success' : form.get('realmojamientoporha').touched && !( form.controls.realmojamientoporha.errors?.number ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Mejoramiento Real por Ha</label>
          <input formControlName="realmojamientoporha" type="number" class="form-control">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('excess').touched && ( form.controls.excess.errors?.number ),
                                            'has-success' : form.get('excess').touched && !( form.controls.excess.errors?.number ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Excedente</label>
          <input formControlName="excess" type="number" class="form-control">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('place_excess_drop').touched && ( form.controls.place_excess_drop.errors?.maxlength ),
                                            'has-success' : form.get('place_excess_drop').touched && !( form.controls.place_excess_drop.errors?.maxlength ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Lugar de desecho</label>
          <input class="form-control" formControlName="place_excess_drop">
          <span class="help-block text-danger"
                *ngIf="form.get('place_excess_drop').touched && form.controls.place_excess_drop.errors?.maxlength">El exceso no puede exceder los 80 caracteres</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="cr-styled">
            <i class="fa"></i>
            Hubo Dilusión?
          </label>
          <input type="checkbox" formControlName="dilution">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group"
             [ngClass]="{'has-danger' : form.get('notes').touched && form.get('notes').hasError('maxlength'),
                          'has-success' : form.get('notes').touched && !form.get('notes').hasError('maxlength') }">
          <label class="form-control-label">Notas</label>
          <textarea formControlName="notes" class="form-control"
                    [ngClass]="{'form-control-danger' :  form.get('notes').touched && form.get('notes').hasError('maxlength'),
                                'form-control-success' :  !form.get('notes').hasError('maxlength') }"></textarea>
          <span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">La nota no puede exceder los 255 caracteres</span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button [disabled]="!form.valid" (click)="confirm(form.value)" type="button" class="btn btn-primary"
          title="Confirmar"><i class="fa fa-save"></i></button>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i></button>
</div>
