<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">APLICACIONES POR SECTOR</span>
        <div class="widget-controls">
          <a class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
			<div class="card-block widget-body">
        
        <div style="padding: 0 0 1rem; width: 100%;">
          <form class="row" [formGroup]="filtersForm" (ngSubmit)="runFiltering()" novalidate>
            
            <div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Inicio</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm.get('date_from').value" formControlName="date_from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Termino</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm.get('date_to').value" formControlName="date_to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
            </div>
            
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">PRODUCTOS</label>
                <input class="form-control" [matAutocomplete]="productsAutoComplete" [formControl]="productsCtrl">
                <mat-autocomplete #productsAutoComplete="matAutocomplete">
                  <mat-option *ngFor="let p of filteredOptionsProducts | async" [value]="p.name" (click)="selectRowProducts(p)">
                    <span>{{ p.name }}</span>
                  </mat-option>
                </mat-autocomplete>

                <div *ngFor="let p of selectedProducts, let i = index">
                  * <span class="help-block">{{ p.name }}</span>
                  -
                  <span class="help-block text-danger h-underline" style="cursor: pointer" (click)="removeProduct( p.id, i )">
                    <i class="fa fa-close"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col col-sm-12">
              <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="Producto" matSortDirection="desc">

            <ng-container matColumnDef="Producto">
              <mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Producto ? row.Producto : "..." }}</mat-cell>
            </ng-container>

            <ng-container *ngFor="let column of columns" matColumnDef="{{column.columnDef}}">
              <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
