<div class="container">
    <div class="row">
         <div class="col-xl-4 col-md-6 col-10 offset-xl-4 offset-md-3 offset-1 p-t-10">             
             <div class="card">
                <div class="card-block text-center">
                    <h1 class="display-1">404</h1>
                    <h6 class="card-title">La página no existe.</h6>
                

                </div>
             </div>
         </div>
    </div>
 </div>
