<div mat-dialog-content>
  <div class="modal-header state">
    <h4 class="modal-title">{{title}}</h4>
  </div>

  <div class="row reduce-margin">
    <div class="col-12 alert alert-warning">
        <span class="text-dark">La cantidad a ingresar debe 
          ser la existente al momento del inventario.</span>
    </div>
  </div>

  <div class="modal-body">
    <div *ngIf="errorMessages.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
    </div>
    <div class="table-loading-shade fade show" *ngIf="isLoading" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <form [formGroup]="form">
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.get('date').hasError('required') || form.get('date').hasError('required') ),
                                            'has-success' : form.get('date').touched && !( form.get('date').hasError('required') || form.get('date').hasError('date')) }">
          <label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                         type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
          <span class="help-block text-danger" *ngIf="form.get('date').touched && form.get('date').hasError('required')">La fecha no puede estar vacía</span>
          <span class="help-block text-danger" *ngIf="form.get('date').touched && form.get('date').hasError('date')">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
        </div>
      </div>

      <div [formGroup]="productForm">
        <div class="col-12">
          <div class="form-group" [ngClass]="{'has-danger' : productsCtrl.touched && ( productForm.get('product').hasError('required') ),
                                            'has-success' : productsCtrl.touched && !productForm.get('product').hasError('required') }">
            <label class="form-control-label" style="margin-bottom: 0;">Producto *</label>
            <input class="form-control" type="text" placeholder="Producto..." aria-label="Number"
                   [formControl]="productsCtrl"
                   [matAutocomplete]="autoProducts">
            <mat-autocomplete #autoProducts="matAutocomplete">
              <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name" (click)="selectProduct(product)">
                {{ product.name }}
              </mat-option>
            </mat-autocomplete>
            <span class="help-block text-danger" *ngIf="productsCtrl.touched && productForm.get('product').hasError('required')">Debe seleccionar un producto</span>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group" [ngClass]="{'has-danger' : productForm.get('quantity').touched && ( productForm.get('quantity').hasError('required')
                                                            || productForm.get('quantity').hasError('number') ),
                                            'has-success' : productForm.get('quantity').touched && !( productForm.get('quantity').hasError('required')
                                                            || productForm.get('quantity').hasError('number') ) }">
            <label class="form-control-label" style="margin-bottom: 0;">Cantidad </label>
            <input formControlName="quantity" type="number" class="form-control">
            <span class="help-block text-danger" *ngIf="productForm.get('quantity').touched && productForm.get('quantity').hasError('required')">
            Debe escribir la cantidad</span>
            <span class="help-block text-danger" *ngIf="productForm.get('quantity').touched && productForm.get('quantity').hasError('number')">
            Tiene que escribir la cantidad válida</span>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group"
             [ngClass]="{'has-danger' : form.get('notes').touched && form.get('notes').hasError('required'),
                          'has-success' : form.get('notes').touched && !form.get('notes').hasError('required') }">
          <label class="form-control-label">Notas</label>
          <textarea formControlName="notes" class="form-control"
                    [ngClass]="{'form-control-danger' :  form.get('notes').touched && form.get('notes').hasError('maxlength'),
                                'form-control-success' :  !form.get('notes').hasError('maxlength') }"></textarea>
          <span class="help-block text-danger" *ngIf="form.get('notes').touched && form.get('notes').hasError('maxlength')">
            La nota no puede exceder los 255 caracteres</span>
        </div>
      </div>

      <div class="col-12">
        <button [disabled]="!productForm.valid"
                (click)="addProduct(productForm.value)"
                type="button" class="btn btn-primary right" title="Agregar Producto"><i class="fa fa-plus"></i></button>
      </div>
      <br/>
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="panel panel-color panel-inverse">
          <div class="panel-heading">
            <h3 class="panel-title">Productos</h3>
          </div>
          <div class="panel-body">
            <div class="text-center">
              <h5 *ngIf="selectedProducts.length == 0">Actualmente no hay productos seleccionados</h5>
              <div *ngIf="selectedProducts.length != 0">
                <table class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let p of selectedProducts; let i = index" class="text-center">
                    <td>{{p.name}}</td>
                    <td>{{p.quantity}}</td>
                    <td><button class="btn btn-danger"  type="button" (click)="deleteProduct(i)"><i class="fa fa-trash-o"></i></button></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button [disabled]="!form.valid" *ngIf='!isEdit' (click)="save(form.value)"
          type="button" class="btn btn-primary" title="Guardar"><i class="fa fa-floppy-o"></i></button>
  <button [disabled]="!form.valid" *ngIf='isEdit' (click)="save(form.value)"
          type="button" class="btn btn-primary" title="Actualizar"><i class="fa fa-pencil"></i></button>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i></button>
</div>
