<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE MANTENCIONES</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">

        <az-filter-form
          (confirmFilters)="searchWithFilter($event)"></az-filter-form>

        <button (click)="createOrEdit()"
                data-toggle="modal"
                data-target="#form-modal"
                class="btn btn-primary"
                matTooltip="Agregar">
          <i class="fa fa-plus"></i>
        </button>

        <button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros Avanzados"><i class="fa fa-filter"></i></button>

        <az-maintenance-advance-filter-form
          (confirmFilters)="searchWithAdvanceFilter($event)"></az-maintenance-advance-filter-form>

        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
          </div>
        </div>

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ getTypeName(row.type) }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="repairer">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Reparador o Mantenedor</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.repairer }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="invoice">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Factura</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button *ngIf="row.invoice" (click)="goToInvoiceDetail(row.invoice.id)"
                   class="btn btn-outline-info btn-xs" matTooltip="Ver detalles"><i class="fa fa-eye"> {{row.invoice.id}}</i></button>
                <span *ngIf="!row.invoice">No</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="provider">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.invoice ? row.invoice.provider.name : 'Sin información' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ (row.invoice ? row.invoice.total_net : '') | money }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button (click)="createOrEdit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar">
                  <i class="fa fa-pencil"></i>
                </button>
                <button *ngIf="row.expense_id" (click)="downloadExpensePDF(row.expense_id)" class="btn btn-outline-info btn-xs" matTooltip="Ver comprobante de gasto">
                  <i class="fa fa-file-pdf-o"></i>
                </button>
                <button *ngIf="row.invoice_id" (click)="downloadInvoicePDF(row.invoice_id)" class="btn btn-outline-success btn-xs" matTooltip="Ver Factura">
                  <i class="fa fa-file-pdf-o"></i>
                </button>
                <!--<button data-toggle="modal" data-target="#form-modal" (click)="tecnhicalRef = row" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>-->
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="maintenance = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
