<div class="modal-header state">
  <h1 mat-dialog-title>Datos Liquidación</h1>
</div>
<div mat-dialog-content>
  <div class="clearfix">
    <ul class="nav nav-tabs top pull-left w-100p">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#ta">Datos</a>
      </li>
    </ul>
  </div>
  <div class="tab-content top">
    <div class="tab-pane active" id="ta">
      <div *ngIf="errorMessages.length > 0" class="fade show">
        <strong class="text-danger" *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</strong>
      </div>
      <form [formGroup]="form">
        <div class="table-loading-shade" *ngIf="isLoading" style="bottom: 0;">
          <mat-spinner></mat-spinner>
        </div>
        <div class="form-group">
          <label class="form-control-label">Mes*</label>
          <select class="form-control" formControlName="selectedMonth">
            <option value="1">ENERO</option>
            <option value="2">FEBRERO</option>
            <option value="3">MARZO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAYO</option>
            <option value="6">JUNIO</option>
            <option value="7">JULIO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SEPTIEMBRE</option>
            <option value="10">OCTUBRE</option>
            <option value="11">NOVIEMBRE</option>
            <option value="12">DICIEMBRE</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-control-label">Año*</label>
          <select class="form-control" formControlName="selectedYear">
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <a [attr.href]="generateLink()" target="_blank" rel="noopener noreferrer" class="btn btn-primary" title="Generar Liquidación">
    <i class="fa fa-download"></i>
  </a>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar">
    <i class="fa fa-window-close"></i>
  </button>
</div>
