<div class="modal-header state">
  <h1 mat-dialog-title>Editar Permisos</h1>
</div>
<div mat-dialog-content>
  <div class="clearfix">
    <ul class="nav nav-tabs top pull-left w-100p">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#ta">Datos</a>
      </li>
    </ul>
  </div>
  <div class="tab-content top">
    <form [formGroup]="form">
      <div class="tab-pane active" id="ta">
        <div *ngIf="errorMessages.length > 0" class="fade show">
          <strong class="text-danger" *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</strong>
        </div>
        <div class="table-loading-shade" *ngIf="isLoading" style="bottom: 0;">
          <mat-spinner></mat-spinner>
        </div>
        <div class="col-12">
          <div class="form-group">
            <mat-selection-list formControlName="permissions">
              <mat-list-item>
                <label class="form-control-label">Permisos</label>
              </mat-list-item>
              <mat-list-option *ngFor="let permission of permissionList; let i = index;" [value]="permission"
                               [selected]="isPermissionSelected(permission)">
                {{permission.name}}
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button [disabled]="!form.valid" (click)="submit()" type="button" class="btn btn-primary" title="Actualizar"><i class="fa fa-floppy-o "></i></button>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i></button>
</div>
