<div class="page-title">
	<h3 class="title">
		Subir cartola
	</h3>
</div>

<i class="fa fa-spinner fa-spin" style="font-size:48px" *ngIf="!banks"></i>

<form (ngSubmit)="onSubmit()" #cartolaForm="ngForm" *ngIf="banks" class="col-xs-12">
	<div class="form-group">
		<label for="bank">Banco</label>
		<select class="form-control" id="bank" [(ngModel)]="bank" name="bank" required>
			<option value="" selected disabled>-- Seleccionar banco --</option>
			<option *ngFor="let bank of banks" [value]="bank.id">{{bank.name}}</option>
		</select>
	</div>
	
  <div class="form-group">
    <label for="alterEgo">Archivo</label>
    <input type="file" #fileInput placeholder="Upload file..." required/>
    <small style="display: block;" [ngClass]="{'text-danger': uploadMessage.type == 'error', 'text-success': uploadMessage.type == 'success', 'text-info': uploadMessage.type == 'uploading' }" *ngIf="uploadMessage.message">
			<strong>
				{{ uploadMessage.message }}
			</strong>
		</small>
  </div>
  
  <button type="submit" class="btn btn-primary" [disabled]="!cartolaForm.form.valid" matTooltip="Subir archivo">
		<i class="fa fa-upload" aria-hidden="true"></i>
  </button>
  
</form>