<div class="row bottom-30" id="invoice">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">FORMULARIO FACTURA</span>
				<div class="widget-controls">
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div class="panel panel-default" style="margin-bottom: 0; padding: 15px 0;">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError" style="bottom: 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults">
							<a routerLink="../" class="btn btn-inverse" matTooltip="Volver"><i class="fa fa-arrow-left"></i></a>
							<br>
							No hay información disponible para mostrar.
						</div>
					</div>
					<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
					</div>
					<form [formGroup]="form" class="panel-body" *ngIf="form" style="padding: 0;">
						<div class="clearfix">
							<div class="pull-left">
								<a routerLink="../" class="btn btn-inverse" matTooltip="Volver"><i class="fa fa-arrow-left"></i></a>
							</div>
							<div class="pull-right">
								<h4>Factura de compra #<br>
									<input formControlName="number" type="number" [min]="1" class="form-control" placeholder="Número">
								</h4>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12">
								<div class="pull-left m-t-30">
									<div class="form-group" [ngClass]="{'has-danger' : providerCtrl.touched && ( form.controls.provider_id.errors?.required || form.controls.provider_id.errors?.number ), 'has-success' : providerCtrl.touched && !( form.controls.provider_id.errors?.required || form.controls.provider_id.errors?.number ) }">
										<label class="form-control-label" style="margin-bottom: 0;">
											<strong>Proveedor</strong>
										</label>
										<input class="form-control" [matAutocomplete]="providersAutoComplete" [formControl]="providerCtrl">
										<mat-autocomplete #providersAutoComplete="matAutocomplete">
											<mat-option *ngFor="let provider of providers" [value]="provider.name" (click)="selectRow(provider, 'provider', 'form')">
												<span>{{ provider.name }}</span>
											</mat-option>
										</mat-autocomplete>
										<span class="help-block text-danger" *ngIf="providerCtrl.touched && form.controls.provider_id.errors?.required">Debe elegir un proveedor</span>
										<span class="help-block text-danger" *ngIf="providerCtrl.touched && form.controls.provider_id.errors?.number">Elige un proveedor válido</span>
									</div>
									<div class="form-group">
										<label class="form-control-label" style="margin-bottom: .5rem;">
											<strong>Centro de costo</strong>
										</label>
										<input class="form-control" [matAutocomplete]="costCenterAutoComplete" [formControl]="costCenterCtrl">
										<mat-autocomplete #costCenterAutoComplete="matAutocomplete">
											<mat-option *ngFor="let costCenter of costCenters" [value]="costCenter.name" (click)="selectRow(costCenter, 'costCenter', 'selectedCostCenters')">
												<span>{{ costCenter.name }}</span>
											</mat-option>
										</mat-autocomplete>
										<div *ngFor="let costCenter of selectedCostCenters">
											* <span class="help-block">{{ costCenter.name }}</span>
											-
											<span class="help-block text-danger h-underline" style="cursor: pointer" (click)="removeCostCenter( costCenter.id, $index )">Eliminar</span>
										</div>
									</div>
									<p style="margin-top: 0.4rem;">
										<strong>Enviada a contabilidad: </strong>
										<select class="form-control" formControlName="accounting">
											<option *ngFor="let boolean of booleans" [value]="boolean.value">{{boolean.name}}</option>
										</select>
										<span class="help-block text-danger" *ngIf="form.get('accounting').touched && form.controls.accounting.errors?.required">Debe elegir una opción</span>
										<span class="help-block text-danger" *ngIf="form.get('accounting').touched && form.controls.accounting.errors?.number">La opción solo puede contener números</span>
										<span class="help-block text-danger" *ngIf="form.get('accounting').touched && form.controls.accounting.errors?.range">Debe seleccionar una opción válido</span>
									</p>
									<p style="margin-top: 0.4rem;">
										<strong>IVA pagado: </strong>
										<select class="form-control" formControlName="tax_payed">
											<option *ngFor="let boolean of booleans" [value]="boolean.value">{{boolean.name}}</option>
										</select>
										<span class="help-block text-danger" *ngIf="form.get('tax_payed').touched && form.controls.tax_payed.errors?.required">Debe elegir una opción</span>
										<span class="help-block text-danger" *ngIf="form.get('tax_payed').touched && form.controls.tax_payed.errors?.number">La opción solo puede contener números</span>
										<span class="help-block text-danger" *ngIf="form.get('tax_payed').touched && form.controls.tax_payed.errors?.range">Debe seleccionar una opción válido</span>
									</p>
                  <p style="margin-top: 0.4rem;" *ngIf="form.get('type').value == 4">
                    <strong>Gasto: </strong>
                    <select #select class="form-control" (change)="initInputGasto(select.value)" formControlName="is_expense">
                      <option value="1">Si</option>
                      <option value="0">No</option>
                    </select>
                  </p>
									<!--<div class="form-group" *ngIf="source.id" [ngClass]="{'has-danger' : seasonCtrl.touched && ( form.controls.season_id.errors?.number ), 'has-success' : seasonCtrl.touched && !( form.controls.season_id.errors?.number ) }">-->
									<!--	<label class="form-control-label" style="margin-bottom: 0;">-->
									<!--		<strong>Temporada</strong>-->
									<!--	</label>-->
									<!--	<input class="form-control" [matAutocomplete]="seasonsAutoComplete" [formControl]="seasonCtrl">-->
									<!--	<mat-autocomplete #seasonsAutoComplete="matAutocomplete">-->
									<!--		<mat-option *ngFor="let season of seasons" [value]="season.year" (click)="selectRow(season, 'season', 'form')">-->
									<!--			<span>{{ season.year }}</span>-->
									<!--		</mat-option>	-->
									<!--	</mat-autocomplete>-->
									<!--	<span class="help-block text-danger" *ngIf="seasonCtrl.touched && form.controls.season_id.errors?.number">Elige una temporada válido</span>                              -->
									<!--</div>-->
								</div>
								<div class="pull-right m-t-30">
									<p style="margin-top: 0.4rem;">
										<strong>Fecha emisión: </strong>
										<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="form.get('due_date').value" formControlName="issue_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
										<span class="help-block text-danger" *ngIf="form.get('issue_date').touched && form.controls.issue_date.errors?.required">La fecha de emisión no puede estar vacía</span>
										<span class="help-block text-danger" *ngIf="form.get('issue_date').touched && form.controls.issue_date.errors?.date">El formato de la fecha de emisión debe ser: 'YYYY-MM-DD'</span>
									</p>
									<p style="margin-top: 0.4rem;">
										<strong>Fecha vencimiento: </strong>
										<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="form.get('issue_date').value" formControlName="due_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
										<span class="help-block text-danger" *ngIf="form.get('due_date').touched && form.controls.due_date.errors?.required">La fecha de vencimiento no puede estar vacía</span>
										<span class="help-block text-danger" *ngIf="form.get('due_date').touched && form.controls.due_date.errors?.date">El formato de la fecha de vencimiento debe ser: 'YYYY-MM-DD'</span>
									</p>
									<p class="m-t-10">
										<strong>Estado: </strong>
										<select class="form-control" formControlName="state">
											<option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
										</select>
										<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.required">Debe elegir un estado</span>
										<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.number">El estado solo puede contener números</span>
										<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.range">Debe seleccionar un estado válido</span>
									</p>
									<p style="margin-top: 0.4rem;">
										<strong>Tipo: </strong>
										<select class="form-control" formControlName="type" (change)="calculateTax(form.get('gross_amount').value ); ">
											<option *ngFor="let type of types" [value]="type.value">{{type.name}}</option>
										</select>
										<span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.required">Debe elegir un tipo de factura</span>
										<span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.number">El tipo de factura solo puede contener números</span>
										<span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.range">Debe seleccionar un tipo de factura válido</span>
									</p>
									<p style="margin-top: 0.4rem;">
										<strong>Emisión: </strong>
										<select class="form-control" formControlName="type_create">
											<option *ngFor="let e of emision" [value]="e.id">{{e.name}}</option>
										</select>
										<span class="help-block text-danger" *ngIf="form.get('type_create').touched && form.controls.type_create.errors?.required">Debe elegir un tipo de emisión</span>
									</p>
                  <div *ngIf="form.get('type').value == 4 && form.get('is_expense').value == 1" style="margin-top: 0.4rem;">
                    <label class="form-control-label" style="margin-bottom: .5rem;">
                      <strong>Elija gasto:</strong>
                    </label>
                    <div class="input-group">
                      <span class="input-group-addon" (click)="setNewExpense()" title="Generar nuevo gasto" style="cursor: pointer">
                        <i class="fa fa-plus"></i>
                      </span>
                      <input class="form-control" formControlName="expense" type="text" #inputGasto (keyup)="gastoInputChanged(inputGasto.value)" [matAutocomplete]="gastoAutoComplete">
                      <mat-spinner *ngIf="expensesLoading" [diameter]="28" style="margin-left: 2px;"></mat-spinner>
                    </div>
                    <mat-autocomplete #gastoAutoComplete [displayWith]="expenseDetail">
                      <mat-option *ngFor="let expense of expenses" [value]="expense">
                        {{ expense.detail }}
                      </mat-option>
                    </mat-autocomplete>
                  </div>
                </div>
							</div>
						</div>
						<div class="m-h-50"></div>
						<div class="row" *ngIf="form.get('type').value != 4">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table m-t-30">
										<thead>
											<tr>
												<th>#</th>
												<th>Producto</th>
												<th>Descripción</th>
												<th>Cantidad</th>
												<th>Costo unitario</th>
												<th>Total</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let product of form.get('products').value; let idx = index">
												<td>{{ idx + 1 }}</td>
												<td>{{ product.product ? product.product.name : "ITEM S/N" }}</td>
												<td>{{ product.notes || "..."}}</td>
												<td>{{ product.quantity | number }}</td>
												<td>{{ product.price | money }}</td>
												<td>{{ product.price * product.quantity | money }}</td>
												<td>
													<button (click)="removeProduct( product, idx )" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
												</td>
											</tr>
											<tr [formGroup]="productForm">
												<td></td>
												<td>
													<input class="form-control" [matAutocomplete]="productsAutoComplete" [formControl]="productCtrl">
													<mat-autocomplete #productsAutoComplete="matAutocomplete">
														<mat-option *ngFor="let product of products" [value]="product.name" (click)="selectRow(product, 'product', 'productForm')">
															<span>{{ product.name }}</span>
														</mat-option>
													</mat-autocomplete>
													<span class="help-block text-danger" *ngIf="productCtrl.touched && productForm.controls.product_id.errors?.required">Debe elegir un producto</span>
													<span class="help-block text-danger" *ngIf="productCtrl.touched && productForm.controls.product_id.errors?.number">Elige un producto válido</span>
												</td>
												<td>
													<textarea formControlName="notes" class="form-control"></textarea>
													<span class="help-block text-danger" *ngIf="productForm.get('notes').touched && productForm.controls.notes.errors?.required">Debe escribir una descripción</span>
													<span class="help-block text-danger" *ngIf="productForm.get('notes').touched && productForm.controls.notes.errors?.maxlength">La descripción no puede exceder los 255 caracteres</span>
												</td>
												<td>
													<input formControlName="quantity" type="number" class="form-control" [min]="1" placeholder="Precio" style="z-index: 0">
													<span class="help-block text-danger" *ngIf="productForm.get('quantity').touched && productForm.controls.quantity.errors?.required">Debe escribir una cantidad</span>
													<span class="help-block text-danger" *ngIf="productForm.get('quantity').touched && productForm.controls.quantity.errors?.number">La cantidad solo puede contener números</span>
													<span class="help-block text-danger" *ngIf="productForm.get('quantity').touched && productForm.controls.quantity.errors?.min">La cantidad no puede ser menor a 1</span>
												</td>
												<td>
													<div class="input-group">
														<div class="input-group-addon">$</div>
														<input formControlName="price" type="number" class="form-control" [min]="1" placeholder="Precio" style="z-index: 0">
													</div>
													<span class="help-block text-danger" *ngIf="productForm.get('price').touched && productForm.controls.price.errors?.required">Debe escribir un precio unitario</span>
													<span class="help-block text-danger" *ngIf="productForm.get('price').touched && productForm.controls.price.errors?.number">El precio unitario solo puede contener números</span>
													<span class="help-block text-danger" *ngIf="productForm.get('price').touched && productForm.controls.price.errors?.min">El precio unitario no puede ser menor a 0</span>
												</td>
												<td>{{ productForm.get('price').value * productForm.get('quantity').value | money }}</td>
												<td>
													<button [disabled]="!productForm.valid" (click)="addProduct(productForm)" type="button" class="btn btn-primary" title="Agregar">
														<i class="fa fa-plus"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row" style="border-radius: 0px;">
							<div class="col-md-3 offset-md-9" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group text-right">
									<label class="form-control-label">Moneda:</label>
                  <br>
									<select class="form-control pull-right" formControlName="currency" (change)="setDollarAmount( form.get('currency').value )" style="width: 50%;" >
										<option *ngFor="let currency of currencies" [value]="currency.value">{{currency.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('currency').touched && form.controls.currency.errors?.required">Debe elegir una moneda</span>
									<br>
								</div>
                <br *ngIf="form.get('currency').value === '1' || form.get('currency').value === 1">
								<p class="text-right" *ngIf="form.get('currency').value === '1' || form.get('currency').value === 1"><b>Tipo de Cambio:</b>
									<input *ngIf="form.get('currency').value === '1' || form.get('currency').value === 1"
                         formControlName="exchange_rate"
                         type="number" min="0" placeholder="Sub-total" style="width: 50%;text-align: right;">
								</p>
								
                <br>
								<p class="text-right"><b>Sub-total:</b>
									<input *ngIf="form.get('products').value.length === 0 || form.get('type').value === 4"
                         formControlName="gross_amount"
                         (change)="calculateTax( form.get('gross_amount').value )" type="number" min="0" placeholder="Sub-total" style="width: 50%;text-align: right;">
									<span *ngIf="form.get('products').value.length !== 0 && form.get('type').value != 4">
										{{ form.get('gross_amount').value | money }}
									</span>
								</p>
								<p class="text-right">Exento: $ <input formControlName="exempt_amount" type="number" min="0" placeholder="Descuento" style="width: 50%;text-align: right;"></p>
								<p class="text-right">IVA({{ tax[source.type] || "19" }}%): {{ form.get('tax_amount').value | money }}</p>
								<p class="text-right">Impuesto específico: $ <input formControlName="specific_tax_amount" type="number" min="0" placeholder="Impuesto específico" style="width: 50%;text-align: right;"></p>
								<hr>
								<h3 *ngIf="form.get('products').value.length !== 0" class="text-right">{{ getTotal() | money }}</h3>

								<div *ngIf="form.get('currency').value === '1' || form.get('currency').value === 1" class="text-right">
                  <div class="input-group" style="width: 92%;text-align: right; float: right; margin-bottom: 20px;">
                    <div class="input-group-addon"><b> Total USD</b></div>
                    <input [value]="getDollarAmount()" class="form-control" formControlName="dollar_amount" type="number" min="0" placeholder="Total USD" style="z-index: 0; text-align: right;">
                  </div>
								</div>

                <div *ngIf="form.get('products').value.length === 0" class="text-right">
                  <div class="input-group" style="width: 80%;text-align: right; float: right">
                    <div class="input-group-addon"><b> TOTAL $</b></div>
                    <input [value]="getTotal()"
                           class="form-control"
                           type="number" min="0" placeholder="Total" style="z-index: 0; text-align: right;">
                  </div>
                </div>
							</div>
						</div>
						<hr>
						<div class="col-12">
							<div class="form-group">
								<strong class="form-control-label" style="margin-bottom: 0;">Elegir archivo</strong>
								<input class="form-control" #fileInput type="file" (change)="addedFile($event)" name="file" accept="application/pdf"/>
								<span class="help-block text-danger" *ngIf="form.controls.file.errors?.required && !form.controls.file.errors?.type">Debe seleccionar un archivo</span>
								<span class="help-block text-danger" *ngIf="form.controls.file.errors?.type">El archivo debe ser de formato 'pdf'</span>
							</div>
						</div>
						<hr>
						<div class="col-12">
							<div class="form-group">
								<strong class="form-control-label" style="margin-bottom: 0;">Notas</strong>
								<textarea formControlName="notes" class="form-control"></textarea>
								<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">La nota no puede exceder los 255 caracteres</span>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12 hidden-print">
								<div class="pull-right">
									<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-inverse" title="Guardar">
										<i class="fa fa-floppy-o"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
