<form class="row" [formGroup]="form" (ngSubmit)="runFiltering()" novalidate>
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Mes</label>
      <select class="form-control" formControlName="month">
        <option [value]="0">Enero</option>
        <option [value]="1">Febrero</option>
        <option [value]="2">Marzo</option>
        <option [value]="3">Abril</option>
        <option [value]="4">Mayo</option>
        <option [value]="5">Junio</option>
        <option [value]="6">Julio</option>
        <option [value]="7">Agosto</option>
        <option [value]="8">Septiembre</option>
        <option [value]="9">Octubre</option>
        <option [value]="10">Noviembre</option>
        <option [value]="11">Diciembre</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Año</label>
      <select class="form-control" formControlName="year">
        <option *ngFor="let year of lastYears" value="{{year}}">{{year}}</option>
      </select>
    </div>
  </div>

  <div class="col col-sm-12">
    <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
