<div class="col">
  <div widget class="card">
    <div class="card-header">
      <span class="text-uppercase">{{title}}</span>
      <div class="widget-controls">
        <a *ngIf="isEdit" (click)="refreshData()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
        <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
        <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
        <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
      </div>
    </div>
    <div class="card-block widget-body">
      <div class="table-loading-shade" *ngIf="isLoading" style="bottom: 0;">
        <mat-spinner></mat-spinner>
      </div>
      <form [formGroup]="form">
        <div class="table-loading-shade" *ngIf="isLoading || errorMessages.length > 0" style="bottom: 0">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <div class="table-rate-limit-reached" *ngIf="errorMessages.length > 0">
            <ng-container *ngFor="let error of errorMessages">
              {{error}}
            </ng-container>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group" [ngClass]="evaluateClassError('name', 'name')">
            <label class="form-control-label">Nombre*</label>
            <input formControlName="name" class="form-control" [ngClass]="evaluateClassError('name', 'name')" type="text">
            <span class="help-block text-danger" *ngIf="form.get('name').touched && form.get('name').errors?.required">El campo es obligatorio.</span>
            <span class="help-block text-danger" *ngIf="errors.name">{{errors.name}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group" [ngClass]="evaluateClassError('label', 'label')">
            <label class="form-control-label">Label*</label>
            <input formControlName="label" class="form-control" [ngClass]="evaluateClassError('label', 'label')" type="text">
            <span class="help-block text-danger" *ngIf="form.get('label').touched && form.get('label').errors?.required">El campo es obligatorio.</span>
            <span class="help-block text-danger" *ngIf="errors.name">{{errors.name}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="form-control-label">Valor* <i class="fa fa-question-circle" matTooltip="Define el objeto para la Configuración"></i></label>
            <div #jsonEditorRef style="height: 400px; width: 100%;">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 hidden-print">
            <div class="pull-right">
              <button type="button" class="btn btn-inverse" (click)="goBack()" matTooltip="Volver"><i class="fa fa-arrow-left"></i></button>
              <button [disabled]="!form.valid" (click)="submit()" type="button" class="btn btn-primary" [title]=" isEdit? 'Actualizar':'Guardar'"><i class="fa fa-floppy-o "></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
