
<ul class="notifications"> 

    <li class="dropdown notification-menu">
        <a href class="dropdown-toggle notification" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell-o"></i>
            <span>5</span>
            <div class="pulsate"></div>
        </a>

        <div class="top-dropdown-menu dropdown-menu">
            <i class="dropdown-arr"></i>
            <div class="header clearfix">
                <span>Notificaciones</span>
                <a href class="transition">Prueba</a>
                <a href class="transition">Borrar Todo</a>
            </div>
            <div class="list" slim-scroll [slimScrollOptions]="{height: 250}"> 
                <a *ngFor="let notification of notifications" href class="transition">
                    <img src="{{ ( notification.image || (notification.name | profilePicture)) }}">                    
                    <div class="list-content">
                        <h3>{{notification.name}} <span class="pull-right"> {{notification.time}}</span></h3>
                        <p>{{notification.text}}</p>
                    </div>
                </a>
            </div> 
            <div class="footer">
                <a href="#" class="transition">Ver todas las Notificaciones</a>
            </div> 
        </div> 
    </li>

</ul>