<nav class="nav az-navbar fixed-top">
    <a class="navbar-brand" routerLink="/pages/dashboard">
        <img src="assets/img/logo/logo.png" alt="">
        <span class="nav-label hidden-sm-down">Antumalal-Agr&iacute;cola</span>


    </a>
    <div id="lines" class="transition" (click)="toggleMenu()"></div>

    <form role="search" class="app-search hidden-sm-down">
        <input type="text" placeholder="Buscar..." class="form-control">
        <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
    </form>

    <ul class="nav right-section">
        <li class="nav-item">
           <!--<farm-notificaciones></farm-notificaciones>-->
        </li>
        <li class="nav-item">
          <div class="dropdown float-right user-menu">
              <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                  <img src="assets/img/logo/logo.png" alt="img" class="img-circle user-img">
                  <span class="hidden-md-down">{{ auth.user.name }}</span>
              </a>

              <ul class="dropdown-menu">
                  <li class="user-info">
                    <i class="fas fa-user"></i>
                      <p>
                        {{ auth.user.name }}
                      </p>
                  </li>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">
                    <i class="fa fa-power-off"></i>Cerrar sesión
                  </a>
              </ul>
          </div>
        </li>
    </ul>

</nav>