<div class="container">
  <form [formGroup]="filtersForm" novalidate>
    <div class="row">
      <!-- desde -->
      <div class="col-4">
        <div class="form-group">
          <label class="form-control-label">Desde</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control"
                         placeHolder="YYYY-MM-DD"
                         type="calendar"
                         formControlName="fechaDesde"
                         [locale]="translate.DateTimePicker.es"
                         dateFormat="YYYY-MM-DD">
          </owl-date-time>
          <span class="help-block text-danger"
                *ngIf="filtersForm.get('fechaDesde').touched && filtersForm.hasError('dateLess')">La fecha desde debe ser menor a la fecha hasta.</span>
          <span class="help-block text-danger"
                *ngIf="filtersForm.hasError('required')">Las fechas son campos requeridos.</span>
        </div>
      </div>
      <!-- hasta -->
      <div class="col-4">
        <div class="form-group">
          <label class="form-control-label">Hasta</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control"
                         placeHolder="YYYY-MM-DD"
                         type="calendar"
                         formControlName="fechaHasta"
                         [locale]="translate.DateTimePicker.es"
                         dateFormat="YYYY-MM-DD">
          </owl-date-time>
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <mat-select [placeholder]="comboLabel" class="form-control" formControlName="products" #product [multiple]="true">
            <mat-option *ngFor="let product of products" [value]="product">{{product.name}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <label class="form-control-label">Palabras clave</label>
          <input class="form-control" type="text" formControlName="searchInput">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" [disabled]="filtersForm.invalid" class="btn btn-primary mr-1" matTooltip="Buscar" (click)="onSubmit.emit(filtersForm)">
          <i class="fa fa-search"></i>
        </button>
        <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </form>
</div>
