<form class="row" [formGroup]="form" (ngSubmit)="runFiltering()" novalidate>

  <div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Desde</label>
      <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="form.get('from').value" formControlName="from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Hasta</label>
      <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="form.get('to').value" formControlName="to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Centro de costo</label>
      <input class="form-control" [matAutocomplete]="costCenterAC" [formControl]="costCenterCtrl">
      <mat-autocomplete #costCenterAC="matAutocomplete">
        <mat-option *ngFor="let costcenter of costcenters" [value]="costcenter.name" (click)="selectRow(costcenter, 'costcenter', 'form')">
          <span>{{ costcenter.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <div class="col-12 col-sm-3">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Factura Presente</label>
      <select class="form-control" formControlName="has_invoice">
        <option [value]="-1">Factura Presente</option>
        <option [value]="1">Si</option>
        <option [value]="0">No</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-sm-3">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Pagado</label>
      <select class="form-control" formControlName="state">
        <option [value]="1">Si</option>
        <option [value]="0">No</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-sm-12">
    <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
      <i class="fa fa-search"></i>
    </button>
    <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
      <i class="fa fa-refresh"></i>
    </button>
    <button type="button" (click)="buildReport()" class="btn btn-success" matTooltip="Reporte Gastos">
      <i class="fa fa-file-excel-o"></i>
    </button>
  </div>
</form>
