<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-primary text-center info-box">
      <div class="card-block">
        <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
          <div>
            <div class="row">
              <div class="col-3">
								<span class="info-box-icon">
									<i class="fa fa-map info-box-icon" aria-hidden="true"></i>
								</span>
              </div>
              <div class="col-9">
                <h6 class="no-margin varietyTitle">{{ha1.name}}</h6>
                <h2>{{ha1.total_ha}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-success text-center info-box">
      <div class="card-block">
        <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
          <div>
            <div class="row">
              <div class="col-3">
								<span class="info-box-icon">
									<i class="fa fa-map info-box-icon" aria-hidden="true"></i>
								</span>
              </div>
              <div class="col-9">
                <h6 class="no-margin varietyTitle">{{ha2.name}}</h6>
                <h2>{{ha2.total_ha}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-warning text-center info-box">
      <div class="card-block">
        <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
          <div>
            <div class="row">
              <div class="col-3">
								<span class="info-box-icon">
									<i class="fa fa-map info-box-icon" aria-hidden="true"></i>
								</span>
              </div>
              <div class="col-9">
                <h6 class="no-margin varietyTitle">{{ha3.name}}</h6>
                <h2>{{ha3.total_ha}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 bottom-30">
    <div class="card card-warning text-center info-box">
      <div class="card-block">
        <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
          <div>
            <div class="row">
              <div class="col-3">
								<span class="info-box-icon">
									<i class="fa fa-map info-box-icon" aria-hidden="true"></i>
								</span>
              </div>
              <div class="col-9">
                <h6 class="no-margin varietyTitle">{{ha4.name}}</h6>
                <h2>{{ha4.total_ha}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE SECTORES</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">

        <div>
          <button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>

          <div class="w-200 pull-right bottom-15">
            <div class="input-group input-group-sm">
              <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
              <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
            </div>
          </div>
        </div>
        

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>
          <div class="table-scroll-container">
          <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="variety_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Variedad</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.variety ? row.variety.name : "..." }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="size">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Tamaño</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.size }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="distance">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Distancia</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.distance }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="precipitation">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Precipitación</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.precipitation }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="plantation_year">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Año de Plantación</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.plantation_year }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="m3_hour">
              <mat-header-cell *matHeaderCellDef mat-sort-header>m3/h</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.m3_hour }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="lt_second">
              <mat-header-cell *matHeaderCellDef mat-sort-header>lt/s</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.lt_second }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>
          </div>
          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} sector</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
        </div>
        <form [formGroup]="form">
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('name').touched && ( form.controls.name.errors?.required || form.controls.name.errors?.maxlength ), 'has-success' : form.get('name').touched && !( form.controls.name.errors?.required || form.controls.name.errors?.maxlength ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Nombre *</label>
              <input formControlName="name" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.required">Debe escribir el nombre</span>
              <span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.maxlength">El nombre no puede exceder los 255 caracteres</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : varietyCtrl.touched && ( form.controls.variety_id.errors?.required || form.controls.variety_id.errors?.number ), 'has-success' : varietyCtrl.touched && !( form.controls.variety_id.errors?.required || form.controls.variety_id.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Variedad *</label>
              <input class="form-control" [matAutocomplete]="varietiesAutoComplete" [formControl]="varietyCtrl">
              <mat-autocomplete #varietiesAutoComplete="matAutocomplete">
                <mat-option *ngFor="let variety of varieties" [value]="variety.name" (click)="selectRow(variety, 'variety', 'form')">
                  <span>{{ variety.name }}</span>
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="varietyCtrl.touched && form.controls.variety_id.errors?.required">Debe elegir una variedad</span>
              <span class="help-block text-danger" *ngIf="varietyCtrl.touched && form.controls.variety_id.errors?.number">Elige una variedad válida</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('size').touched && ( form.controls.size.errors?.required || form.controls.size.errors?.number ), 'has-success' : form.get('size').touched && !( form.controls.size.errors?.required || form.controls.size.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Tamaño *</label>
              <input formControlName="size" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('size').touched && form.controls.size.errors?.required">Debe escribir el tamaño</span>
              <span class="help-block text-danger" *ngIf="form.get('size').touched && form.controls.size.errors?.number">El tamaño solo puede contener números</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('distance').touched && ( form.controls.distance.errors?.required || form.controls.distance.errors?.maxlength ), 'has-success' : form.get('distance').touched && !( form.controls.distance.errors?.required || form.controls.distance.errors?.maxlength ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Distancia *</label>
              <input formControlName="distance" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('distance').touched && form.controls.distance.errors?.required">Debe escribir la distancia</span>
              <span class="help-block text-danger" *ngIf="form.get('distance').touched && form.controls.distance.errors?.maxlength">La distancia no puede exceder los 7 dígitos</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('precipitation').touched && ( form.controls.precipitation.errors?.required || form.controls.precipitation.errors?.number ), 'has-success' : form.get('precipitation').touched && !( form.controls.precipitation.errors?.required || form.controls.precipitation.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Precipitación *</label>
              <input formControlName="precipitation" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('precipitation').touched && form.controls.precipitation.errors?.required">Debe escribir la precipitación</span>
              <span class="help-block text-danger" *ngIf="form.get('precipitation').touched && form.controls.precipitation.errors?.number">La precipitación solo puede contener números</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('plantation_year').touched && ( form.controls.plantation_year.errors?.required || form.controls.plantation_year.errors?.number || form.controls.plantation_year.errors?.min ), 'has-success' : form.get('plantation_year').touched && !( form.controls.plantation_year.errors?.required || form.controls.plantation_year.errors?.number || form.controls.plantation_year.errors?.min ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Año de Plantación *</label>
              <select class="form-control" formControlName="plantation_year">
                <option *ngFor="let year of lastYears" [ngValue]="year">{{year}}</option>
              </select>
              <span class="help-block text-danger" *ngIf="form.get('plantation_year').touched && form.controls.plantation_year.errors?.required">Debe escribir el año de Plantación</span>
              <span class="help-block text-danger" *ngIf="form.get('plantation_year').touched && form.controls.plantation_year.errors?.number">El año de Plantación solo puede contener números</span>
              <span class="help-block text-danger" *ngIf="form.get('plantation_year').touched && form.controls.plantation_year.errors?.min">El año de Plantación no puede ser menor a 1950</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('m3_hour').touched && ( form.controls.m3_hour.errors?.required || form.controls.m3_hour.errors?.number || form.controls.m3_hour.errors?.range ), 'has-success' : form.get('m3_hour').touched && !( form.controls.m3_hour.errors?.required || form.controls.m3_hour.errors?.number || form.controls.m3_hour.errors?.range ) }">
              <label class="form-control-label" style="margin-bottom: 0;">m3/h</label>
              <input formControlName="m3_hour" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('m3_hour').touched && form.controls.m3_hour.errors?.required">Debe escribir el m3/hour</span>
              <span class="help-block text-danger" *ngIf="form.get('m3_hour').touched && form.controls.m3_hour.errors?.number">El m3/hour solo puede contener números</span>
              <span class="help-block text-danger" *ngIf="form.get('m3_hour').touched && form.controls.m3_hour.errors?.range">El m3/hour del item debe estar entre 0 y 99999.99</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('lt_second').touched && ( form.controls.lt_second.errors?.required || form.controls.lt_second.errors?.number || form.controls.lt_second.errors?.range ), 'has-success' : form.get('lt_second').touched && !( form.controls.lt_second.errors?.required || form.controls.lt_second.errors?.number || form.controls.lt_second.errors?.range ) }">
              <label class="form-control-label" style="margin-bottom: 0;">lt/s</label>
              <input formControlName="lt_second" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('lt_second').touched && form.controls.lt_second.errors?.required">Debe escribir el lt/s</span>
              <span class="help-block text-danger" *ngIf="form.get('lt_second').touched && form.controls.lt_second.errors?.number">El lt/s solo puede contener números</span>
              <span class="help-block text-danger" *ngIf="form.get('lt_second').touched && form.controls.lt_second.errors?.range">El lt/s del item debe estar entre 0 y 99999.99</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('mask').touched && ( form.get('mask').hasError('required') ||
                                                              form.get('mask').hasError('number') || form.get('mask').hasError('range') ),
                                                'has-success' : form.get('mask').touched && !( form.get('mask').hasError('required') ||
                                                                form.get('mask').hasError('number') || form.get('mask').hasError('range') ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Máscara</label>
              <input formControlName="mask" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('mask').touched && form.get('mask').hasError('required')">Debe escribir una máscara válida</span>
              <span class="help-block text-danger" *ngIf="form.get('mask').touched && form.get('mask').hasError('number')">La máscara debe ser un número</span>
              <span class="help-block text-danger" *ngIf="form.get('mask').touched && form.get('mask').hasError('range')">La máscara del sector debe estar entre 0 y 99999.99</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : deviceCtrl.touched && ( form.get('irrigation_device_id').hasError('required') ||
                                                                form.get('irrigation_device_id').hasError('number') ),
                                                'has-success' : deviceCtrl.touched && !( form.get('irrigation_device_id').hasError('required') ||
                                                                form.get('irrigation_device_id').hasError('number') ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Equipo de riego *</label>
              <input class="form-control" [matAutocomplete]="devicesAutoComplete" [formControl]="deviceCtrl">
              <mat-autocomplete #devicesAutoComplete="matAutocomplete">
                <mat-option *ngFor="let device of devices" [value]="device.name" (click)="selectDevice(device)">
                  <span>{{ device.name }}</span>
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="deviceCtrl.touched && form.get('irrigation_device_id').hasError('required')">Debe elegir un equipo</span>
              <span class="help-block text-danger" *ngIf="deviceCtrl.touched && form.get('irrigation_device_id').hasError('number')">Elige un equipo válido</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label class="form-control-label" style="margin-bottom: 0;">Sector Asociado</label>
              <input class="form-control" [matAutocomplete]="filterSector" [formControl]="filterSectorCtrl">
              <mat-autocomplete #filterSector="matAutocomplete">
                <mat-option *ngFor="let sector of filterSectors" [value]="sector.name" (click)="selectRow(sector, 'sector', 'sectors')">
                  <span>{{ sector.name }}</span>
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>

          <div class="col-12">
            <label class="form-control-label" style="margin-bottom: 0;">Habilitado</label>
            <select class="form-control" formControlName="enabled">
              <option *ngFor="let enable of enables" [ngValue]="enable.value">{{enable.name}}</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
          <i class="fa fa-save"></i>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
