@import "../../../theme/styles/_variables";

.info-box{    
    color: $default-color;
    .card-block{
        padding: 1rem;
    }
    .info-box-icon{
        display: flex;
        font-size: 70px;
        opacity: 0.9;
    }
    h2, h6, span, p{
        font-weight: $font-light;
        letter-spacing: 0.03em;
    }
    h6{
        white-space: nowrap;
        font-size: 14px;
    }
    p{
        font-size: 14px;
        line-height: 1;
    }
}

.varietyTitle{
    text-transform: uppercase;
}

.live-tile{
    margin: 0;
    width: 100%;
    color: inherit;    
}

