<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE FACTURAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div style="padding: 0 0 1rem; width: 100%;">
					<form class="row" [formGroup]="filtersForm1" (ngSubmit)="buildFilters(filtersForm1.value, 'filtersForm1')" novalidate>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Mes</label>
								<select class="form-control" formControlName="month">
									<option [value]="0">Enero</option>
									<option [value]="1">Febrero</option>
									<option [value]="2">Marzo</option>
									<option [value]="3">Abril</option>
									<option [value]="4">Mayo</option>
									<option [value]="5">Junio</option>
									<option [value]="6">Julio</option>
									<option [value]="7">Agosto</option>
									<option [value]="8">Septiembre</option>
									<option [value]="9">Octubre</option>
									<option [value]="10">Noviembre</option>
									<option [value]="11">Diciembre</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Año</label>
								<select class="form-control" formControlName="year">
									<option *ngFor="let year of lastYears" value="{{year}}">{{year}}</option>
								</select>
							</div>
						</div>

						<div class="col col-sm-12">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
				</div>

				<a routerLink="crear" class="btn btn-primary" matTooltip="Crear nueva"><i class="fa fa-plus"></i></a>
				<button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>
        &nbsp;
				<div class="container" id="filters" style="display: none; padding: 1rem;">
					<form class="row" [formGroup]="filtersForm2" (ngSubmit)="buildFilters(filtersForm2.value, 'filtersForm2')" novalidate>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Número</label>
								<input class="form-control" formControlName="number" type="number">
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Proveedor</label>
								<input #inputProveedor (ngModelChange)="inputProveedorChanged($event)" class="form-control" [matAutocomplete]="filterProviderAC" [formControl]="providerCtrl">
								<mat-autocomplete #filterProviderAC="matAutocomplete" [displayWith]="displayFn">
									<mat-option *ngFor="let provider of providers" [value]="provider" (click)="selectRow(provider, 'provider', 'filtersForm2')">
										<span>{{ provider.name }}</span>
									</mat-option>
								</mat-autocomplete>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Centro de costo</label>
								<input class="form-control" [matAutocomplete]="filterCostCenterAC" [formControl]="costCenterCtrl">
								<mat-autocomplete #filterCostCenterAC="matAutocomplete">
									<mat-option *ngFor="let costCenter of costCenters" [value]="costCenter.name" (click)="selectRow(costCenter, 'costCenter', 'selectedCostCenters')">
										<span>{{ costCenter.name }}</span>
									</mat-option>
								</mat-autocomplete>
								<div *ngFor="let costCenter of selectedCostCenters">
									* <span class="help-block">{{ costCenter.name }}</span>
									-
									<span class="help-block text-danger h-underline" style="cursor: pointer" (click)="removeCostCenter( costCenter.id, $index )">Eliminar</span>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Tipo</label>
								<select class="form-control" formControlName="type">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let type of types" value="{{type.value}}">{{type.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Temporada</label>
								<input class="form-control" [matAutocomplete]="filterSeasonAC" [formControl]="seasonCtrl">
								<mat-autocomplete #filterSeasonAC="matAutocomplete">
									<mat-option *ngFor="let season of seasons" [value]="season.year" (click)="selectRow(season, 'season', 'filtersForm2')">
										<span>{{ season.year }}</span>
									</mat-option>
								</mat-autocomplete>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Emitida desde</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm2.get('issue_date_to').value" formControlName="issue_date_from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Emitida hasta</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm2.get('issue_date_from').value" formControlName="issue_date_to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Vencimiento desde</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm2.get('due_date_to').value" formControlName="due_date_from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Vencimiento hasta</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm2.get('due_date_from').value" formControlName="due_date_to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Es gastos</label>
								<select class="form-control" formControlName="is_expense">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let boolean of booleans" value="{{boolean.value}}">{{boolean.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Es Autocreado</label>
								<select class="form-control" formControlName="is_created_automatic">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let boolean of booleans" value="{{boolean.value}}">{{boolean.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Moneda</label>
								<select class="form-control" formControlName="currency">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let currency of currencies" value="{{currency.value}}">{{currency.name}}</option>
								</select>
							</div>
						</div>

            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Archivo cargado</label>
                <select class="form-control" formControlName="is_file_uploaded">
                  <option value="" selected>-- Seleccionar --</option>
                  <option *ngFor="let boolean of booleans" value="{{boolean.value}}">{{boolean.name}}</option>
                </select>
              </div>
            </div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Iva pagado</label>
								<select class="form-control" formControlName="tax_payed">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let boolean of booleans" value="{{boolean.value}}">{{boolean.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Estado</label>
								<select class="form-control" formControlName="state">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let state of states" value="{{state.value}}">{{state.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Contabilizada</label>
								<select class="form-control" formControlName="accounting">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let boolean of booleans" value="{{boolean.value}}">{{boolean.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-12">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
							<button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
								<i class="fa fa-refresh"></i>
							</button>
              <a class="btn btn-primary"  target="_blank" rel="noopener noreferrer"  [attr.href]="generarReporte()">
                Generar Reporte
              </a>
						</div>
					</form>
				</div>

        <div class="row bottom-15 top-15">
          <div class="col-6">
            <form [formGroup]="stateForm"
                  *ngIf="selection.selected.length > 0"
                  style="display: inline">
              <mat-form-field>
                <mat-select formControlName="state" placeholder="Estado">
                  <mat-option>
                    {{' '}}
                  </mat-option>
                  <mat-option *ngFor="let state of states" [value]="state.value">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <mat-select formControlName="accounting" placeholder="Contabilidad">
                  <mat-option>
                    {{' '}}
                  </mat-option>
                  <mat-option *ngFor="let a of accounting" [value]="a.value">
                    {{ a.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <mat-select formControlName="tax_payed" placeholder="IVA pagado">
                  <mat-option>
                    {{' '}}
                  </mat-option>
                  <mat-option *ngFor="let iva of booleans" [value]="iva.value">
                    {{ iva.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <button *ngIf="selection.selected.length > 0"
                      [disabled]="!stateForm.valid"
                      (click)="updateState()"
                      class="btn btn-success" matTooltip="Guardar"><i class="fa fa-floppy-o"></i></button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6 bottom-15">
            <button type="button" (click)="generateExportLink('pdf')" class="btn btn-danger" matTooltip="Generar pdf">
              <i class="fa fa-file-pdf-o"></i>
            </button>
            <button type="button" (click)="generateExportLink('excel')" class="btn btn-success" matTooltip="Generar excel">
              <i class="fa fa-file-excel-o"></i>
            </button>
            <button type="button" (click)="generateExportLink('csv')" class="btn btn-primary" matTooltip="Generar csv">
              <i class="fa fa-file-text-o"></i>
            </button>
          </div>
          <div class="col-12 col-sm-6 bottom-15">
            <div class="w-200 pull-right top-15">
              <div class="input-group input-group-sm">
                <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
                <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
              </div>
            </div>
          </div>
        </div>
				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="issue_date" matSortDirection="desc">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

						<ng-container matColumnDef="provider_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.provider ? row.provider.name : "..." }}</mat-cell>
						</ng-container>

            <ng-container matColumnDef="rut">
              <mat-header-cell *matHeaderCellDef mat-sort-header>RUT</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.provider ? row.provider.tax_id : "..." }}</mat-cell>
            </ng-container>

						<ng-container matColumnDef="number">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Numero</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="issue_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.issue_date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="gross_amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Valor total</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.total_net | money }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="costcenters">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Centro de Costos</mat-header-cell>
							<mat-cell *matCellDef="let row">
                {{ row.costcenters && row.costcenters.length > 0 ? row.costcenters[0].name : '' }}
                <i *ngIf="!row.costcenters || row.costcenters.length == 0" title="No tiene centro de costos" class="fa fa-exclamation-triangle" style="cursor:pointer"></i>
              </mat-cell>
						</ng-container>

            <ng-container matColumnDef="type">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
							<mat-cell *matCellDef="let row">
                {{  getType(row.type) }}
              </mat-cell>
						</ng-container>

						<ng-container matColumnDef="state" style="min-width: 150px;">
							<mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 150px;">Estado</mat-header-cell>
							<mat-cell *matCellDef="let row" style="min-width: 150px;">
<!--								<span class="label" [ngClass]="{'label-danger': row.state == 0, 'label-success': row.state == 1, 'label-warning': row.state >= 2 }" style="font-size: .7rem;">
									{{ states[row.state] ? states[row.state].name : row.state }}
								</span>-->
                <span *ngIf="row.state !== ''" class="badge" [ngClass]="{'badge-danger': row.state == 0, 'badge-success': row.state == 1, 'badge-warning': row.state >= 2 }" style="font-size: .7rem;">
									{{ states[row.state] ? states[row.state].name : row.state }}
								</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<a routerLink="{{ row.id }}" class="btn btn-outline-info btn-xs" matTooltip="Ver detalles"><i class="fa fa-eye"></i></a>
								<button routerLink="{{ row.id }}/editar" class="btn btn-outline-info btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
								<ng-container *ngIf="row.is_file_uploaded">
                  <button (click)="download(row.id)" class="btn btn-outline-info btn-xs" matTooltip="Descargar"><i class="fa fa-file-pdf-o"></i></button>
                </ng-container>
                <ng-container *ngIf="!row.is_file_uploaded">
                  <button class="btn btn-outline-info btn-xs" matTooltip="No se ha subido el archivo."><i class="fa fa-file-pdf-o text-danger"></i></button>
								</ng-container>
								<ng-container *ngIf="row.products.length && getType(row.type) === 'FACTURA COMPRA'">
									<button (click)="viewProducts(row)" data-toggle="modal" data-target="#view-products" class="btn btn-outline-info btn-xs" matTooltip="Ver Productos"><i class="fa fa-product-hunt"></i></button>
								</ng-container>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;" [ngClass]="getRowClass(row)"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>

        <div class="col-5 invoice-legend">
          <div class="legend-title ng-star-inserted">
            <span class="legend-title-text">Leyenda</span>
          </div>
          <div class="legend-wrap">
            <ul class="legend-labels" style="margin-left: 0 !important; padding-left: 0 !important;">
              <li class="legend-label">
              <span>
                <span class="legend-label-color not-balance"></span> <label class="legend-label-text">No Cuadrada</label>
              </span>
              </li>
              <li class="legend-label">
              <span>
                <span class="legend-label-color autocreated"></span> <label class="legend-label-text">Autocreada</label>
              </span>
              </li>
              <li class="legend-label">
              <span>
                <span class="legend-label-color expense"></span> <label class="legend-label-text">Gasto</label>
              </span>
              </li>
            </ul>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA MOSTRAR INFORMACIÓN DE PRODUCTOS !-->
<div class="modal fade" id="view-products" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">Productos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>

      <div class="modal-body">
        <div class="table-container">
          <div class="table-loading-shade" *ngIf="invoicesProducts.data.length == 0">
            <div class="table-rate-limit-reached">
              No hay información disponible para mostrar.
            </div>
          </div>
					<div class="table-scroll-container">
          <mat-table #tableViewProducts [dataSource]="invoicesProducts" class="table-table" matSort matSortActive="name" matSortDirection="desc">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Productos</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.quantity }}</mat-cell>
            </ng-container>

						<ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.price || money }}</mat-cell>
						</ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.total || currency }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsViewProducts" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columnsViewProducts;" style="padding: 0;"></mat-row>
					</mat-table>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
