<div class="wrapper-page">
	<div class="panel panel-color panel-inverse">
		<div class="panel-heading"> 
				<img width="60px" height="60px;" src="assets/img/logo/logo.png" >
		   <h3 class="text-center m-t-10"><strong>Antumalal </strong> Agr&iacute;cola</h3>
		</div> 
		
		<div class="panel-body">
			<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal m-t-10 p-20 p-b-0">
				<span class="help-block text-center text-danger" style="margin: 0;" *ngIf="error || form.get('repeat').touched && form.hasError('mismatch')">
				  <strong>
						{{ message || "Las contraseñas no coinciden" }}
				  </strong>
				</span>
				
				<div class="form-group ">
					<div class="col-xs-12">
						<input class="form-control checking-field" [formControl]="password" id="password" placeholder="Contraseña" type="password" azCapsWarning>
						<span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">La contraseña no puede estar vacío</span>                              
						<span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Mínimo 8 caracteres</span>
					</div>
				</div>
				
				<div class="form-group ">
					<div class="col-xs-12">
						<input class="form-control checking-field" [formControl]="repeat" id="repeat" placeholder="Confirmar contraseña" type="password" azCapsWarning>
						<span class="help-block text-danger" *ngIf="form.get('repeat').touched && form.get('repeat').hasError('required')">La contraseña no puede estar vacío</span>                              
						<span class="help-block text-danger" *ngIf="form.get('repeat').touched && form.get('repeat').hasError('minlength')">Mínimo 8 caracteres</span>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-6 text-left" style="padding: 0;">
						<a routerLink="/iniciar-sesion" class="btn btn-warning" matTooltip="Iniciar sesión" matTooltipPosition="below">
							<i class="fa fa-sign-in" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-6 text-right" style="padding: 0;">
						<button [disabled]="!form.valid" class="btn" [ngClass]="{ 'btn-primary': form.valid }" type="submit" matTooltip="Guardar contraseña" matTooltipPosition="below">
							<i class="fa fa-save" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		
	</div>
</div>