<div class="row bottom-30" id="invoice">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">DETALLES DE FACTURA</span>
				<div class="widget-controls">
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div class="panel panel-default" style="margin-bottom: 0; padding: 15px 0;">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || !source.id" style="bottom: 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && !source.id">
							<a routerLink="../" [queryParams]="{filters: true}" class="btn btn-inverse" matTooltip="Volver"><i class="fa fa-arrow-left"></i></a>
							<br>
							No hay información disponible para mostrar.
						</div>
					</div>
					<div class="panel-body" *ngIf="source.id" style="padding: 0;">
						<div class="clearfix">
							<div class="pull-left">
								<a routerLink="../" [queryParams]="{filters: true}" class="btn btn-inverse" matTooltip="Volver"><i class="fa fa-arrow-left"></i></a>
								<a routerLink="editar" class="btn btn-warning" matTooltip="Editar"><i class="fa fa-pencil"></i></a>
							</div>
							<div class="pull-right">
								<h4>Factura de compra #<br>
									<strong>{{ source.number }}</strong>
								</h4>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12">
								<div class="pull-left m-t-30">
									<address>
										<strong>{{ source.provider.name }}</strong>
										<br>
										{{ source.provider.address }}
										<br>
										<abbr title="Phone">P:</abbr> {{ source.provider.phone }}
									</address>
									<div>
										<strong>Centro de costos:</strong>
										<div *ngFor="let costCenter of source.costcenters">
												* <span class="help-block">{{ costCenter.name }}</span>
										</div>
									</div>
									<div>
										<strong>Enviada a contabilidad:</strong> <span>{{ booleans[source.accounting] ? booleans[source.accounting].name : source.accounting }}</span>
									</div>
									<div>
										<strong>IVA pagado:</strong> <span>{{ booleans[source.tax_payed] ? booleans[source.tax_payed].name : source.tax_payed }}</span>
									</div>
									<div *ngIf="source.season">
										<strong>Temporada:</strong> <span>{{ source.season }}</span>
									</div>
								</div>
								<div class="pull-right m-t-30">
									<p style="margin-top: 0.4rem;"><strong>Fecha emisión: </strong> {{ source.issue_date }}</p>
									<p style="margin-top: 0.4rem;"><strong>Fecha vencimiento: </strong> {{ source.due_date }}</p>
									<p class="m-t-10">
										<strong>Estado: </strong>
										<span class="label" style="color: black;" [ngClass]="{'label-danger': source.state == 0, 'label-success': source.state == 1, 'label-warning': source.state >= 2 }">{{ states[source.state] ? states[source.state].name: source.state }}</span>
									</p>
									<p style="margin-top: 0.4rem;"><strong>Tipo: </strong> {{ types[source.type] ? types[source.type].name: source.type }}</p>
									<p style="margin-top: 0.4rem;"><strong>Emisión: </strong> {{ emision[source.type_create] ? emision[source.type_create].name: source.type_create }}</p>
								</div>
							</div>
						</div>
						<div class="m-h-50"></div>
						<div class="row" *ngIf="source.type != 4">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table m-t-30">
										<thead>
											<tr>
												<th>#</th>
												<th>Producto</th>
												<th>Descripción</th>
												<th>Cantidad</th>
												<th>Costo unitario</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let product of source.products; let idx = index;">
												<td>{{ idx + 1 }}</td>
												<td>{{ product.name || "ITEM S/N" }}</td>
												<td>{{ product.notes || "..." }}</td>
												<td>{{ product.pivot.quantity | number }}</td>
												<td>{{ product.pivot.price | money }}</td>
												<td>{{ product.pivot.price * product.pivot.quantity | money }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row" style="border-radius: 0px;">
							<div class="col-md-3 offset-md-9" style="padding-right: 15px; padding-left: 15px;">
								<p class="text-right"><b>Moneda:</b> {{ currencies[source.currency] ? currencies[source.currency].name : source.currency }}</p>
								<p class="text-right" *ngIf="source.currency === 1"><b>Tipo de Cambio:</b> {{ source.exchange_rate }}</p>
								<p class="text-right"><b>Sub-total:</b> {{ source.gross_amount }}</p>
								<p class="text-right">Exento: {{ source.exempt_amount | money }}</p>
								<p class="text-right">IVA({{ tax[source.type] || "19" }}%): {{ source.tax_amount | money }}</p>
								<p class="text-right" *ngIf="source.specific_tax_amount && source.specific_tax_amount != '0'">Impuesto específico: {{ source.specific_tax_amount | money }}</p>
								<hr>

								<h3 class="text-right" *ngIf="source.currency === 1">{{ getTotalDollarAmount() }} USD</h3>
								<h3 class="text-right">{{ getTotal() | money }}</h3>
							</div>
						</div>
						<hr>
						<div class="col-12">
							<strong>Notas:</strong>
							<p>{{ source.notes }}</p>
						</div>
						<hr>
						<div class="row">
							<div class="col-12 hidden-print">
								<div class="pull-right">
									<a (click)="download(id)" class="btn btn-inverse" matTooltip="Descargar factura"><i class="fa fa-print"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
