<div class="container" id="filters" style="display: none; padding: 1rem;">
  <form class="row" [formGroup]="filtersForm" novalidate>

    <div class="col-6 col-md-6">
      <div class="form-group">
        <label class="form-control-label">Desde</label>
        <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                       type="calendar" [max]="filtersForm.get('end').value" formControlName="start"
                       [locale]="translate.DateTimePicker.es"
                       dateFormat="YYYY-MM-DD">
        </owl-date-time>
      </div>
    </div>

    <div class="col-6 col-md-6">
      <div class="form-group">
        <label class="form-control-label">Hasta</label>
        <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                       type="calendar" [min]="filtersForm.get('start').value" formControlName="end"
                       [locale]="translate.DateTimePicker.es"
                       dateFormat="YYYY-MM-DD">
        </owl-date-time>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Agrónomo</label>
        <select class="form-control" formControlName="agronomist">
          <option *ngFor="let a of agronomists" [value]="a.id">{{a.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Variedad</label>
        <select class="form-control" formControlName="variety_id">
          <option *ngFor="let v of varieties" [value]="v.name">{{v.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Temporada</label>
        <select class="form-control" formControlName="season">
          <option *ngFor="let s of seasons" [value]="s">{{s}}</option>
        </select>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar" (click)="search(filtersForm.value)">
        <i class="fa fa-search"></i>
      </button>
      <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </form>
</div>
