<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE CALICATAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div style="padding: 0 0 1rem; width: 100%;">
					<form class="row" [formGroup]="filtersForm1" (ngSubmit)="buildFilters(filtersForm1.value, 'filtersForm1')" novalidate>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Mes</label>
								<select class="form-control" formControlName="month">
									<option [value]="0">Enero</option>
									<option [value]="1">Febrero</option>
									<option [value]="2">Marzo</option>
									<option [value]="3">Abril</option>
									<option [value]="4">Mayo</option>
									<option [value]="5">Junio</option>
									<option [value]="6">Julio</option>
									<option [value]="7">Agosto</option>
									<option [value]="8">Septiembre</option>
									<option [value]="9">Octubre</option>
									<option [value]="10">Noviembre</option>
									<option [value]="11">Diciembre</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Año</label>
								<select class="form-control" formControlName="year">
									<option *ngFor="let year of lastYears" value="{{year}}">{{year}}</option>
								</select>
							</div>
						</div>

						<div class="col col-sm-12">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
						</div>

					</form>
				</div>

				<div style="margin-bottom: .5rem;">
					<div style="margin-bottom: .5rem;padding: 0px;">
						<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar">
							<i class="fa fa-plus"></i>
						</button>
						<button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros">
							<i class="fa fa-filter"></i>
						</button>
					</div>

					<div style="margin-bottom: .5rem;padding: 0px;">
						<button type="button" (click)="generateExportLink('pdf')" class="btn btn-danger" matTooltip="Generar pdf">
							<i class="fa fa-file-pdf-o"></i>
						</button>
						<button type="button" (click)="generateExportLink('excel')" class="btn btn-success" matTooltip="Generar excel">
							<i class="fa fa-file-excel-o"></i>
						</button>
						<button type="button" (click)="generateExportLink('csv')" class="btn btn-primary" matTooltip="Generar csv">
							<i class="fa fa-file-o"></i>
						</button>

						<div class="w-200 pull-right bottom-15">
							<div class="input-group input-group-sm">
								<span (click)="search()" class="input-group-addon" matTooltip="Buscar">
									<i class="fa fa-search"></i>
								</span>
								<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
							</div>
						</div>
					</div>


				</div>


				<div class="container" id="filters" style="display: none;padding: 1rem;">
					<form class="row" [formGroup]="filtersForm2" (ngSubmit)="buildFilters(filtersForm2.value, 'filtersForm2')" novalidate>
						<div class="col-12 col-sm-12">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Sector</label>
								<div style="position: relative;">
									<input class="form-control" (change)="changeSectorValue($event)" [matAutocomplete]="filterSectorAC" [formControl]="filterSectorCtrl"/>
									<button type="button" class="close clean-autocomplete-input" data-dismiss="alert" aria-label="Close" (click)="resetAutocomplete('filtersForm2', 'sector_id', 'filterSectorCtrl', 'filterSectors', 'sectors')">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<mat-autocomplete #filterSectorAC="matAutocomplete">
									<mat-option *ngFor="let sector of filterSectors" [value]="sector.name" (click)="selectRow(sector, 'sector', 'filtersForm2')">
										<span>{{ sector.name }}</span>
									</mat-option>
								</mat-autocomplete>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Desde</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm2.get('to').value" formControlName="from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Hasta</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm2.get('from').value" formControlName="to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="" class="form-control-label" style="margin-bottom: .5rem;">H&uacute;medad 30cm</label>
                <select class="form-control" formControlName="humity30">
                  <option *ngFor="let v of humityValues" [value]="v">{{v}}</option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="" class="form-control-label" style="margin-bottom: .5rem;">H&uacute;medad 60cm</label>
                <select class="form-control" formControlName="humity60">
                  <option *ngFor="let v of humityValues" [value]="v">{{v}}</option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="" class="form-control-label" style="margin-bottom: .5rem;">H&uacute;medad 90cm</label>
                <select class="form-control" formControlName="humity90">
                  <option *ngFor="let v of humityValues" [value]="v">{{v}}</option>
                </select>
              </div>
            </div>

						<div class="col">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
							<button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
								<i class="fa fa-refresh"></i>
							</button>
						</div>
					</form>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>
					<div class="table-scroll-container">
					<mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">
						<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="time_since_last_irrigation">
							<mat-header-cell *matHeaderCellDef>Tiempo desde el último riego a calicata</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ timeService.toHumanReadFromMinutes(row.time_since_last_irrigation) || 0 }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="sector_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Sector</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.sector ? row.sector.name : "..." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="type_soil">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Suelo</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ typeSoils[row.type_soil] ? typeSoils[row.type_soil].name : row.type_soil }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="place">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Lugar</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ places[row.place] ? places[row.place].name : row.place }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="humity_at_30">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Humedad a 30 cm</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.humity_at_30 }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="humity_at_60">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Humedad a 60 cm</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.humity_at_60 }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="humity_at_90">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Humedad a 90 cm</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.humity_at_90 }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="humity_avg">
							<mat-header-cell *matHeaderCellDef>Promedio Humedad</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ getAverageHumity(row) }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="quality_fruit">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fruta</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ plantQualities[row.quality_fruit] ? plantQualities[row.quality_fruit].name : row.quality_fruit }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="quality_foliage">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Follaje</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ plantQualities[row.quality_foliage] ? plantQualities[row.quality_foliage].name : row.quality_foliage }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="quality_flower">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Flores</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ plantQualities[row.quality_flower] ? plantQualities[row.quality_flower].name : row.quality_flower }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="quality_cuaja">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cuaja</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ plantQualities[row.quality_cuaja] ? plantQualities[row.quality_cuaja].name : row.quality_cuaja }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="condition">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Comentarios</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.condition }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>
					</div>
					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
		<mat-spinner></mat-spinner>
	</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nueva" }} calicata</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ), 'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">La fecha no puede estar vacía</span>
							<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('hour').touched && ( form.controls.hour.errors?.required || form.controls.hour.errors?.date ), 'has-success' : form.get('hour').touched && !( form.controls.hour.errors?.required || form.controls.hour.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Hora *</label>
              <input formControlName="hour" (keyup)="timeKeyService.formatHour($event, form, 'hour')" class="form-control" placeHolder="HH:MM" type="text">
							<span class="help-block text-danger" *ngIf="form.get('hour').touched && form.controls.hour.errors?.required">La hora no puede estar vacía</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : sectorCtrl.touched && ( form.controls.sector_id.errors?.required || form.controls.sector_id.errors?.number ), 'has-success' : sectorCtrl.touched && !( form.controls.sector_id.errors?.required || form.controls.sector_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Sector *</label>
							<input class="form-control" [matAutocomplete]="sectorsAutoComplete" [formControl]="sectorCtrl">
							<mat-autocomplete #sectorsAutoComplete="matAutocomplete">
								<mat-option *ngFor="let sector of sectors" [value]="sector.name" (click)="selectRow(sector, 'sector', 'form')">
									<span>{{ sector.name }}</span>
								</mat-option>
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="sectorCtrl.touched && form.controls.sector_id.errors?.required">Debe elegir un sector</span>
							<span class="help-block text-danger" *ngIf="sectorCtrl.touched && form.controls.sector_id.errors?.number">Elige un sector válido</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('type_soil').touched && ( form.controls.type_soil.errors?.required || form.controls.type_soil.errors?.number || form.controls.place.errors?.range ), 'has-success' : form.get('type_soil').touched && !( form.controls.type_soil.errors?.required || form.controls.type_soil.errors?.number || form.controls.place.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Tipo de suelo *</label>
							<select class="form-control" formControlName="type_soil">
								<option *ngFor="let typeSoil of typeSoils" [value]="typeSoil.value">{{typeSoil.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('type_soil').touched && form.controls.type_soil.errors?.required">Debe elegir un tipo de suelo</span>
							<span class="help-block text-danger" *ngIf="form.get('type_soil').touched && form.controls.type_soil.errors?.number">El tipo de suelo solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('type_soil').touched && form.controls.type_soil.errors?.range">Debe seleccionar un tipo de suelo válido</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('place').touched && ( form.controls.place.errors?.required || form.controls.place.errors?.number || form.controls.place.errors?.range ), 'has-success' : form.get('place').touched && !( form.controls.place.errors?.required || form.controls.place.errors?.number || form.controls.place.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Lugar *</label>
							<select class="form-control" formControlName="place">
								<option *ngFor="let place of places" [value]="place.value">{{place.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('place').touched && form.controls.place.errors?.required">Debe elegir un lugar</span>
							<span class="help-block text-danger" *ngIf="form.get('place').touched && form.controls.place.errors?.number">El lugar solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('place').touched && form.controls.place.errors?.range">Debe seleccionar un lugar válido</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" style="margin-bottom: .5rem;">
							<label class="form-control-label" style="margin-bottom: 0;">Humedad al tacto</label>
						</div>
					</div>

					<div class="col-12" style="padding-left: 25px;">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('humity_at_30').touched && ( form.controls.humity_at_30.errors?.required || form.controls.humity_at_30.errors?.number || form.controls.humity_at_30.errors?.range ), 'has-success' : form.get('humity_at_30').touched && !( form.controls.humity_at_30.errors?.required || form.controls.humity_at_30.errors?.number || form.controls.humity_at_30.errors?.range ) }">
							<label>30cm *</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="1" formControlName="humity_at_30"> 1
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="1.5" formControlName="humity_at_30"> 1.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="2" formControlName="humity_at_30"> 2
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="2.5" formControlName="humity_at_30"> 2.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="3" formControlName="humity_at_30"> 3
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="3.5" formControlName="humity_at_30"> 3.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="4" formControlName="humity_at_30"> 4
							</label>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_30').touched && form.controls.humity_at_30.errors?.required">Debe elegir una humedad de 30cm</span>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_30').touched && form.controls.humity_at_30.errors?.number">La humedad de 30cm solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_30').touched && form.controls.humity_at_30.errors?.range">Debe seleccionar una humedad de 30cm válida</span>
						</div>
					</div>

					<div class="col-12" style="padding-left: 25px;">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('humity_at_60').touched && ( form.controls.humity_at_60.errors?.required || form.controls.humity_at_60.errors?.number || form.controls.humity_at_60.errors?.range ), 'has-success' : form.get('humity_at_60').touched && !( form.controls.humity_at_60.errors?.required || form.controls.humity_at_60.errors?.number || form.controls.humity_at_60.errors?.range ) }">
							<label>60cm *</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="1" formControlName="humity_at_60"> 1
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="1.5" formControlName="humity_at_60"> 1.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="2" formControlName="humity_at_60"> 2
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="2.5" formControlName="humity_at_60"> 2.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="3" formControlName="humity_at_60"> 3
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="3.5" formControlName="humity_at_60"> 3.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="4" formControlName="humity_at_60"> 4
							</label>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_60').touched && form.controls.humity_at_60.errors?.required">Debe elegir una humedad de 60cm</span>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_60').touched && form.controls.humity_at_60.errors?.number">La humedad de 60cm solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_60').touched && form.controls.humity_at_60.errors?.range">Debe seleccionar una humedad de 60cm válida</span>
						</div>
					</div>

					<div class="col-12" style="padding-left: 25px;">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('humity_at_90').touched && ( form.controls.humity_at_90.errors?.required || form.controls.humity_at_90.errors?.number || form.controls.humity_at_90.errors?.range ), 'has-success' : form.get('humity_at_90').touched && !( form.controls.humity_at_90.errors?.required || form.controls.humity_at_90.errors?.number || form.controls.humity_at_90.errors?.range ) }">
							<label>90cm *</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="1" formControlName="humity_at_90"> 1
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="1.5" formControlName="humity_at_90"> 1.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="2" formControlName="humity_at_90"> 2
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="2.5" formControlName="humity_at_90"> 2.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="3" formControlName="humity_at_90"> 3
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="3.5" formControlName="humity_at_90"> 3.5
							</label>
							<label class="checkbox-inline">
								<input type="radio" [value]="4" formControlName="humity_at_90"> 4
							</label>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_90').touched && form.controls.humity_at_90.errors?.required">Debe elegir una humedad de 90cm</span>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_90').touched && form.controls.humity_at_90.errors?.number">La humedad de 90cm solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('humity_at_90').touched && form.controls.humity_at_90.errors?.range">Debe seleccionar una humedad de 90cm válida</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" style="margin-bottom: .5rem;">
							<label class="form-control-label" style="margin-bottom: 0;">Calidad de la planta</label>
						</div>
					</div>

					<div class="col-12" style="padding-left: 25px;">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('quality_fruit').touched && ( form.controls.quality_fruit.errors?.required || form.controls.quality_fruit.errors?.number || form.controls.quality_fruit.errors?.range ), 'has-success' : form.get('quality_fruit').touched && !( form.controls.quality_fruit.errors?.required || form.controls.quality_fruit.errors?.number || form.controls.quality_fruit.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fruta *</label>
							<select class="form-control" formControlName="quality_fruit">
								<option *ngFor="let plantQuality of plantQualities" [value]="plantQuality.value">{{plantQuality.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('quality_fruit').touched && form.controls.quality_fruit.errors?.required">Debe elegir una opción</span>
							<span class="help-block text-danger" *ngIf="form.get('quality_fruit').touched && form.controls.quality_fruit.errors?.number">La opción solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('quality_fruit').touched && form.controls.quality_fruit.errors?.range">Debe seleccionar una opción válida</span>
						</div>
					</div>

					<div class="col-12" style="padding-left: 25px;">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('quality_foliage').touched && ( form.controls.quality_foliage.errors?.required || form.controls.quality_foliage.errors?.number || form.controls.quality_foliage.errors?.range ), 'has-success' : form.get('quality_foliage').touched && !( form.controls.quality_foliage.errors?.required || form.controls.quality_foliage.errors?.number || form.controls.quality_foliage.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Follaje *</label>
							<select class="form-control" formControlName="quality_foliage">
								<option *ngFor="let plantQuality of plantQualities" [value]="plantQuality.value">{{plantQuality.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('quality_foliage').touched && form.controls.quality_foliage.errors?.required">Debe elegir una opción</span>
							<span class="help-block text-danger" *ngIf="form.get('quality_foliage').touched && form.controls.quality_foliage.errors?.number">La opción solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('quality_foliage').touched && form.controls.quality_foliage.errors?.range">Debe seleccionar una opción válida</span>
						</div>
					</div>

					<div class="col-12" style="padding-left: 25px;">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('quality_flower').touched && ( form.controls.quality_flower.errors?.required || form.controls.quality_flower.errors?.number || form.controls.quality_flower.errors?.range ), 'has-success' : form.get('quality_flower').touched && !( form.controls.quality_flower.errors?.required || form.controls.quality_flower.errors?.number || form.controls.quality_flower.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Flor *</label>
							<select class="form-control" formControlName="quality_flower">
								<option *ngFor="let plantQuality of plantQualities" [value]="plantQuality.value">{{plantQuality.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('quality_flower').touched && form.controls.quality_flower.errors?.required">Debe elegir una opción</span>
							<span class="help-block text-danger" *ngIf="form.get('quality_flower').touched && form.controls.quality_flower.errors?.number">La opción solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('quality_flower').touched && form.controls.quality_flower.errors?.range">Debe seleccionar una opción válida</span>
						</div>
					</div>

					<div class="col-12" style="padding-left: 25px;">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('quality_cuaja').touched && ( form.controls.quality_cuaja.errors?.required || form.controls.quality_cuaja.errors?.number || form.controls.quality_cuaja.errors?.range ), 'has-success' : form.get('quality_cuaja').touched && !( form.controls.quality_cuaja.errors?.required || form.controls.quality_cuaja.errors?.number || form.controls.quality_cuaja.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Cuaja *</label>
							<select class="form-control" formControlName="quality_cuaja">
								<option *ngFor="let plantQuality of plantQualities" [value]="plantQuality.value">{{plantQuality.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('quality_cuaja').touched && form.controls.quality_cuaja.errors?.required">Debe elegir una opción</span>
							<span class="help-block text-danger" *ngIf="form.get('quality_cuaja').touched && form.controls.quality_cuaja.errors?.number">La opción solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('quality_cuaja').touched && form.controls.quality_cuaja.errors?.range">Debe seleccionar una opción válida</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-success' : form.get('condition').touched }">
							<label class="form-control-label" style="margin-bottom: 0;">Comentarios adicionales</label>
							<textarea formControlName="condition" class="form-control"></textarea>
						</div>
					</div>
          <div class="col-s12">
            <agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]="mapTypeId" [zoom]="zoom">
              <agm-marker [latitude]="mark.position.lat" [longitude]="mark.position.lng" [title]="mark.title" [markerDraggable]="mark.draggable" [markerClickable]="mark.clickable" (dragEnd)="mapClicked($event)"></agm-marker>
            </agm-map>
          </div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-save"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
