<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE CONTRATISTAS</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>

        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar por nota...">
          </div>
        </div>

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.email || "..." }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="telephone">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.telephone || "..." }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} contratista</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
        </div>
        <form [formGroup]="form">
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('name').touched && ( form.controls.name.errors?.maxlength || form.controls.name.errors?.required ), 'has-success' : form.get('name').touched && !( form.controls.name.errors?.maxlength || form.controls.name.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Nombre *</label>
              <input formControlName="name" class="form-control" type="text">
              <span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.required">Debe ingresar el nombre</span>
              <span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.maxlength">El nombre no puede superar los 255 caracteres</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('email').touched && ( form.controls.email.errors?.email ), 'has-success' : form.get('email').touched && !( form.controls.email.errors?.email ) }">
              <label class="form-control-label" style="margin-bottom: 0;">E-mail</label>
              <input formControlName="email" class="form-control" type="email">
              <span class="help-block text-danger" *ngIf="form.get('email').touched && form.controls.email.errors?.email">El E-mail no es válido</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('telephone').touched && ( form.controls.telephone.errors?.maxlength ), 'has-success' : form.get('telephone').touched && !( form.controls.telephone.errors?.maxlength ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Teléfono</label>
              <input formControlName="telephone" class="form-control" type="text">
              <span class="help-block text-danger" *ngIf="form.get('telephone').touched && form.controls.telephone.errors?.maxlength">El teléfono no puede superar los 255 caracteres</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
          <i class="fa fa-save"></i>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
