<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE PROGRAMACIÓN DE RIEGOS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary bottom-15" matTooltip="Agregar">
          <i class="fa fa-plus"></i>
        </button>
        <button (click)="start()"
                class="btn btn-success bottom-15" matTooltip="Inicio rápido">
          <i class="fa fa-bolt"></i>
        </button>
        <button (click)="stop()"
                class="btn btn-danger bottom-15" matTooltip="Detener Riego">
          <i class="fa fa-stop"></i>
        </button>

        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
          </div>
        </div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>
					<div class="table-scroll-container">
					<mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="start" matSortDirection="desc">
						<ng-container matColumnDef="sector_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Sector</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.sectors | join: 'name' : ',' }}</mat-cell>s
						</ng-container>

						<ng-container matColumnDef="start">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha inicio</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.start | date:'y-MM-dd HH:mm' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="end">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha término</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.end | date:'y-MM-dd HH:mm' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table> 
					</div>
					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
		<mat-spinner></mat-spinner>
	</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nueva" }} programación de riego</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : sectorCtrl.touched && ( form.controls.sectors.errors?.required ),
						                                  'has-success' : sectorCtrl.touched && !( form.controls.sectors.errors?.required ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Sector *</label>
							<input class="form-control" [matAutocomplete]="sectorsAutoComplete" [formControl]="sectorCtrl">
							<mat-autocomplete #sectorsAutoComplete="matAutocomplete">
								<mat-option *ngFor="let sector of sectors" [value]="sector.name" (click)="selectSector(sector)">
									<span>{{ sector.name }}</span>
								</mat-option>
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="sectorCtrl.touched && form.get('sectors').hasError('required')">Debe elegir un sector</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('start').touched && ( form.controls.start.errors?.required || form.controls.start.errors?.date ), 'has-success' : form.get('start').touched && !( form.controls.start.errors?.required || form.controls.start.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fecha inicio *</label>
							<owl-date-time [readonlyInput]="false" inputStyleClass="form-control" formControlName="start" [locale]="translate.DateTimePicker.es" [dateFormat]="'YYYY/MM/DD HH:mm'" placeHolder="YYYY/MM/DD HH:MM"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('start').touched && form.controls.start.errors?.required">La fecha de inicio no puede estar vacía</span>
							<span class="help-block text-danger" *ngIf="form.get('start').touched && form.controls.start.errors?.date">El formato de la fecha de inicio debe ser: 'YYYY/MM/DD'</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('end').touched && ( form.controls.end.errors?.required || form.controls.end.errors?.date ), 'has-success' : form.get('end').touched && !( form.controls.end.errors?.required || form.controls.end.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fecha término *</label>
							<owl-date-time [readonlyInput]="false" inputStyleClass="form-control" formControlName="end" [min]="form.get('start').value" [locale]="translate.DateTimePicker.es" [dateFormat]="'YYYY/MM/DD HH:mm'" placeHolder="YYYY/MM/DD HH:MM"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('end').touched && form.controls.end.errors?.required">La fecha término no puede estar vacía</span>
							<span class="help-block text-danger" *ngIf="form.get('end').touched && form.controls.end.errors?.date">El formato de la fecha término debe ser: 'YYYY/MM/DD'</span>
							<span class="help-block text-danger" *ngIf="form.get('end').touched && form.errors?.end">La fecha término no puede ser menor a la fecha inicio</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-save"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
