<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE VACACIONES</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">

				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary  bottom-15" matTooltip="Agregar"><i class="fa fa-plus"></i></button>

				<!-- <div class="col-6 relative">
					<button type="button" (click)="generateExportLink('pdf')" class="btn btn-danger" matTooltip="Generar pdf">
						<i class="fa fa-file-pdf-o"></i>
					</button>
					<button type="button" (click)="generateExportLink('excel')" class="btn btn-primary" matTooltip="Generar excel">
						<i class="fa fa-file-pdf-o"></i>
					</button>
					<button type="button" (click)="generateExportLink('csv')" class="btn btn-default" matTooltip="Generar csv">
						<i class="fa fa-file-pdf-o"></i>
					</button>
				</div>

				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
					</div>
				</div> -->
				<div class="row">
					<div class="col-12 col-sm-6">
						<button type="button" (click)="generateExportLink('pdf')" class="btn btn-danger" matTooltip="Generar pdf">
							<i class="fa fa-file-pdf-o"></i>
						</button>
						<button type="button" (click)="generateExportLink('excel')" class="btn btn-success" matTooltip="Generar excel">
							<i class="fa fa-file-excel-o"></i>
						</button>
						<button type="button" (click)="generateExportLink('csv')" class="btn btn-default" matTooltip="Generar csv">
							<i class="fa fa-file-o"></i>
						</button>
						<div class="w-200 pull-right">
							<div class="input-group input-group-sm">
								<span (click)="search()" class="input-group-addon" matTooltip="Buscar">
									<i class="fa fa-search"></i>
								</span>
								<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
							</div>
						</div>
					</div>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">
						<ng-container matColumnDef="employee_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Empleado</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.employee ? row.employee.name : "..." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Día</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="number_of_days">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Número de días</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.number_of_days | number }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.amount | money }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="season_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Temporada</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.season ? row.season.year : ".." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="notes">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.notes || "" | slice:0:50 }}...</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
								<br>
								<a (click)="download(row.id)" class="btn btn-outline-info btn-xs" matTooltip="Ver archivo de vacaciones">
									<i class="fa fa-file-pdf-o"></i>
								</a>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
		<mat-spinner></mat-spinner>
	</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nueva" }} vacación</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : employeeCtrl.touched && ( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ), 'has-success' : employeeCtrl.touched && !( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Empleado *</label>
							<input class="form-control" [matAutocomplete]="employeesAutoComplete" [formControl]="employeeCtrl">
							<mat-autocomplete #employeesAutoComplete="matAutocomplete">
								<mat-option *ngFor="let employee of employees" [value]="employee.name" (click)="selectRow(employee, 'employee', 'form')">
									<span>{{ employee.name }}</span>
								</mat-option>
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.required">Debe elegir un empleado</span>
							<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.number">Elige un empleado válido</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ), 'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Día *</label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">El día no puede estar vacía</span>
							<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato del día debe ser: 'YYYY-MM-DD'</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('number_of_days').touched && ( form.controls.number_of_days.errors?.required || form.controls.number_of_days.errors?.number ), 'has-success' : form.get('number_of_days').touched && !( form.controls.number_of_days.errors?.required || form.controls.number_of_days.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Número de días *</label>
							<input formControlName="number_of_days" type="number" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('number_of_days').touched && form.controls.number_of_days.errors?.required">Debe escribir el número de días</span>
							<span class="help-block text-danger" *ngIf="form.get('number_of_days').touched && form.controls.number_of_days.errors?.number">El número de días solo puede contener números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('amount').touched && ( form.controls.amount.errors?.required || form.controls.amount.errors?.number ), 'has-success' : form.get('amount').touched && !( form.controls.amount.errors?.required || form.controls.amount.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Cantidad *</label>
							<input formControlName="amount" type="number" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.required">Debe escribir la cantidad</span>
							<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.number">La cantidad solo puede contener números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : seasonCtrl.touched && ( form.controls.season_id.errors?.required || form.controls.season_id.errors?.number ), 'has-success' : seasonCtrl.touched && !( form.controls.season_id.errors?.required || form.controls.season_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Temporada *</label>
							<input class="form-control" [matAutocomplete]="seasonsAutoComplete" [formControl]="seasonCtrl">
							<mat-autocomplete #seasonsAutoComplete="matAutocomplete">
								<mat-option *ngFor="let season of seasons" [value]="season.year" (click)="selectRow(season, 'season', 'form')">
									<span>{{ season.year }}</span>
								</mat-option>
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="seasonCtrl.touched && form.controls.season_id.errors?.required">Debe elegir una temporada</span>
							<span class="help-block text-danger" *ngIf="seasonCtrl.touched && form.controls.season_id.errors?.number">Elige una temporada válida</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
							<textarea formControlName="notes" class="form-control"></textarea>
							<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir las notas</span>
							<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group">
							<label class="form-control-label" style="margin-bottom: 0;">Subir archivo de vaciones <span *ngIf="!current.id">*</span></label>
							<input class="form-control" #fileInput type="file" (change)="addedFile($event)" name="file" accept="application/pdf"/>
							<span class="help-block text-danger" *ngIf="form.controls.file.errors?.required && !form.controls.file.errors?.type">Debe seleccionar un archivo</span>
							<span class="help-block text-danger" *ngIf="form.controls.file.errors?.type">El archivo debe ser de formato 'pdf'</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-pencil"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
