<div class="panel" *ngIf="messages | async; else loading">
  <div class="panel-body">
    <p class="text-muted m-b-10">Dispositivo de Riego</p>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mini-stat clearfix">
          <span class="mini-stat-icon" [ngClass]="{'bg-danger': state == 2, 'bg-info': state == 0, 'bg-primary': state == 1}"><i class="fa fa-tint"></i></span>
          <div class="mini-stat-info text-right">
            <span class="counter">{{STATES[state]}}</span>
            {{label}}
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p><b>Última actualización</b></p>
        <p><small>{{message.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</small></p>
        <p><b>Dispositivo</b> {{message.device}}</p>
        <p *ngIf="message.status.water > 0"><b>Agua </b>{{message.status.water}}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #loading><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></ng-template>

