<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE GASTOS FISCALES</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div style="padding: 0 0 1rem; width: 100%;">
          <form class="row" [formGroup]="filtersForm1" (ngSubmit)="buildFilters(filtersForm1.value, 'filtersForm1')" novalidate>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Mes</label>
                <select class="form-control" formControlName="month">
                  <option [value]="0">Enero</option>
                  <option [value]="1">Febrero</option>
                  <option [value]="2">Marzo</option>
                  <option [value]="3">Abril</option>
                  <option [value]="4">Mayo</option>
                  <option [value]="5">Junio</option>
                  <option [value]="6">Julio</option>
                  <option [value]="7">Agosto</option>
                  <option [value]="8">Septiembre</option>
                  <option [value]="9">Octubre</option>
                  <option [value]="10">Noviembre</option>
                  <option [value]="11">Diciembre</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Año</label>
                <select class="form-control" formControlName="year">
                  <option *ngFor="let year of lastYears" value="{{year}}">{{year}}</option>
                </select>
              </div>
            </div>

            <div class="col col-sm-12">
              <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>

        <button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
        <button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>

        <div class="container" id="filters" style="display: none;padding: 1rem;">
          <form class="row" [formGroup]="filtersForm2" (ngSubmit)="buildFilters(filtersForm2.value, 'filtersForm2')" novalidate>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Desde</label>
                <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm2.get('to').value" formControlName="from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Hasta</label>
                <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm2.get('from').value" formControlName="to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
              </div>
            </div>

            <div class="col">
              <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
                <i class="fa fa-search"></i>
              </button>
              <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
          </form>
        </div>

        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
          </div>
        </div>

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">
            <ng-container matColumnDef="fiscal_categories_id">
              <mat-header-cell *matHeaderCellDef>Categoría</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.fiscal_category ? row.fiscal_category.name : row.fiscal_categories_id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="state" style="min-width: 100px;">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 100px;">Estado</mat-header-cell>
              <mat-cell *matCellDef="let row" style="min-width: 100px;">{{ states[row.state] ? states[row.state].name : row.state }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.amount | money }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="notes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.notes | slice:0:50 }}...</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} gasto fiscal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
        </div>
        <form [formGroup]="form">
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ), 'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
              <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
              <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">La fecha no puede estar vacía</span>
              <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : seasonCtrl.touched && ( form.controls.season_id.errors?.required || form.controls.season_id.errors?.number ), 'has-success' : seasonCtrl.touched && !( form.controls.season_id.errors?.required || form.controls.season_id.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Temporada *</label>
              <input class="form-control" [matAutocomplete]="seasonsAutoComplete" [formControl]="seasonCtrl">
              <mat-autocomplete #seasonsAutoComplete="matAutocomplete">
                <mat-option *ngFor="let season of seasons" [value]="season.year" (click)="selectRow(season, 'season', 'form')">
                  <span>{{ season.year }}</span>
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="seasonCtrl.touched && form.controls.season_id.errors?.required">Debe elegir una temporada</span>
              <span class="help-block text-danger" *ngIf="seasonCtrl.touched && form.controls.season_id.errors?.number">Elige una temporada válido</span>
            </div>
          </div>

          <div *ngIf="current.id">
            <div class="col-12">
              <div class="form-group" [ngClass]="{'has-danger' : form.get('amount').touched && ( form.controls.amount.errors?.required || form.controls.amount.errors?.number ), 'has-success' : form.get('amount').touched && !( form.controls.amount.errors?.required || form.controls.amount.errors?.number ) }">
                <label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
                </div>
                <span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.required">Debe escribir el monto</span>
                <span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.number">El monto solo pueden ser números</span>
              </div>
            </div>
          </div>

          <div *ngIf="!current.id">
            <div *ngFor="let category of fiscalCategories">
              <div class="col-12">
                <div class="form-group" >
                  <label class="form-control-label" style="margin-bottom: 0;">Monto {{ category.name }} *</label>
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input [(ngModel)]="category.amount" [ngModelOptions]="{ standalone: true }" min="0" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('state').touched && ( form.controls.state.errors?.required || form.controls.state.errors?.number || form.controls.state.errors?.range ), 'has-success' : form.get('state').touched && !( form.controls.state.errors?.required || form.controls.state.errors?.number || form.controls.state.errors?.range ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Estado *</label>
              <select class="form-control" formControlName="state">
                <option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
              </select>
              <span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.required">Debe elegir un estado</span>
              <span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.number">El estado solo puede contener números</span>
              <span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.range">Debe seleccionar un estado válido</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.maxlength ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Notas</label>
              <textarea formControlName="notes" class="form-control"></textarea>
              <span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
        <button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
          <i class="fa fa-floppy-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
