<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">CANTIDAD DE NPK POR PRODUCTO</span>
        <div class="widget-controls">
          <a class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
			<div class="card-block widget-body">
        
        <div style="padding: 0 0 1rem; width: 100%;">
          <form class="row" [formGroup]="filtersForm" (ngSubmit)="runFiltering()" novalidate>

            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">NPKS</label>
                <input class="form-control" [matAutocomplete]="npksAutoComplete" [formControl]="npksCtrl">
                <mat-autocomplete #npksAutoComplete="matAutocomplete">
                  <mat-option *ngFor="let npk of filteredOptionsNpks | async" [value]="npk.name" (click)="selectRowNpks(npk)">
                    <span>{{ npk.name }}</span>
                  </mat-option>
                </mat-autocomplete>

                <div *ngFor="let npk of selectedNpks, let i = index">
                  * <span class="help-block">{{ npk.name }}</span>
                  -
                  <span class="help-block text-danger h-underline" style="cursor: pointer" (click)="removeNpk( npk.id, i )">
                    <i class="fa fa-close"></i>
                  </span>
                </div>
              </div>
            </div>
            
            <div class="col-6 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">PRODUCTOS</label>
                <input class="form-control" [matAutocomplete]="productsAutoComplete" [formControl]="productsCtrl">
                <mat-autocomplete #productsAutoComplete="matAutocomplete">
                  <mat-option *ngFor="let p of filteredOptionsProducts | async" [value]="p.name" (click)="selectRowProducts(p)">
                    <span>{{ p.name }}</span>
                  </mat-option>
                </mat-autocomplete>

                <div *ngFor="let p of selectedProducts, let i = index">
                  * <span class="help-block">{{ p.name }}</span>
                  -
                  <span class="help-block text-danger h-underline" style="cursor: pointer" (click)="removeProduct( p.id, i )">
                    <i class="fa fa-close"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col col-sm-12">
              <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="productNpk" matSortDirection="desc">

            <ng-container matColumnDef="productNpk">
              <mat-header-cell *matHeaderCellDef>Producto/NPK</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.productNpk ? row.productNpk : "..." }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Nitrogeno">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nitrogeno</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Nitrogeno ? row.Nitrogeno : "0,00"  }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Fosforo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Fosforo</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Fosforo ? row.Fosforo : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Potasio">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Potasio</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Potasio ? row.Potasio : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Calcio">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Calcio</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Calcio ? row.Calcio : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Magnesio">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Magnesio</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Magnesio ? row.Magnesio : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Azufre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Azufre</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Azufre ? row.Azufre : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Cobre">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Cobre</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Cobre ? row.Cobre : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Zinc">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Zinc</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Zinc ? row.Zinc : "0,00" }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="Manganeso">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Manganeso</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Manganeso ? row.Manganeso : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Fierro">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Fierro</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Fierro ? row.Fierro : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Boro">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Boro</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Boro ? row.Boro : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Molibdeno">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Molibdeno</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Molibdeno ? row.Molibdeno : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Aminoacidos">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Aminoacidos</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Aminoacidos ? row.Aminoacidos : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Materia Orgánica">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Materia Orgánica</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row["Materia Orgánica"] ? row["Materia Orgánica"] : "0,00" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Fitohormonas">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Fitohormonas</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.Fitohormonas ? row.Fitohormonas : "0,00" }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
