<div class="row bottom-30" id="invoice">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">DETALLES DE FACTURA</span>
				<div class="widget-controls">
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div class="panel panel-default" style="margin-bottom: 0; padding: 15px 0;">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || !source.id" style="bottom: 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && !source.id">
							<a routerLink="../" class="btn btn-inverse" matTooltip="Volver"><i class="fa fa-arrow-left"></i></a>
							<br>
							No hay información disponible para mostrar.
						</div>
					</div>
					<div class="panel-body" *ngIf="source.id" style="padding: 0;">
						<div class="clearfix">
							<div class="pull-left">
								<a routerLink="../" class="btn btn-inverse" matTooltip="Volver"><i class="fa fa-arrow-left"></i></a>
								<a routerLink="editar" class="btn btn-warning" matTooltip="Editar"><i class="fa fa-pencil"></i></a>
							</div>
							<div class="pull-right">
								<h4>Factura de venta #<br>
									<strong>{{ source.number }}</strong>
								</h4>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12">
								<div class="pull-left m-t-30">
									<address>
										<strong>{{ source.customer.name }}</strong>
										<br>
										{{ source.customer.address }}
										<br>
										<abbr title="Phone">P:</abbr> {{ source.customer.phone }}
									</address>
								</div>
								<div class="pull-right m-t-30">
									<p style="margin-top: 0.4rem;"><strong>Fecha emisión: </strong> {{ source.issue_date }}</p>
									<p style="margin-top: 0.4rem;"><strong>Fecha vencimiento: </strong> {{ source.due_date }}</p>
									<p style="margin-top: 0.4rem;"><strong>Fecha pago: </strong> {{ source.paid_date }}</p>
									<p class="m-t-10">
										<strong>Estado: </strong>
										<span class="label" style="color: black;" [ngClass]="{'label-success': source.state == 0, 'label-danger': source.state == 1, 'label-warning': source.state > 1 }">{{ states[source.state] ? states[source.state].name: source.state }}</span>
									</p>
									<p style="margin-top: 0.4rem;"><strong>Tipo factura: </strong> {{ types[source.type] ? types[source.type].name: source.type }} </p>
								</div>
							</div>
						</div>
						<div class="m-h-50"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table m-t-30">
										<thead>
											<tr>
												<th>#</th>
												<th>Item</th>
												<th>Cantidad</th>
												<th>Costo unitario</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let item of source.items; let idx = index;">
												<td>{{ idx + 1 }}</td>
												<td>{{ item.name || "ITEM S/N" }}</td>
												<td>{{ item.pivot.quantity | number }}</td>
												<td>{{ item.pivot.price | money }}</td>
												<td>{{ item.pivot.price * item.pivot.quantity | money }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row" style="border-radius: 0px;">
							<div class="col-md-3 offset-md-9" style="padding-right: 15px; padding-left: 15px;">
								<p class="text-right"><b>Sub-total:</b> {{ source.gross_amount  | money }}</p>
								<p class="text-right">Descuento: {{ source.excempt_amount | money }}</p>
								<p class="text-right">IVA({{ source.tax_rate }}%): {{ source.tax_amount | money }}</p>
								<hr>
								<h3 class="text-right">{{ source.net_amount | money }}</h3>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12 hidden-print">
								<div class="pull-right">
									<a (click)="download(id)" class="btn btn-inverse" matTooltip="Descargar factura"><i class="fa fa-print"></i></a>
									<a (click)="confirmate(id)" class="btn btn-success" matTooltip="Confirmar factura"><i class="fa fa-check"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
