<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE PRÉSTAMOS BANCARIOS</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <button (click)="create()" data-toggle="modal" data-target="#create-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
        
        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
          </div>
        </div>
        
        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>
          
          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="curse_date" matSortDirection="desc">
            <ng-container matColumnDef="bank_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Banco</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ banks[row.bank_id] ? banks[row.bank_id].name : row.bank_id }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="currency">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ currencies[row.currency] ? currencies[row.currency].name : row.currency }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.amount | money }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="reason">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Objetivo</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ reasons[row.reason] ? reasons[row.reason].name : row.reason }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="rate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Tasa (%)</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.rate | number }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="dues">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Número de pagos</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.dues.length }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="curse_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.curse_date | date:'y-MM-dd' }}</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="notes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.notes || "" | slice:0:50 }}...</mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button data-toggle="modal" data-target="#show-modal" (click)="show(row)" class="btn btn-outline-info btn-xs" matTooltip="Detalles"><i class="fa fa-eye"></i></button>
                <button data-toggle="modal" data-target="#edit-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
            
            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>
          
          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CREAR !-->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 960px">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
    <mat-spinner></mat-spinner>
  </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">Nuevo préstamo bancario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
        <div class="clearfix">
          <ul class="nav nav-tabs top pull-left w-100p">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details" id="todetails0" (click)="prev()">Datos</a>
            </li>
            <li class="nav-item" [hidden]="tab == 'details'">
              <a class="nav-link" data-toggle="tab" href="#dues" id="todues0">Pagos</a>
            </li>
          </ul>
        </div>
				<form [formGroup]="form">
					<div class="tab-content top">
						<div class="tab-pane" [ngClass]="{ 'active': tab == 'details' }" id="details">
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('bank_id').touched && ( form.controls.bank_id.errors?.required || form.controls.bank_id.errors?.number || form.controls.bank_id.errors?.range ), 'has-success' : form.get('bank_id').touched && !( form.controls.bank_id.errors?.required || form.controls.bank_id.errors?.number || form.controls.bank_id.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Banco *</label>
									<select class="form-control" formControlName="bank_id">
										<option *ngFor="let bank of banks" [value]="bank.value">{{bank.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('bank_id').touched && form.controls.bank_id.errors?.required">Debe elegir un banco</span>
									<span class="help-block text-danger" *ngIf="form.get('bank_id').touched && form.controls.bank_id.errors?.number">El banco solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('bank_id').touched && form.controls.bank_id.errors?.range">Debe seleccionar un banco válido</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('curse_date').touched && ( form.controls.curse_date.errors?.required || form.controls.curse_date.errors?.date ), 'has-success' : form.get('curse_date').touched && !( form.controls.curse_date.errors?.required || form.controls.curse_date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha de otorgamiento</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="curse_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="form.get('curse_date').touched && form.controls.curse_date.errors?.required">La fecha no puede estar vacía</span>                              
									<span class="help-block text-danger" *ngIf="form.get('curse_date').touched && form.controls.curse_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('currency').touched && ( form.controls.currency.errors?.required || form.controls.currency.errors?.number || form.controls.currency.errors?.range ), 'has-success' : form.get('currency').touched && !( form.controls.currency.errors?.required || form.controls.currency.errors?.number || form.controls.currency.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Moneda *</label>
									<select class="form-control" formControlName="currency">
										<option *ngFor="let currency of currencies" [value]="currency.value">{{currency.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('currency').touched && form.controls.currency.errors?.required">Debe elegir una moneda</span>
									<span class="help-block text-danger" *ngIf="form.get('currency').touched && form.controls.currency.errors?.number">La moneda solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('currency').touched && form.controls.currency.errors?.range">Debe seleccionar una moneda válido</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('amount').touched && ( form.controls.amount.errors?.required || form.controls.amount.errors?.number ), 'has-success' : form.get('amount').touched && !( form.controls.amount.errors?.required || form.controls.amount.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
									</div>
									<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.required">Debe escribir el monto</span>
									<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.number">El monto solo pueden ser números</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('rate').touched && ( form.controls.rate.errors?.required || form.controls.rate.errors?.number ), 'has-success' : form.get('rate').touched && !( form.controls.rate.errors?.required || form.controls.rate.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Tasa (%) *</label>
									<input formControlName="rate" type="number" class="form-control" placeholder="Tasa">
									<span class="help-block text-danger" *ngIf="form.get('rate').touched && form.controls.rate.errors?.required">Debe escribir la tasa</span>
									<span class="help-block text-danger" *ngIf="form.get('rate').touched && form.controls.rate.errors?.number">La tasa solo pueden ser números</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('reason').touched && ( form.controls.reason.errors?.required || form.controls.reason.errors?.number || form.controls.reason.errors?.range ), 'has-success' : form.get('reason').touched && !( form.controls.reason.errors?.required || form.controls.reason.errors?.number || form.controls.reason.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Objetivo *</label>
									<select class="form-control" formControlName="reason">
										<option *ngFor="let reason of reasons" [value]="reason.value">{{reason.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('reason').touched && form.controls.reason.errors?.required">Debe elegir un objetivo</span>
									<span class="help-block text-danger" *ngIf="form.get('reason').touched && form.controls.reason.errors?.number">El objetivo solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('reason').touched && form.controls.reason.errors?.range">Debe seleccionar un objetivo válido</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" >
									<label class="form-control-label" style="margin-bottom: 0;">Número de pagos</label>
									<input [(ngModel)]="current.totaldues" type="number" min="0" [ngModelOptions]="{ standalone: true }" class="form-control">
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
									<textarea formControlName="notes" class="form-control"></textarea>
									<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir las notas</span>
									<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
								</div>
							</div>
						</div>
						<div class="tab-pane" [ngClass]="{ 'active': tab == 'dues' }" id="dues">
							<div formArrayName="dues">
								<div *ngFor="let due of formDues.controls; let i = index;">
								<strong style="margin: 6px 0">Pago #{{i+1}}</strong>
								<div class="row">
									<div [formGroupName]="i" class="col-12 col-sm-6">
										<div class="form-group" [ngClass]="{'has-danger' : form.get('dues').controls[i].controls.due_date.touched && ( form.get('dues').controls[i].controls.due_date.errors?.required || form.get('dues').controls[i].controls.due_date.errors?.date ), 'has-success' : form.get('dues').controls[i].controls.due_date.touched && !( form.get('dues').controls[i].controls.due_date.errors?.required || form.get('dues').controls[i].controls.due_date.errors?.date ) }">
											<label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
											<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="due_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
											<span class="help-block text-danger" *ngIf="form.get('dues').controls[i].controls.due_date.touched && form.get('dues').controls[i].controls.due_date.errors?.required">La fecha no puede estar vacía</span>                              
											<span class="help-block text-danger" *ngIf="form.get('dues').controls[i].controls.due_date.touched && form.get('dues').controls[i].controls.due_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
										</div>
									</div>
									<div [formGroupName]="i" class="col-12 col-sm-6">
										<div class="form-group" [ngClass]="{'has-danger' : form.get('dues').controls[i].controls.amount.touched && ( form.get('dues').controls[i].controls.amount.errors?.required || form.get('dues').controls[i].controls.amount.errors?.number ), 'has-success' : form.get('dues').controls[i].controls.amount.touched && !( form.get('dues').controls[i].controls.amount.errors?.required || form.get('dues').controls[i].controls.amount.errors?.number ) }">
											<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
											<div class="input-group">
												<div class="input-group-addon">$</div>
												<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
											</div>
											<span class="help-block text-danger" *ngIf="form.get('dues').controls[i].controls.amount.touched && form.get('dues').controls[i].controls.amount.errors?.required">Debe escribir el monto</span>
											<span class="help-block text-danger" *ngIf="form.get('dues').controls[i].controls.amount.touched && form.get('dues').controls[i].controls.amount.errors?.number">El monto solo pueden ser números</span>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
        <button [disabled]="!form.valid" [hidden]="tab == 'dues'" (click)="next()" type="button" class="btn btn-info" title="Siguiente">
          <i class="fa fa-arrow-right"></i>
        </button>
        <button [hidden]="tab == 'details'" (click)="prev()" type="button" class="btn btn-info" title="Anterior">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button [disabled]="!form.valid" [hidden]="tab == 'details'" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
          <i class="fa fa-floppy-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA VER LOS DETALLES !-->
<div class="modal fade" id="show-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 960px">
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">Préstamo bancario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <ul class="nav nav-tabs top pull-left w-100p">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details" id="todetails1" (click)="tab = 'details'">Datos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#dues" id="todues1" (click)="tab = 'dues'">Pagos</a>
            </li>
          </ul>
        </div>
        <div class="tab-content top">
          <div class="tab-pane" [ngClass]="{ 'active': tab == 'details' }" id="details">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Banco</th>
                  <th>Moneda</th>
                  <th>Monto</th>
                  <th>Tasa (%)</th>
                  <th>Fecha de otorgamiento</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ banks[current.bank_id] ? banks[current.bank_id].name : current.bank_id }}</td>
                  <td>{{ currencies[current.currency] ? currencies[current.currency].name : current.currency }}</td>
                  <td>{{ current.amount | money }}</td>
                  <td>{{ current.rate | number }}</td>
                  <td>{{ current.curse_date | date:'y-MM-dd' }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Objetivo</th>
                  <th>Notas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ reasons[current.reason] ? reasons[current.reason].name : current.reason }}</td>
                  <td>{{ current.notes }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" [ngClass]="{ 'active': tab == 'dues' }" id="dues">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Fecha de vencimiento</th>
                  <th>Fecha de pago</th>
                  <th>Estado</th>
                  <th>Monto</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let due of current.dues">
                    <td>
                      {{ due.due_date | date:'y-MM-dd' }}
                    </td>
                    <td>
                      {{ due.paid_date | date:'y-MM-dd' }}
                    </td>
                    <td>
                      {{ states[due.status] ? states[due.status].name : due.status }}
                    </td>
                    <td>
                      {{ due.amount | money }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cerrar">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA ACTUALIZAR !-->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 960px">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
    <mat-spinner></mat-spinner>
  </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">Editar préstamo bancario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
        <div class="clearfix">
          <ul class="nav nav-tabs top pull-left w-100p">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#details" id="todetails2" (click)="tab = 'details'">Datos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#dues" id="todues2" (click)="tab = 'dues'">Pagos</a>
            </li>
          </ul>
        </div>
				<div class="tab-content top">
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'details' }" id="details">
						<form [formGroup]="form">
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('bank_id').touched && ( form.controls.bank_id.errors?.required || form.controls.bank_id.errors?.number || form.controls.bank_id.errors?.range ), 'has-success' : form.get('bank_id').touched && !( form.controls.bank_id.errors?.required || form.controls.bank_id.errors?.number || form.controls.bank_id.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Banco *</label>
									<select class="form-control" formControlName="bank_id">
										<option *ngFor="let bank of banks" [value]="bank.value">{{bank.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('bank_id').touched && form.controls.bank_id.errors?.required">Debe elegir un banco</span>
									<span class="help-block text-danger" *ngIf="form.get('bank_id').touched && form.controls.bank_id.errors?.number">El banco solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('bank_id').touched && form.controls.bank_id.errors?.range">Debe seleccionar un banco válido</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('curse_date').touched && ( form.controls.curse_date.errors?.required || form.controls.curse_date.errors?.date ), 'has-success' : form.get('curse_date').touched && !( form.controls.curse_date.errors?.required || form.controls.curse_date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha de otorgamiento</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="curse_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="form.get('curse_date').touched && form.controls.curse_date.errors?.required">La fecha no puede estar vacía</span>                              
									<span class="help-block text-danger" *ngIf="form.get('curse_date').touched && form.controls.curse_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('currency').touched && ( form.controls.currency.errors?.required || form.controls.currency.errors?.number || form.controls.currency.errors?.range ), 'has-success' : form.get('currency').touched && !( form.controls.currency.errors?.required || form.controls.currency.errors?.number || form.controls.currency.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Moneda *</label>
									<select class="form-control" formControlName="currency">
										<option *ngFor="let currency of currencies" [value]="currency.value">{{currency.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('currency').touched && form.controls.currency.errors?.required">Debe elegir una moneda</span>
									<span class="help-block text-danger" *ngIf="form.get('currency').touched && form.controls.currency.errors?.number">La moneda solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('currency').touched && form.controls.currency.errors?.range">Debe seleccionar una moneda válido</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('amount').touched && ( form.controls.amount.errors?.required || form.controls.amount.errors?.number ), 'has-success' : form.get('amount').touched && !( form.controls.amount.errors?.required || form.controls.amount.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
									</div>
									<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.required">Debe escribir el monto</span>
									<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.number">El monto solo pueden ser números</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('rate').touched && ( form.controls.rate.errors?.required || form.controls.rate.errors?.number ), 'has-success' : form.get('rate').touched && !( form.controls.rate.errors?.required || form.controls.rate.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Tasa (%) *</label>
									<input formControlName="rate" type="number" class="form-control" placeholder="Tasa">
									<span class="help-block text-danger" *ngIf="form.get('rate').touched && form.controls.rate.errors?.required">Debe escribir la tasa</span>
									<span class="help-block text-danger" *ngIf="form.get('rate').touched && form.controls.rate.errors?.number">La tasa solo pueden ser números</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('reason').touched && ( form.controls.reason.errors?.required || form.controls.reason.errors?.number || form.controls.reason.errors?.range ), 'has-success' : form.get('reason').touched && !( form.controls.reason.errors?.required || form.controls.reason.errors?.number || form.controls.reason.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Objetivo *</label>
									<select class="form-control" formControlName="reason">
										<option *ngFor="let reason of reasons" [value]="reason.value">{{reason.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('reason').touched && form.controls.reason.errors?.required">Debe elegir un objetivo</span>
									<span class="help-block text-danger" *ngIf="form.get('reason').touched && form.controls.reason.errors?.number">El objetivo solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('reason').touched && form.controls.reason.errors?.range">Debe seleccionar un objetivo válido</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
									<textarea formControlName="notes" class="form-control"></textarea>
									<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir las notas</span>
									<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'dues' }" id="dues">
						<form [formGroup]="formDue">
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : formDue.get('due_date').touched && ( formDue.controls.due_date.errors?.required || formDue.controls.due_date.errors?.date ), 'has-success' : formDue.get('due_date').touched && !( formDue.controls.due_date.errors?.required || formDue.controls.due_date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha de vencimiento</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="due_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="formDue.get('due_date').touched && formDue.controls.due_date.errors?.required">La fecha no puede estar vacía</span>                              
									<span class="help-block text-danger" *ngIf="formDue.get('due_date').touched && formDue.controls.due_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : formDue.get('paid_date').touched && ( formDue.controls.paid_date.errors?.date ), 'has-success' : formDue.get('paid_date').touched && !( formDue.controls.paid_date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha de pago</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="paid_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="formDue.get('paid_date').touched && formDue.controls.paid_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : formDue.get('status').touched && ( formDue.controls.status.errors?.required || formDue.controls.status.errors?.number || formDue.controls.status.errors?.range ), 'has-success' : formDue.get('status').touched && !( formDue.controls.status.errors?.required || formDue.controls.status.errors?.number || formDue.controls.status.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Estado *</label>
									<select class="form-control" formControlName="status">
										<option *ngFor="let status of states" [value]="status.value">{{status.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="formDue.get('status').touched && formDue.controls.status.errors?.required">Debe elegir un estado</span>
									<span class="help-block text-danger" *ngIf="formDue.get('status').touched && formDue.controls.status.errors?.number">El estado solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="formDue.get('status').touched && formDue.controls.status.errors?.range">Debe seleccionar un estado válido</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : formDue.get('amount').touched && ( formDue.controls.amount.errors?.required || formDue.controls.amount.errors?.number ), 'has-success' : formDue.get('amount').touched && !( formDue.controls.amount.errors?.required || formDue.controls.amount.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
									<div class="input-group">
										<div class="input-group-addon">$</div>
										<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
									</div>
									<span class="help-block text-danger" *ngIf="formDue.get('amount').touched && formDue.controls.amount.errors?.required">Debe escribir el monto</span>
									<span class="help-block text-danger" *ngIf="formDue.get('amount').touched && formDue.controls.amount.errors?.number">El monto solo pueden ser números</span>
								</div>
							</div>
							
							<div class="col-12">
								<button [disabled]="!formDue.valid" (click)="saveDue(formDue.value)" type="button" class="btn btn-primary" title="Guardar">
									<i class="fa fa-floppy-o"></i>
								</button>
								<button (click)="resetFormDue()" type="button" class="btn btn-danger" title="Limpiar">
									<i class="fa fa-refresh"></i>
								</button>
							</div>
						</form>
						<hr>
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Fecha de vencimiento</th>
										<th>Fecha de pago</th>
										<th>Estado</th>
										<th>Cantidad</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let due of current.dues; let $index = index">
										<td>
											{{ due.due_date | date:'y-MM-dd' }}
										</td>
										<td>
											{{ due.paid_date | date:'y-MM-dd' }}
										</td>
										<td>
											{{ states[due.status] ? states[due.status].name : due.status }}
										</td>
										<td>
											{{ due.amount | money }}
										</td>
										<td>
											<button (click)="editDue( due, $index )" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
											<button (click)="deleteDue( due, $index )" class="btn btn-outline-danger btn-xs" matTooltip="Remover"><i class="fa fa-trash-o"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
        <button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar" [hidden]="tab == 'dues'">
          <i class="fa fa-floppy-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>