<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">REPORTE DE COMPRA DE PRODUCTOS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">

				<div style="padding: 0 0 1rem; width: 100%;">
          <form class="row" [formGroup]="filtersForm" (ngSubmit)="runFiltering()" novalidate>

            <div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Inicio</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm.get('date_from').value" formControlName="date_from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Termino</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm.get('date_to').value" formControlName="date_to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
            </div>

            <div class="col col-sm-12">
              <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">
            <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">

						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
						</ng-container>

              <ng-container matColumnDef="costcenter">
                <mat-header-cell *matHeaderCellDef>Variedad</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row.costcenter }}</mat-cell>
              </ng-container>

						<ng-container matColumnDef="quantity">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.quantity }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="package">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Envase</mat-header-cell>
							<mat-cell *matCellDef="let row">{{row.quantity_per_package}} {{ packages[row.package] ? packages[row.package].name : '??' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="total_quantity">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Total</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.total_quantity }} {{ packages[row.package] ? packages[row.package].name : '??' }}</mat-cell>
						</ng-container>

            <ng-container matColumnDef="currency">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ currencies[row.currency] ? currencies[row.currency].name : '??' }}</mat-cell>
            </ng-container>

              <ng-container matColumnDef="average">
                <mat-header-cell *matHeaderCellDef mat-sort-header>PPP</mat-header-cell>
                <mat-cell *matCellDef="let row">${{ row.average }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="weightedaverage">
                <mat-header-cell *matHeaderCellDef mat-sort-header>PPC</mat-header-cell>
                <mat-cell *matCellDef="let row">${{ row.weightedaverage }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="std">
                <mat-header-cell *matHeaderCellDef mat-sort-header>s</mat-header-cell>
                <mat-cell *matCellDef="let row">${{ row.std }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="variance">
                <mat-header-cell *matHeaderCellDef mat-sort-header>s<sup>2</sup></mat-header-cell>
                <mat-cell *matCellDef="let row">${{ row.variance }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="total_buy">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Total Comprado S/IVA</mat-header-cell>
                <mat-cell *matCellDef="let row">${{ row.total_buy }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="total_invoices">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Total Facturas</mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="badge bg-success">{{ row.total_invoices }}</span></mat-cell>
              </ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
