<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">PROVEEDORES</span>
				<div class="widget-controls">
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
					<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="resetStatus()" data-toggle="modal" data-target="#new-provider-modal"
                class="btn btn-primary" matTooltip="Agregar">
          <i class="fa fa-plus"></i>
        </button>

				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Buscar por Nombre...">
					</div>
				</div>

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="contact">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Contacto</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <strong>
                  Telefono: {{row.phone}}<br/>
                  Email: {{row.email}}<br/>
                  Direccion: {{row.address}}<br/>
                  Ciudad: {{row.city}}<br/>
                </strong>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tax_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>RUT</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.tax_id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="business_activity">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.business_activity }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button (click)="detailprovider(row)" data-toggle="modal" data-target="#new-provider-modal"
                        class="btn btn-outline-warning btn-xs" matTooltip="Editar">
                  <i class="fa fa-pencil"></i>
                </button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="providerId = row.id"
                        class="btn btn-outline-danger btn-xs" matTooltip="Eliminar">
                  <i class="fa fa-trash-o"></i>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>


<!--				<div class="table-responsive datatable">
					<div class="form-group text-right" style="margin: .5rem;">
						<label for="select-limit">Mostrar</label>
						<select class="form-control" id="select-limit" [(ngModel)]="limit" style="width: auto; display: inline-block" (ngModelChange)="handlePageChange(1)">
							<option [ngValue]="10">10</option>
							<option [ngValue]="25">25</option>
							<option [ngValue]="50">50</option>
						</select>
					</div>
					<table class="table table-striped table-hover table-sm" [mfData]="providers" #mf="mfDataTable" [mfRowsOnPage]="limit" [mfActivePage]="page">
						<thead>
							<tr>
								<th>
									<mfDefaultSorter by="name">Nombre</mfDefaultSorter>
								</th>
								<th>
									<mfDefaultSorter by="business_activity"> Contacto</mfDefaultSorter>
								</th>
								<th>
									<mfDefaultSorter by="rut"> Rut</mfDefaultSorter>
								</th>
								<th>
									<mfDefaultSorter by="business_activity"> Actividad</mfDefaultSorter>
								</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let provider of mf.data | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count }">
								<td>{{provider.name}}</td>
								<td>
									<strong>
										Telefono: {{provider.phone}}<br/>
										Email: {{provider.email}}<br/>
										Direccion: {{provider.address}}<br/>
										Ciudad: {{provider.city}}<br/>
									</strong>
								</td>
								<td><strong>{{provider.tax_id}}</strong></td>
								<td><strong>{{provider.business_activity}}</strong></td>
								<td>
									<button data-toggle="modal" data-target="#new-provider-modal" (click)="detailprovider(provider)" class="btn btn-outline-success btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
									<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="detailprovider(provider)" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							<tr *ngIf="(mf.data).length === 0">
								<td colspan="100">
									No Hay Resultados
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="12">
									<pagination-controls (pageChange)="handlePageChange($event)" autoHide="false" previousLabel="" nextLabel=""></pagination-controls>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>-->
			</div>
		</div>
	</div>
</div>

<!--MODAL PARA CREAR PROVIDER  !-->
<div class="modal fade" id="new-provider-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 *ngIf="create" class="modal-title" id="modal-label">Nuevo proveedor</h4>
				<h4 *ngIf="!create" class="modal-title" id="modal-label">Editar proveedor</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong><div class="txt-color-msg" *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
			</div>
			<div class="modal-body">
				<form [formGroup]="providerForm" class="row">
					<div class="form-group col-md-12" [ngClass]="{'has-danger' : providerForm.value.name != '' && providerForm.get('name').hasError('required'), 'has-success' : !providerForm.get('name').hasError('required') }">
						<label class="form-control-label">Nombre*</label>
						<input formControlName="name" class="form-control" [ngClass]="{'form-control-danger' :  providerForm.get('name').hasError('required'), 'form-control-success' :  !providerForm.get('name').hasError('required') }" type="text">
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : providerForm.value.tax_id != '' && providerForm.get('tax_id').hasError('required') || providerForm.value.tax_id != '' && providerForm.get('tax_id').hasError('Rut'), 'has-success' : !providerForm.get('tax_id').hasError('required') && !providerForm.get('tax_id').hasError('Rut') }">
						<label class="form-control-label">RUT*</label>
						<input placeholder="12345678-9" formControlName="tax_id" class="form-control" [ngClass]="{'form-control-danger' : providerForm.get('tax_id').hasError('Rut') || providerForm.get('tax_id').hasError('required'), 'form-control-success' :  !providerForm.get('tax_id').hasError('Rut') && !providerForm.get('tax_id').hasError('required')}" type="text">
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : providerForm.value.business_activity != '' && providerForm.get('business_activity').hasError('required'), 'has-success' : !providerForm.get('business_activity').hasError('required') }">
						<label class="form-control-label">Actividad*</label>
						<input formControlName="business_activity" class="form-control" [ngClass]="{'form-control-danger' :  providerForm.get('business_activity').hasError('required'), 'form-control-success' :  !providerForm.get('business_activity').hasError('required') }" type="text">
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : providerForm.value.phone != '' && providerForm.get('phone').hasError('required') , 'has-success' : !providerForm.get('phone').hasError('required') }">
						<label class="form-control-label">Telefono*</label>
						<input formControlName="phone" class="form-control" [ngClass]="{'form-control-danger' :  providerForm.get('phone').hasError('required'), 'form-control-success' :  !providerForm.get('phone').hasError('required') }" type="text">
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : providerForm.value.email != '' && (providerForm.get('email').hasError('required') || providerForm.get('email').hasError('invalidEmail')  ), 'has-success' : !providerForm.get('email').hasError('required') && !providerForm.get('email').hasError('invalidEmail') }">
						<label class="form-control-label">Correo*</label>
						<input formControlName="email" class="form-control" [ngClass]="{'form-control-danger' : providerForm.value.email != '' && providerForm.get('email').hasError('invalidEmail') , 'form-control-success' :  !providerForm.get('email').hasError('required') && !providerForm.get('email').hasError('invalidEmail') }" type="text">
						<span class="help-block text-danger" *ngIf="providerForm.get('email').touched && providerForm.get('email').hasError('invalidEmail')">El correo no es válido</span>
					</div>

					<div class="form-group col-md-12">
						<label class="form-control-label">Comuna</label>
						<ng2-completer formControlName="communeHolder" (selected)="onCommuneSelect($event)" [inputClass]="[ 'form-control' ]" placeholder="Escriba nombre de comuna...." [datasource]="dataService" [minSearchLength]="2" [textSearching]="'Buscando...'"></ng2-completer>
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : providerForm.value.address != '' && providerForm.get('address').hasError('required'), 'has-success' : !providerForm.get('address').hasError('required') }">
						<label class="form-control-label">Dirección*</label>
						<textarea formControlName="address" class="form-control" [ngClass]="{'form-control-danger' :  providerForm.get('address').hasError('required'), 'form-control-success' :  !providerForm.get('address').hasError('required') }"></textarea>
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : providerForm.value.city != '' && providerForm.get('city').hasError('required') , 'has-success' : !providerForm.get('city').hasError('required') }">
						<label class="form-control-label">Ciudad*</label>
						<input formControlName="city" class="form-control" [ngClass]="{'form-control-danger' :  providerForm.get('city').hasError('required'), 'form-control-success' :  !providerForm.get('city').hasError('required') }" type="text">
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : providerForm.value.is_customer != '' && providerForm.get('is_customer').hasError('required') , 'has-success' : !providerForm.get('is_customer').hasError('required') }">
						<label for="exampleSelect1">¿Cliente?*</label>
						<select formControlName="is_customer" class="form-control">
							<option [ngValue]="true">Si</option>
							<option [ngValue]="false">No</option>
						</select>
					</div>

					<div class="form-group col-md-12">
						<label for="exampleSelect1">¿Proveedor?</label>
						<select class="form-control" formControlName="is_provider">
							<option [ngValue]="true">Si</option>
							<option [ngValue]="false">No</option>
						</select>
					</div>

					<div class="form-group col-md-12">
						<label for="exampleSelect1">¿Externo?</label>
						<select formControlName="is_foreign" class="form-control">
							<option [ngValue]="true">Si</option>
							<option [ngValue]="false">No</option>
						</select>
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : !validateSalesName(providerForm.value.sales_person) }">
						<label class="form-control-label">Vendedor</label>
						<input formControlName="sales_person" class="form-control" type="text">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button *ngIf="create" (click)="saveprovider()" [disabled]="!providerForm.valid" type="button" class="btn btn-primary" title="Guardar"><i class="fa fa-floppy-o "></i></button>
				<button *ngIf="!create" (click)="editprovider()" [disabled]="!providerForm.valid" type="button" class="btn btn-primary" title="Actualizar"><i class="fa fa-pencil"></i></button>
				<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close" title="Cancelar"></i></button>
			</div>
		</div>
	</div>
</div>

<!--MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="deleteprovider()"></delete-confirm>
