<div class="modal-header state">
  <h1 mat-dialog-title>{{title}}</h1>
</div>
<div mat-dialog-content>
  <div class="clearfix">
    <ul class="nav nav-tabs top pull-left w-100p">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#ta">Datos</a>
      </li>
    </ul>
  </div>
  <div class="tab-content top">
    <div class="tab-pane active" id="ta">
      <div *ngIf="errorMessages.length > 0" class="fade show">
        <strong class="text-danger" *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</strong>
      </div>
      <form [formGroup]="form">
        <div class="table-loading-shade" *ngIf="isLoading" style="bottom: 0;">
          <mat-spinner></mat-spinner>
        </div>
        <div class="col-12">
          <div class="form-group"
               [ngClass]="{'has-danger' : form.get('name').touched && form.get('name').hasError('required'), 'has-success' : !form.get('name').hasError('required') }">
            <label class="form-control-label">Nombre*</label>
            <input formControlName="name" class="form-control"
                   [ngClass]="{'form-control-danger' :  form.get('name').touched && form.get('name').hasError('required'), 'form-control-success' :  !form.get('name').hasError('required') }"
                   type="text">
          </div>
        </div>
        <div class="col-12">
          <div class="form-group"
               [ngClass]="{'has-danger' : form.get('description').touched && form.get('description').hasError('required'), 'has-success' : !form.get('description').hasError('required') }">
            <label class="form-control-label">Descripción</label>
            <input formControlName="description" class="form-control"
                   [ngClass]="{'form-control-danger' :  form.get('description').touched && form.get('description').hasError('required'), 'form-control-success' :  !form.get('description').hasError('required') }"
                   type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button [disabled]="!form.valid" (click)="submit()" type="button" class="btn btn-primary" [title]=" isEdit? 'Actualizar':'Guardar'"><i class="fa fa-floppy-o "></i></button>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i></button>
</div>
