<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">REPORTES DE COMPRAS DE PROVEEDORES</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">

        <div style="padding: 0 0 1rem; width: 100%;">
          <az-reports-simple-filter (filter)="onSimpleFiltering($event)"></az-reports-simple-filter>
        </div>

				<div class="row bottom-15 top-15">

          <div class="col-6">
          </div>

          <div class="col-6">
            <div class="w-200 pull-right bottom-15">
              <div class="input-group input-group-sm">
                <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
                <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
              </div>
            </div>
          </div>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">

						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef>Proveedora</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.name ? row.name : "..." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="total">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Bruto</mat-header-cell>
							<mat-cell *matCellDef="let row" (click)="goToInvoices(row)">
								<span class="linkReport" (click)="goToInvoices(row)">{{ row.total | money }}</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="total_tax">
							<mat-header-cell *matHeaderCellDef mat-sort-header>IVA</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.total_tax | currency }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="total_specific_tax">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Impuesto Específico</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.total_specific_tax | currency }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="currency">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.currency }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="total_dollar_amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Suma en Dólares</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.total_dollar_amount }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="average_echange_rate">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de cambio promedio</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.average_exchange_rate }}</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>

					<mat-paginator></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
