<div class="row">
  <div class="col-xl-7 col-lg-6 col-md-6">
    <div class="panel panel-color panel-inverse">
      <div class="panel-heading">
        <h3 class="panel-title">Productos</h3>
      </div>
      <div class="panel-body">
        <div class="text-center">
          <h5 *ngIf="selectedProducts.length == 0">Actualmente no hay productos asociados a esta aplicación</h5>
          <div *ngIf="selectedProducts.length != 0">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Producto</th>
                  <th class="text-center">Dosis</th>
                  <th class="text-center">Sector</th>
                  <th class="text-center">Cantidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of selectedProducts; let i = index" class="text-center">
                  <td>{{p.name}}</td>
                  <td>{{p.quantity}} {{ p.package }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let s of selectedSectors">{{s.name}} - {{s.appliedhas}} {{ p.package }}</li>
                    </ul>
                  </td>
                  <td>{{ p.total_quantity }} {{ p.package }}</td>
                  <td><button class="btn btn-danger"  type="button" (click)="deleteProduct(i)"><i class="fa fa-trash-o"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-6 col-md-6">
    <div class="panel panel-color panel-inverse">
      <div class="panel-heading">
        <h3 class="panel-title">Asociar un producto</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="productForm">
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : productForm.get('product').touched && ( productForm.controls.product.errors?.required ),
                                                'has-success' : productForm.get('product').touched && !( productForm.controls.product.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Producto *</label>
              <mat-select placeholder="Productos" class="form-control" formControlName="product" [compareWith]="compareFn" #product>
                <mat-option *ngFor="let product of products" [value]="product">{{product.name}}</mat-option>
              </mat-select>
              <span class="help-block text-danger" *ngIf="productForm.get('product').touched && productForm.controls.product.errors?.required">Debe elegir un Producto</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : productForm.get('quantity').touched && ( productForm.controls.quantity.errors?.required || productForm.controls.quantity.errors?.number ),
                                            'has-success' : productForm.get('quantity').touched && !( productForm.controls.quantity.errors?.required || productForm.controls.quantity.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Cantidad </label>
              <input formControlName="quantity" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="productForm.get('quantity').touched && productForm.controls.quantity.errors?.required">Debe escribir la cantidad</span>
              <span class="help-block text-danger" *ngIf="productForm.get('quantity').touched && productForm.controls.quantity.errors?.number">Tiene que escribir la cantidad válida</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" style="padding-bottom: 10px">
              <div class="pull-right">
                <button [disabled]="!productForm.valid" (click)="addProduct(productForm.value, product.value)" type="button" class="btn btn-primary" title="Asociar"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
