<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">centros de costos</span>
				<div class="widget-controls">
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
					<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="resetStatus()" data-toggle="modal" data-target="#new-cost-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Buscar por Nombre...">
					</div>
				</div>


        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="notes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.notes }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button (click)="detailcost(row)" data-toggle="modal" data-target="#new-cost-modal"
                        class="btn btn-outline-warning btn-xs" matTooltip="Editar">
                  <i class="fa fa-pencil"></i>
                </button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="costId = row.id" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
			</div>
		</div>
	</div>
</div>

<!--MODAL PARA CREAR COSTO  !-->
<div class="modal fade" id="new-cost-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 *ngIf="create" class="modal-title" id="modal-label">Nuevo centro de costo</h4>
				<h4 *ngIf="!create" class="modal-title" id="modal-label">Editar centro de costo</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="costForm" class="row">
					<div class="form-group col-md-12" [ngClass]="{'has-danger' : costForm.value.name != '' && costForm.get('name').hasError('required'), 'has-success' : !costForm.get('name').hasError('required') }">
						<label class="form-control-label">Nombre*</label>
						<input formControlName="name" class="form-control" [ngClass]="{'form-control-danger' :  costForm.get('name').hasError('required'), 'form-control-success' :  !costForm.get('name').hasError('required') }" type="text">
					</div>

					<div class="form-group col-md-12" [ngClass]="{'has-danger' : costForm.value.notes != '' && costForm.get('notes').hasError('required'), 'has-success' : !costForm.get('notes').hasError('required') }">
						<label class="form-control-label">Notas *</label>
						<textarea formControlName="notes" class="form-control" [ngClass]="{'form-control-danger' :  costForm.get('notes').hasError('required'), 'form-control-success' :  !costForm.get('notes').hasError('required') }">
						</textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button *ngIf="create" (click)="savecost()" [disabled]="!costForm.valid" type="button" class="btn btn-primary" data-dismiss="modal" title="Guardar"><i class="fa fa-floppy-o "></i></button>
				<button *ngIf="!create" (click)="editcost()" [disabled]="!costForm.valid" type="button" class="btn btn-primary" data-dismiss="modal" title="Actualizar"><i class="fa fa-pencil"></i></button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar"><i class="fa fa-window-close"></i></button>
			</div>
		</div>
	</div>
</div>

<!--MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="deletecost()"></delete-confirm>
