<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE USUARIOS</span>
				<div class="widget-controls">
          <a (click)="loadusers()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="getRoles();resetStatus()" data-toggle="modal" data-target="#new-user-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="searchUsers()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="searchChanged.next(searchText)" class="form-control" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Buscar por Nombre...">
					</div>
				</div>
        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || error || tableData.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="error">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!error && !loadingResults && tableData.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table [dataSource]="tableData" class="table-table">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> E-mail</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="created_at">
              <mat-header-cell *matHeaderCellDef> Creado</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.created_at}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let user" class="text-right">
                <button
                  data-toggle="modal"
                  data-target="#new-user-modal"
                  (click)="detailuser(user)"
                  class="btn btn-outline-warning btn-xs"
                  matTooltip="Editar">
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  data-toggle="modal"
                  data-target="#confirm-delete-modal"
                  (click)="detailuser(user)"
                  class="btn btn-outline-danger btn-xs"
                  matTooltip="Eliminar">
                  <i class="fa fa-trash-o"></i>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>           </div>
          <mat-paginator [length]="total" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
			</div>
		</div>
	</div>
</div>

<!--MODAL PARA CREAR user  !-->
<div class="modal fade" id="new-user-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header state">
				<h4 *ngIf="create" class="modal-title" id="modal-error-label">Nuevo usuario</h4>
				<h4 *ngIf="!create" class="modal-title" id="modal-error-label">Editar usuario</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="clearfix">
					<ul class="nav nav-tabs top pull-left w-100p">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#ta">Datos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tb">Roles</a>
						</li>
					</ul>
				</div>
				<div class="tab-content top">
					<div class="tab-pane active" id="ta">
						<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
						</div>

						<form [formGroup]="userForm">
							<div class="form-group col-md-12" [ngClass]="{'has-danger' : userForm.get('name').touched && userForm.get('name').hasError('required'), 'has-success' : !userForm.get('name').hasError('required') }">
								<label class="form-control-label">Nombre*</label>
								<input formControlName="name" class="form-control" [ngClass]="{'form-control-danger' :  userForm.get('name').touched && userForm.get('name').hasError('required'), 'form-control-success' :  !userForm.get('name').hasError('required') }" type="text">
							</div>

							<div class="form-group col-md-12" [ngClass]="{'has-danger' : userForm.get('email').touched && (userForm.get('email').hasError('required') || userForm.get('email').hasError('invalidEmail')  ), 'has-success' : !userForm.get('email').hasError('required') && !userForm.get('email').hasError('invalidEmail') }">
								<label class="form-control-label">Correo*</label>
								<input formControlName="email" class="form-control" [ngClass]="{'form-control-danger' : userForm.get('password_confirmation').touched && userForm.get('email').hasError('invalidEmail') , 'form-control-success' :  !userForm.get('email').hasError('required') && !userForm.get('email').hasError('invalidEmail') }" type="text">
								<span class="help-block text-danger" *ngIf="userForm.get('email').touched && userForm.get('email').hasError('invalidEmail')">El correo no es válido</span>
							</div>

							<div class="form-group col-md-12">
								<label>{{create ? 'Contraseña*' : 'Contraseña'}}</label>
								<input class="form-control checking-field" type="password" formControlName="password" minlength="8" [required]="create">
								<span class="help-block text-danger" *ngIf="userForm.get('password').touched && userForm.get('password').hasError('required')">Contraseña es Necesaria</span>
								<span class="help-block text-danger" *ngIf="userForm.get('password').touched && userForm.get('password').hasError('minlength')">Contraseña debe tener 8 caracteres minimo</span>
							</div>

							<div class="form-group col-md-12">
								<label>{{ create ? 'Repita Contraseña*' : 'Repita Contraseña'}}</label>
								<input class="form-control checking-field" type="password" formControlName="password_confirmation" [required]="create">
								<span class="help-block text-danger" *ngIf="userForm.get('password_confirmation').touched && userForm.get('password_confirmation').hasError('required')">Contraseña es Necesaria</span>
								<span class="help-block text-danger" *ngIf="userForm.get('password_confirmation').touched && userForm.get('password_confirmation').hasError('mismatchedPasswords')">Las Contraseñas no son Iguales</span>
							</div>
						</form>
					</div>
					<div class="tab-pane" id="tb">
            <div class="col-12">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: 0;">Roles</label>
                <input #rolesInputText class="form-control" [matAutocomplete]="rolesAutoComplete" [(ngModel)]="roleInput">
                <mat-autocomplete #rolesAutoComplete="matAutocomplete">
                  <mat-option *ngFor="let role of roles | without: selectedRoles" [value]="role.name" (click)="addRole(role)">
                    <span>{{ role.description }}</span>
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let role of selectedRoles">
                  <td>
                    {{role.id}} - {{ role.description}}
                  </td>
                  <td>
                    <button (click)="removeRole(roleId)" class="btn btn-outline-danger btn-xs" matTooltip="Remover"><i class="fa fa-trash-o"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button [disabled]="!userForm.valid" *ngIf='create' (click)="saveUser()" type="button" class="btn btn-primary" title="Guardar"><i class="fa fa-floppy-o "></i></button>
				<button [disabled]="!userForm.valid" *ngIf='!create' (click)="editUser()" type="button" class="btn btn-primary" title="Actualizar"><i class="fa fa-floppy-o"></i></button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar"><i class="fa fa-window-close"></i></button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="deleteuser()"></delete-confirm>
