<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE PRODUCTOS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>

			<div class="row">
				<div class="col-6 relative">
					<a [attr.href]="generateExportLink('pdf')" target="_blank" rel="noopener noreferrer" class="btn btn-danger" title="Descargar PDF">
						<i class="fa fa-file-pdf-o"></i>
					</a>
					<a [attr.href]="generateExportLink('excel')" target="_blank" rel="noopener noreferrer" class="btn btn-success" title="Descargar Excel">
						<i class="fa fa-file-excel-o"></i>
					</a>
					<a [attr.href]="generateExportLink('csv')" target="_blank" rel="noopener noreferrer" class="btn btn-default" title="Descargar CSV">
						<i class="fa fa-file-text-o"></i>
					</a>
				</div>

				<div class="col-6 relativesearch">
					<div class="w-200 pull-right bottom-15">
						<div class="input-group input-group-sm">
							<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
							<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
						</div>
					</div>
				</div>
			</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>
					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">
						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="package">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Presentación</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ packages[row.package] ? packages[row.package].name : row.package }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="quantity_per_package">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad por envase</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.quantity_per_package | number }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="origin">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Origen</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ origins[row.origin] ? origins[row.origin].name : row.origin }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="formula">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fórmula</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.formula }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="classification" style="min-width: 150px;">
							<mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 150px;">Clasificación</mat-header-cell>
							<mat-cell *matCellDef="let row" style="min-width: 150px;">{{ classifications[row.classification] ? classifications[row.classification].name : row.classification }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="npks">
							<mat-header-cell *matHeaderCellDef>NPK</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<ul style="list-style-type: none; margin: 0; padding: 0;">
									<li *ngFor="let npk of row.npks">
										{{ npk.name }} {{ npk.pivot.quantity }}
									</li>
								</ul>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="varieties">
							<mat-header-cell *matHeaderCellDef>Variedades</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<ul style="list-style-type: none; margin: 0; padding: 0;">
									<li *ngFor="let variety of row.varieties">
										{{ variety.name }}
									</li>
								</ul>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="label_shortcoming">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Carencia de Etiqueta</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.label_shortcoming }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="reentry">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Reingreso</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.reentry }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="inventory">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Inventario</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.inventory_quantity }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
								<br>
								<button (click)="download(row.id)" class="btn btn-outline-info btn-xs" matTooltip="Ver etiqueta">
									<i class="fa fa-file-pdf-o"></i>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade loading-in-modal" *ngIf="current.requesting" style="bottom: 0;">
			<mat-spinner></mat-spinner>
		</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} producto</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="clearfix">
					<ul class="nav nav-tabs top pull-left w-100p">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#form" id="toform" (click)="changeTab('form')">Datos</a>
						</li>
						<li class="nav-item" [hidden]="!current.id">
							<a class="nav-link" data-toggle="tab" href="#npks" id="tonpks" (click)="changeTab('npks')">
								{{ ( form.get('classification').value == 1 || form.get('classification').value == 2 ) ? "Ingredientes activos" : "Npk" }}
							</a>
						</li>
					</ul>
				</div>
				<div class="tab-content top">
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'form' }" id="form">
						<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
						</div>
						<form [formGroup]="form">
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('name').touched && ( form.controls.name.errors?.required || form.controls.name.errors?.maxlength ), 'has-success' : form.get('name').touched && !( form.controls.name.errors?.required || form.controls.name.errors?.maxlength ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Nombre *</label>
									<input formControlName="name" class="form-control">
									<span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.required">Debe escribir el nombre</span>
									<span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.maxlength">El nombre no puede exceder los 255 caracteres</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('package').touched && ( form.controls.package.errors?.required || form.controls.package.errors?.number || form.controls.package.errors?.range ), 'has-success' : form.get('package').touched && !( form.controls.package.errors?.required || form.controls.package.errors?.number || form.controls.package.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Presentación *</label>
									<select class="form-control" formControlName="package">
										<option *ngFor="let package of packages" [value]="package.value">{{package.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('package').touched && form.controls.package.errors?.required">Debe elegir una presentación</span>
									<span class="help-block text-danger" *ngIf="form.get('package').touched && form.controls.package.errors?.number">La presentación solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('package').touched && form.controls.package.errors?.range">Debe seleccionar una presentación válido</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('quantity_per_package').touched && ( form.controls.quantity_per_package.errors?.required || form.controls.quantity_per_package.errors?.number || form.controls.quantity_per_package.errors?.max || form.controls.quantity_per_package.errors?.min ), 'has-success' : form.get('quantity_per_package').touched && !( form.controls.quantity_per_package.errors?.required || form.controls.quantity_per_package.errors?.number || form.controls.quantity_per_package.errors?.max || form.controls.quantity_per_package.errors?.min ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Cantidad por envase *</label>
									<input formControlName="quantity_per_package" min="0" max="999999.99999" type="number" class="form-control">
									<span class="help-block text-danger" *ngIf="form.get('quantity_per_package').touched && form.controls.quantity_per_package.errors?.required">Debe escribir la cantidad por envase</span>
									<span class="help-block text-danger" *ngIf="form.get('quantity_per_package').touched && form.controls.quantity_per_package.errors?.number">La cantidad por envase solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('quantity_per_package').touched && form.controls.quantity_per_package.errors?.min">La cantidad por envase debe ser mínimo 0</span>
									<span class="help-block text-danger" *ngIf="form.get('quantity_per_package').touched && form.controls.quantity_per_package.errors?.max">La cantidad por envase no puede ser mayor a 999999.99999</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('origin').touched && ( form.controls.origin.errors?.required || form.controls.origin.errors?.number || form.controls.origin.errors?.range ), 'has-success' : form.get('origin').touched && !( form.controls.origin.errors?.required || form.controls.origin.errors?.number || form.controls.origin.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Origen *</label>
									<select class="form-control" formControlName="origin">
										<option *ngFor="let origin of origins" [value]="origin.value">{{origin.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('origin').touched && form.controls.origin.errors?.required">Debe elegir un origen</span>
									<span class="help-block text-danger" *ngIf="form.get('origin').touched && form.controls.origin.errors?.number">El origen solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('origin').touched && form.controls.origin.errors?.range">Debe seleccionar un origen válido</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('formula').touched && ( form.controls.formula.errors?.required || form.controls.formula.errors?.maxlength ), 'has-success' : form.get('formula').touched && !( form.controls.formula.errors?.required || form.controls.formula.errors?.maxlength ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fórmula *</label>
									<textarea formControlName="formula" class="form-control"></textarea>
									<span class="help-block text-danger" *ngIf="form.get('formula').touched && form.controls.formula.errors?.required">Debe escribir la fórmula</span>
									<span class="help-block text-danger" *ngIf="form.get('formula').touched && form.controls.formula.errors?.maxlength">La fórmula no puede exceder los 255 caracteres</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('classification').touched && ( form.controls.classification.errors?.required || form.controls.classification.errors?.number || form.controls.classification.errors?.range ), 'has-success' : form.get('classification').touched && !( form.controls.classification.errors?.required || form.controls.classification.errors?.number || form.controls.classification.errors?.range ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Clasificación *</label>
									<select class="form-control" formControlName="classification">
										<option *ngFor="let classification of classifications" [value]="classification.value">{{classification.name}}</option>
									</select>
									<span class="help-block text-danger" *ngIf="form.get('classification').touched && form.controls.classification.errors?.required">Debe elegir una clasificación</span>
									<span class="help-block text-danger" *ngIf="form.get('classification').touched && form.controls.classification.errors?.number">La clasificación solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('classification').touched && form.controls.classification.errors?.range">Debe seleccionar una clasificación válido</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('objective').touched && ( form.controls.objective.errors?.maxlength ), 'has-success' : form.get('objective').touched && !( form.controls.objective.errors?.maxlength ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Objetivo</label>
									<input formControlName="objective" class="form-control">
									<span class="help-block text-danger" *ngIf="form.get('objective').touched && form.controls.objective.errors?.maxlength">El objetivo no puede exceder los 255 caracteres</span>
								</div>
							</div>

							<div class="col-12" *ngIf="form.get('classification').value == 1 || form.get('classification').value == 2">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('reentry').touched && ( form.controls.reentry.errors?.required || form.controls.reentry.errors?.number || form.controls.reentry.errors?.max || form.controls.reentry.errors?.min ), 'has-success' : form.get('reentry').touched && !( form.controls.reentry.errors?.required || form.controls.reentry.errors?.number || form.controls.reentry.errors?.max || form.controls.reentry.errors?.min ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Reingreso *</label>
									<input formControlName="reentry" min="0" max="99999.99" type="number" class="form-control">
									<span class="help-block text-danger" *ngIf="form.get('reentry').touched && form.controls.reentry.errors?.required">Debe escribir el reingreso</span>
									<span class="help-block text-danger" *ngIf="form.get('reentry').touched && form.controls.reentry.errors?.number">El reingreso solo puede contener números</span>
									<span class="help-block text-danger" *ngIf="form.get('reentry').touched && form.controls.reentry.errors?.min">El reingreso debe ser mínimo 0</span>
									<span class="help-block text-danger" *ngIf="form.get('reentry').touched && form.controls.reentry.errors?.max">El reingreso no puede ser mayor a 99999.99</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group">
									<label class="form-control-label" style="margin-bottom: 0;">
										<span *ngIf="!current.id">Subir etiqueta *</span>
										<span *ngIf="current.id">Actualizar etiqueta</span>
									</label>
									<input class="form-control" #fileInput type="file" (change)="addedFile($event, 'file')" name="file" accept="application/pdf"/>
									<span class="help-block text-danger" *ngIf="form.controls.file.errors?.required && !form.controls.file.errors?.type">Debe seleccionar un archivo</span>
									<span class="help-block text-danger" *ngIf="form.controls.file.errors?.type">El archivo debe ser de formato 'pdf'</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.maxlength ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
									<textarea formControlName="notes" class="form-control"></textarea>
									<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
								</div>
							</div>

							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : varietyCtrl.touched && ( form.controls.varieties.errors?.minLength ), 'has-success' : varietyCtrl.touched && !( form.controls.varieties.errors?.minLength ) }">
									<label class="form-control-label" style="margin-bottom: .5rem;">Variedades *</label>
									<input class="form-control" [matAutocomplete]="varietiesAutoComplete" [formControl]="varietyCtrl">
									<mat-autocomplete #varietiesAutoComplete="matAutocomplete">
										<mat-option *ngFor="let variety of varieties" [value]="variety.name" (click)="selectRow(variety, 'variety', 'selectedVarieties')">
											<span>{{ variety.name }}</span>
										</mat-option>
									</mat-autocomplete>
								<span class="help-block text-danger" *ngIf="varietyCtrl.touched && form.controls.varieties.errors?.minLength">Debe seleccionar al menos una variedad</span>
									<div *ngFor="let variety of selectedVarieties, let i = index">
										* <span class="help-block">{{ variety.name }}</span>
										-
										<span class="help-block text-danger h-underline" style="cursor: pointer" (click)="removeVariety( variety.id, i )">
											<i class="fa fa-close"></i>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'npks' }" id="npks">
						<div *ngIf="form.get('classification').value != 1 && form.get('classification').value != 2">
							<form [formGroup]="formNPK">
								<div class="col-12">
									<div class="form-group" [ngClass]="{'has-danger' : npkCtrl.touched && ( formNPK.controls.npk_id.errors?.required || formNPK.controls.npk_id.errors?.number ), 'has-success' : npkCtrl.touched && !( formNPK.controls.npk_id.errors?.required || formNPK.controls.npk_id.errors?.number ) }">
										<label class="form-control-label" style="margin-bottom: 0;">NPK *</label>
										<input class="form-control" [matAutocomplete]="npksAutoComplete" [formControl]="npkCtrl">
										<mat-autocomplete #npksAutoComplete="matAutocomplete">
											<mat-option *ngFor="let npk of npks" [value]="npk.name" (click)="selectRow(npk, 'npk', 'formNPK')">
												<span>{{ npk.name }}</span>
											</mat-option>
										</mat-autocomplete>
										<span class="help-block text-danger" *ngIf="npkCtrl.touched && formNPK.controls.npk_id.errors?.required">Debe elegir un NPK</span>
										<span class="help-block text-danger" *ngIf="npkCtrl.touched && formNPK.controls.npk_id.errors?.number">Elige un NPK válido</span>
                    <span class="help-block text-danger" *ngIf="npkCtrl.touched && formNPK.controls.npk_id.errors?.exists">El NPK ya existe.</span>
                  </div>
								</div>

								<div class="col-12">
									<div class="form-group" [ngClass]="{'has-danger' : formNPK.get('quantity').touched && ( formNPK.controls.quantity.errors?.required || formNPK.controls.quantity.errors?.number ), 'has-success' : formNPK.get('quantity').touched && !( formNPK.controls.quantity.errors?.required || formNPK.controls.quantity.errors?.number ) }">
										<label class="form-control-label" style="margin-bottom: 0;">Cantidad *</label>
										<div class="input-group">
											<input formControlName="quantity" type="number" class="form-control" style="z-index: 0">
										</div>
										<span class="help-block text-danger" *ngIf="formNPK.get('quantity').touched && formNPK.controls.quantity.errors?.required">Debe escribir la cantidad</span>
										<span class="help-block text-danger" *ngIf="formNPK.get('quantity').touched && formNPK.controls.quantity.errors?.number">La cantidad solo pueden ser números</span>
									</div>
								</div>

								<div class="col-12">
									<button [disabled]="!formNPK.valid" (click)="saveNPK(formNPK.value)" type="button" class="btn btn-primary" title="Guardar">
										<i class="fa fa-floppy-o"></i>
									</button>
									<button (click)="resetFormNPK()" type="button" class="btn btn-danger" title="Limpiar">
										<i class="fa fa-refresh"></i>
									</button>
								</div>
							</form>
							<hr>
							<div class="table-responsive">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Cantidad</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let npk of current.npks; let $index = index">
											<td>
												{{ npk.name }}
											</td>
											<td #containerRef>
                        <ng-container *ngIf="!containerRef.showInput">
												  {{ npk.pivot.quantity | number }}
                        </ng-container>
                        <ng-container *ngIf="containerRef.showInput">
                          <input type="number" #input class="no-margin" (change)="updateQuantity(npk, input.value)" (blur)="containerRef.showInput = false; editNPK(npk);" />
                        </ng-container>
											</td>
											<td>
												<button (click)="containerRef.showInput = true" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
												<button (click)="deleteNPK( npk, $index )" class="btn btn-outline-danger btn-xs" matTooltip="Remover"><i class="fa fa-trash-o"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

            <!-- ACTIVE INGREDIENTS FORM -->
            <div class="tab-pane" id="ingredients">
              <div *ngIf="form.get('classification').value == 1 || form.get('classification').value == 2">
                <form [formGroup]="formIngredient" >
                  <div class="col-12">
                    <div class="form-group" [ngClass]="{'has-danger' : formIngredient.get('name').touched && ( formIngredient.controls.name.errors?.required ), 'has-success' : formIngredient.get('name').touched && !( formIngredient.controls.name.errors?.required ) }">
                      <label class="form-control-label" style="margin-bottom: 0;">Nombre *</label>
                      <input formControlName="name" class="form-control" placeholder="Nombre">
                      <span class="help-block text-danger" *ngIf="formIngredient.get('name').touched && formIngredient.controls.name.errors?.required">Debe escribir la cantidad</span>
                    </div>
                  </div>

                  <div class="col-12">
                    <button [disabled]="!formIngredient.valid" (click)="saveIngredient(formIngredient.value, 'guardar')" type="button" class="btn btn-primary" title="Guardar">
                      <i class="fa fa-floppy-o"></i>
                    </button>
                    <button (click)="resetFormIngredient()" type="button" class="btn btn-danger" title="Limpiar">
                      <i class="fa fa-refresh"></i>
                    </button>
                  </div>
                </form>
                <hr>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let ingredient of current.active_ingredients; let i = index">
                      <td>
                        {{ ingredient.name }}
                      </td>
                      <td>
                        <!--<button (click)="editIngredient( npk, $index )"
                                class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>-->
                        <button (click)="deleteIngredient( i )"
                                class="btn btn-outline-danger btn-xs" matTooltip="Remover"><i class="fa fa-trash-o"></i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- ACTIVE INGREDIENTS FORM END -->

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" [title]="tab == 'form' ? 'Cancelar' : 'Cerrar'">
					<i class="fa fa-window-close"></i>
				</button>
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar" *ngIf="tab == 'form'">
					<i class="fa fa-floppy-o"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
