td:first-child {
  font-weight: bold;
}

.card {
	border-radius: 0;
}

#chartdiv {
	width	: 100%;
	height	: 500px;
}

.zoom_btn{
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px; box-sizing: border-box;
	color: rgb(0, 0, 0); margin: 1px; opacity: 0.7;
	outline: none; 
	display: inline;
}
/*	
.range_date{
background: transparent;
 border: 1px solid rgba(0, 0, 0, 0.3);
 color: rgb(0, 0, 0); 
 outline: none; 
 text-align: center;
 width: 150px;
}*/
/*		
.filter_option{
padding-bottom: 8px;
 overflow: hidden; 
 color: rgb(0, 0, 0);
}*/
.whight-bg{
	background: #fff;
}
.graph_loader_container{
	top: 100px !important;
    left: 50px !important;
    bottom: 10px !important;
    right: 50px !important;
}
.filter_option .active{
	background-color: blue;
    color: #FFF;
}
#chartdiv{
	height: 600px;
}

.amcharts-legend-div {
	overflow-y: auto!important;
	max-height: 300px;
	margin-bottom: 40px;
  }
.panel-body .amcharts-period-input{
	background: #056700 !important;
	color: #FFF !important;
}

.filter_option { padding:0; position: relative; }
.add_new_btn {  padding:6px 30px; background: #056700; color:#fff; font-size: 13px; display: inline-block; border:1px solid #056700; cursor: pointer;}
.add_new_btn:hover { background: #000;}
.inline {display: inline-block;}
.select-input { padding:6px 10px; background: #fff; color:#333; font-size: 13px; display: inline-block; border:1px solid #ddd;}
.lbl {display: inline-block; margin: 0 10px 0 0; padding: 0; font-weight: normal; font-size:13px; color:#333;}
.w150 { width:150px;}
.w130 { width:130px;}
.mr5  {margin-right:5px;}
.range_date { }
.green-small-btn {  padding:6px 30px; background: #056700; color:#fff; font-size: 13px; display: inline-block; border:1px solid #056700; cursor: pointer;}
.amcharts-period-input{ padding:6px 30px; background: #056700; color:#fff; font-size: 13px; display: inline-block; border:1px solid #056700; cursor: pointer;}
.green-small-btn:hover, .amcharts-period-input:hover { background: #000;}

.amcharts-period-input-selected{ padding:6px 30px; background: #056700!important; color:#fff!important; font-size: 13px; display: inline-block; border:1px solid #056700; cursor: pointer;}



@media only screen and (max-width: 767px) {
	.filter_option .col-md-5 { -ms-flex: 0 0 100%;	flex: 0 0 100%;		max-width: 100%; margin:10px 0;}
	.filter_option .col-md-7 {		-ms-flex: 0 0 100%;		flex: 0 0 100%;		max-width: 100%; margin:10px 0;}
	.mmt10 { margin-top:10px;}
	.mw100 { width:100%;}
	.lbl{display: block;}
	.filter_option .form-group.text-right {text-align: left!important;}

	.amChartsPeriodSelector.amcharts-period-selector-div {     background: #fff;		margin: 10px -15px;		padding: 10px;}
	.amcharts-period-input {padding: 6px 15px;}
	.amcharts-period-input-selected{padding: 6px 15px;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	.filter_option .col-md-5 { -ms-flex: 0 0 100%;	flex: 0 0 100%;		max-width: 100%; margin:10px 0;}
	.filter_option .col-md-7 {		-ms-flex: 0 0 100%;		flex: 0 0 100%;		max-width: 100%; margin:10px 0;}
	.mmt10 { margin-top:10px;}
}