<div>
	<div class="table-loading-shade graph_loader_container" *ngIf="graphLoading">
		<mat-spinner></mat-spinner>
	</div>

<div class="row bottom-30">
	<div class="col-12" style="padding: 6px;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="">
					<div class="panel-body whight-bg clearfix">
						<div class="filter_option clearfix">

							<div class="row">
									<div class="col-md-3 col-sm-12">
											<input type="button" *ngIf="!enableChart2" value="Create New Graph" (click)="cloneGraph()" class="add_new_btn "  [disabled]="graphLoading">
									</div>
									<div class="col-md-9 col-sm-12 ">
											<div class="form-group text-right clearfix">
													<label class="lbl">Station</label> <select id="station_list" name="station_list" class="select-input inline w150 mw100" (change)="getByStation()"  [(ngModel)]="selectedStation" >
															<option value="">Select Station</option>
															<option *ngFor="let item of stationList"  value="{{item.id}}">
																			{{item.name}}
															</option>
															
												</select>
												<label class="lbl">From:</label>
												<input aria-label="From: " class="select-input range_date inline w150  mw100" type="date" data-date-format="YYYY-DD-MMMM" [(ngModel)]='fromDateGraph'>
												<label class="lbl">to:</label>
												<input aria-label="to: " class="select-input range_date inline w150 mr5  mw100" type="date" data-date-format="yyyy-mm-dd" [(ngModel)]='toDateGraph'>
		
												<input type="button" value="Range Filter" (click)="refreshGraph()" class="green-small-btn mr5  mmt10" [disabled]="graphLoading">
												<input type="button" value="Clear" (click)="cleareGraph()" class="green-small-btn  mmt10"   [disabled]="graphLoading">		
												<br>
												<span class="error haveError text-danger"> {{graph_validation_error}} </span>
											</div>
										
												
									</div>
								</div>

						</div>
						<div  class="clearfix">
							<div id="chartdiv" [style.width.%]="100" [style.height.px]="600"></div>
						</div>
						
						
						


					</div>
				</div>

				
			</div>
		</div>
	</div>
</div>

<div class="row bottom-30" [style.visibility]="enableChart2 ? 'visible' : 'hidden'">
	<div class="col-12" style="padding: 6px;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				
				
				<div class="panel-body whight-bg clearfix">
					<div id="chartdiv2" [style.width.%]="100" [style.height]="enableChart2 ? '600px' : '0px'"></div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="row bottom-30">
		<div class="col-12" style="padding: 6px;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					
					<div class="panel-body whight-bg">
							<h2>Min - Max</h2>
							<table class="table table-bordered">
							  <thead>
								<tr>
								  <th>Field</th>
								  <th>MIn</th>
									<th>Max</th>
									<th>Avg</th>
								</tr>
							  </thead>
							  <tbody>
								<tr  *ngFor="let minmax of charParm ; let i = index" [hidden]="!minmax.isSelected" [style.color]="minmax.color">
										<td>{{minmax.name}}</td>
										<td>{{minmax.min}}</td>
										<td>{{minmax.max}}</td>
										<td>{{minmax.avg}}</td>
								</tr>
								
							  </tbody>
							</table>
						  </div>
				</div>
			</div>
		</div>
	</div>

</div>
	