<div class="modal-header state">
  <h1 mat-dialog-title>Detalle del empleado</h1>
</div>
<div mat-dialog-content>
  <div class="form-group">
    <label class="form-control-label">Nombre</label>
    <input class="form-control" disabled  placeHolder="Nombre" [value]="employee.name">
  </div>
  <div class="form-group">
    <label class="form-control-label">Status</label>
    <input class="form-control" disabled  placeHolder="Status" [value]="employee.status === 1 ? 'Activo': 'Inactivo'">
  </div>
  <div class="form-group">
    <label class="form-control-label">Rut</label>
    <input class="form-control" disabled  placeHolder="Rut" [value]="employee.afp">
  </div>
  <div class="form-group">
    <label class="form-control-label">Fecha de nacimiento</label>
    <input class="form-control" disabled  placeHolder="Fecha de nacimiento" [value]="employee.birth_date | date: 'y-MM-dd'">
  </div>
  <div class="form-group">
    <label class="form-control-label">Fecha de contrato</label>
    <input class="form-control" disabled  placeHolder="Fecha de contrato" [value]="employee.contract_date | date:'y-MM-dd'">
  </div>
  <div class="form-group">
    <label class="form-control-label">Fecha de despido</label>
    <input class="form-control" disabled  placeHolder="Fecha de despido"
           [value]="employee.status === 1 ? 'Empleado activo' : employee.fired_date | date: 'y-MM-dd'">
  </div>
  <div class="form-group">
    <label class="form-control-label">Labor</label>
    <input class="form-control" disabled  placeHolder="Labor" [value]="employee.labor">
  </div>
  <div class="form-group">
    <label class="form-control-label">Centro de costo</label>
    <input class="form-control" disabled  placeHolder="Centro de Costo" [value]="costCenter?.name">
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i>
  </button>
</div>
