<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">REPORTES</span>
      </div>
      <div class="card-block widget-body">
        <div style="padding: 0 0 1rem; width: 100%;">
          <form [formGroup]="filtersForm" novalidate>
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="form-control-label" style="margin-bottom: .5rem;">Mes</label>
                  <select class="form-control" formControlName="month">
                    <option [value]="'january'">Enero</option>
                    <option [value]="'february'">Febrero</option>
                    <option [value]="'march'">Marzo</option>
                    <option [value]="'april'">Abril</option>
                    <option [value]="'may'">Mayo</option>
                    <option [value]="'june'">Junio</option>
                    <option [value]="'july'">Julio</option>
                    <option [value]="'august'">Agosto</option>
                    <option [value]="'september'">Septiembre</option>
                    <option [value]="'october'">Octubre</option>
                    <option [value]="'nobember'">Noviembre</option>
                    <option [value]="'december'">Diciembre</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label class="form-control-label" style="margin-bottom: .5rem;">Año</label>
                  <select class="form-control" formControlName="year">
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-sm-12">
                <a [attr.href]="generarReporte(filtersForm.value)" target="_blank" rel="noopener noreferrer" class="btn btn-primary" title="Generar Liquidación">
                  Generar reporte
                </a>
                <a [attr.href]="generarReporteNow()" target="_blank" rel="noopener noreferrer" class="btn btn-primary" title="Generar Liquidación">
                  Generar reporte mes actual
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
