<div class="wrapper-page">
	<div class="panel panel-color panel-inverse">
		<div class="panel-heading">
				<img width="60px" height="60px;" src="assets/img/logo/logo.png" >
		   <h3 class="text-center m-t-10"><strong>Antumalal </strong> Agr&iacute;cola</h3>
		</div>

		<div class="panel-body">
			<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal m-t-10 p-20 p-b-0">
				<span class="help-block text-center text-danger" style="margin: 0;" *ngIf="error">
					<strong>
            {{error}}
					</strong>
				</span>

				<div class="form-group ">
					<div class="col-xs-12">
						<input class="form-control" [formControl]="email" id="email" class="form-control checking-field" placeholder="Correo" type="text"  placeholder="Email">
						<span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">El correo no puede estar vacío</span>
						<span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmail')">El correo no es válido</span>
					</div>
				</div>

				<div class="form-group ">
					<div class="col-xs-12">
						<input class="form-control" [formControl]="password" id="password" class="form-control checking-field" placeholder="Contraseña" type="password" azCapsWarning type="password" placeholder="Contraseña">
						<span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">La contraseña no puede estar vacío</span>
						<span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Mínimo 8 caracteres</span>
					</div>
				</div>

				<div class="form-group text-right">
					<div class="col-xs-12">
						<button [disabled]="!form.valid" class="btn" [ngClass]="{ 'btn-primary': form.valid }" type="submit" matTooltip="Iniciar sesión" matTooltipPosition="below">
							<i class="fa fa-sign-in" aria-hidden="true"></i>
						</button>
					</div>
				</div>

				<a pull-right routerLink="/recuperar-contrasena" class="btn btn-link" style="margin-bottom: 1rem; font-weight:bold;"> <i class="fa fa-lock"></i> Olvidaste la contraseña?</a>
			</form>
		</div>

	</div>
</div>


