<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">Eto del período</span>
				<div class="widget-controls">
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
					<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Eto del mes</th>
							<th>Eto mínima</th>
							<th>Eto máxima</th>
							<th>Eto promedio</th>
							<th>Lluvia caída</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>{{eto}}</th>
							<th>{{etoMin}}</th>
							<th>{{etoMax}}</th>
							<th>{{etoAvg}}</th>
							<th>{{rain}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE DÍAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div style="padding: 0 0 1rem; width: 100%;">
					<form class="row" [formGroup]="filtersForm" (ngSubmit)="buildFilters(filtersForm.value)" novalidate>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Mes</label>
								<select class="form-control" formControlName="month">
									<option [value]="0">Enero</option>
									<option [value]="1">Febrero</option>
									<option [value]="2">Marzo</option>
									<option [value]="3">Abril</option>
									<option [value]="4">Mayo</option>
									<option [value]="5">Junio</option>
									<option [value]="6">Julio</option>
									<option [value]="7">Agosto</option>
									<option [value]="8">Septiembre</option>
									<option [value]="9">Octubre</option>
									<option [value]="10">Noviembre</option>
									<option [value]="11">Diciembre</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Año</label>
								<select class="form-control" formControlName="year">
									<option *ngFor="let year of lastYears" value="{{year}}">{{year}}</option>
								</select>
							</div>
						</div>

						<div class="col col-sm-12">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
				</div>

				<div class="row" style="margin-left: -15px; margin-bottom: 4px;">
					<div class="col-12">
						<a [attr.href]="generateExportLink('pdf')" target="_blank" rel="noopener noreferrer" class="btn btn-danger" title="Descargar PDF">
							<i class="fa fa-file-pdf-o"></i>
						</a>
						<a [attr.href]="generateExportLink('excel')" target="_blank" rel="noopener noreferrer" class="btn btn-success" title="Descargar Excel">
							<i class="fa fa-file-excel-o"></i>
						</a>
						<a [attr.href]="generateExportLink('csv')" target="_blank" rel="noopener noreferrer" class="btn btn-default" title="Descargar CSV">
							<i class="fa fa-file-text-o"></i>
						</a>
					</div>
				</div>

				<button [enableIfRoles]="[ROLES.SAVE]" (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
        <button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros Avanzados"><i class="fa fa-filter"></i></button>

        <az-days-advance-filter-form
          (confirmFilters)="searchWithAdvanceFilter($event)"></az-days-advance-filter-form>

				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
					</div>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">
					<mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">
						<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="evotranspiration">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Evotranspiración</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.evotranspiration }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="rain">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Lluvia</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.rain | number }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="tray_recovery">
							<mat-header-cell *matHeaderCellDef mat-sort-header>% Bandeja a recuperar</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button *ngIf="row.sectors.length > 0" class="btn btn-primary" type="button" data-toggle="collapse" attr.data-target="#collapseTray{{row.id}}" attr.aria-expanded="false" attr.aria-controls="collapseTray{{row.id}}">Ver</button>
								<div class="collapse" id="collapseTray{{row.id}}">
									<div class="well">
										<table class="table table-striped table-bordered">
											<tr *ngFor="let sector of row.sectors">
												<td>{{ sector.name }}</td>
												<td>{{ sector.pivot.tray_recovery_percentage * 100 | number }} %</td>
											</tr>
										</table>
									</div>
								</div>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="notes">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.notes | slice:0:50 }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button [enableIfRoles]="[ROLES.UPDATE]" data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button [enableIfRoles]="[ROLES.REMOVE]" data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>
					</div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
		<mat-spinner></mat-spinner>
	</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} día</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ), 'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">La fecha no puede estar vacía</span>
							<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('evotranspiration').touched && ( form.controls.evotranspiration.errors?.required || form.controls.evotranspiration.errors?.number || form.controls.evotranspiration.errors?.max ), 'has-success' : form.get('evotranspiration').touched && !( form.controls.evotranspiration.errors?.required || form.controls.evotranspiration.errors?.number || form.controls.evotranspiration.errors?.max ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Evotranspiración *</label>
							<input formControlName="evotranspiration" type="number" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('evotranspiration').touched && form.controls.evotranspiration.errors?.required">Debe escribir la evotranspiración</span>
							<span class="help-block text-danger" *ngIf="form.get('evotranspiration').touched && form.controls.evotranspiration.errors?.number">La evotranspiración solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('evotranspiration').touched && form.controls.evotranspiration.errors?.max">La evotranspiración no puede exceder los 10 dígitos</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('rain').touched && ( form.controls.rain.errors?.required || form.controls.rain.errors?.number ), 'has-success' : form.get('rain').touched && !( form.controls.rain.errors?.required || form.controls.rain.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Lluvia *</label>
							<input formControlName="rain" type="number" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('rain').touched && form.controls.rain.errors?.required">Debe escribir la lluvia</span>
							<span class="help-block text-danger" *ngIf="form.get('rain').touched && form.controls.rain.errors?.number">La lluvia solo puede contener números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
							<textarea formControlName="notes" class="form-control"></textarea>
							<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir alguna nota</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group">
							<label class="form-control-label">Porcentaje de bandeja a recuperar</label>
							<div class="row">
								<div class="col-4 col-sm-3 col-md-2" *ngFor="let sector of trayRecovery" style="padding-top: 1rem;">
									<p class="form-control-label text-truncate" style="margin: 0;">{{ sector.name }}</p>
									<input class="form-control" type="number" [(ngModel)]="sector.tray_recovery_percentage" min="0" max="100" [ngModelOptions]="{ standalone: true }" placeholder="%">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-save"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
