<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE EMPLEADOS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
				
				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
					</div>
				</div>
				
				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>
					
					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">
						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="status">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ states[row.status] ? states[row.status].name : row.status }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="tax_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Rut</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.tax_id }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="birth_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de nacimiento</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.birth_date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="contract_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de contratación</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.contract_date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="fired_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de despido</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.fired_date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="labor">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cargo</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.labor }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="costcenter_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Centro de costo</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.costcenter ? row.costcenter.name : "..." }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
								<br>
								<button (click)="download(row.id, 'contract')" class="btn btn-outline-info btn-xs" matTooltip="Ver contrato">
									<i class="fa fa-file-pdf-o"></i>
								</button>
								<button (click)="download(row.id, 'fired')" *ngIf="row.status == 0" class="btn btn-outline-danger btn-xs" matTooltip="Ver archivo de despido">
									<i class="fa fa-file-pdf-o"></i>
								</button>
							</mat-cell>
						</ng-container>
						
						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
						
						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>
					
					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
		<mat-spinner></mat-spinner>
	</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} empleado</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('name').touched && ( form.controls.name.errors?.required || form.controls.name.errors?.maxlength ), 'has-success' : form.get('name').touched && !( form.controls.name.errors?.required || form.controls.name.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Nombre *</label>
							<input formControlName="name" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.required">Debe escribir el nombre</span>
							<span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.maxlength">El nombre no puede exceder los 255 caracteres</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('tax_id').touched && ( form.controls.tax_id.errors?.required ) || ( form.controls.tax_id.errors?.Rut ), 'has-success' : form.get('tax_id').touched && !( form.controls.tax_id.errors?.required ) && !( form.controls.tax_id.errors?.Rut ) }">
							<label class="form-control-label" style="margin-bottom: 0;">RUT *</label>
							<input formControlName="tax_id" class="form-control" placeholder="12345678-9">
							<span class="help-block text-danger" *ngIf="form.get('tax_id').touched && form.controls.tax_id.errors?.required">Debe escribir el RUT</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('birth_date').touched && ( form.controls.birth_date.errors?.required || form.controls.birth_date.errors?.date ), 'has-success' : form.get('birth_date').touched && !( form.controls.birth_date.errors?.required || form.controls.birth_date.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fecha de nacimiento *</label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" [max]="form.get('contract_date').value" type="calendar" formControlName="birth_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('birth_date').touched && form.controls.birth_date.errors?.required">La fecha de nacimiento no puede estar vacía</span>                              
							<span class="help-block text-danger" *ngIf="form.get('birth_date').touched && form.controls.birth_date.errors?.date">El formato de la fecha de nacimiento debe ser: 'YYYY-MM-DD'</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('contract_date').touched && ( form.controls.contract_date.errors?.required || form.controls.contract_date.errors?.date ), 'has-success' : form.get('contract_date').touched && !( form.controls.contract_date.errors?.required || form.controls.contract_date.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fecha de contratación *</label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" [min]="form.get('birth_date').value" type="calendar" formControlName="contract_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('contract_date').touched && form.controls.contract_date.errors?.required">La fecha de contratación no puede estar vacía</span>                              
							<span class="help-block text-danger" *ngIf="form.get('contract_date').touched && form.controls.contract_date.errors?.date">El formato de la fecha de contratación debe ser: 'YYYY-MM-DD'</span>
						</div>
					</div>
					
					<div class="col-12" *ngIf="form.get('status').value == 0 && current.id">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('fired_date').touched && ( form.controls.fired_date.errors?.required || form.controls.fired_date.errors?.date ), 'has-success' : form.get('fired_date').touched && !( form.controls.fired_date.errors?.required || form.controls.fired_date.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fecha de despido <span *ngIf="form.get('status').value == 0">*</span></label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" [min]="form.get('contract_date').value" type="calendar" formControlName="fired_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('fired_date').touched && form.controls.fired_date.errors?.required">La fecha de despido no puede estar vacía</span>                              
							<span class="help-block text-danger" *ngIf="form.get('fired_date').touched && form.controls.fired_date.errors?.date">El formato de la fecha debe de despido ser: 'YYYY-MM-DD'</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('labor').touched && ( form.controls.labor.errors?.required || form.controls.labor.errors?.maxlength ), 'has-success' : form.get('labor').touched && !( form.controls.labor.errors?.required || form.controls.labor.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Cargo *</label>
							<input formControlName="labor" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('labor').touched && form.controls.labor.errors?.required">Debe escribir el cargo</span>
							<span class="help-block text-danger" *ngIf="form.get('labor').touched && form.controls.labor.errors?.maxlength">El cargo no puede exceder los 255 caracteres</span>
						</div>
					</div>
					
					<div class="col-12" *ngIf="current.id">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('status').touched && ( form.controls.status.errors?.required || form.controls.status.errors?.number || form.controls.status.errors?.range ), 'has-success' : form.get('status').touched && !( form.controls.status.errors?.required || form.controls.status.errors?.number || form.controls.status.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Estado *</label>
							<select class="form-control" formControlName="status">
								<option *ngFor="let status of states" [value]="status.value">{{status.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('status').touched && form.controls.status.errors?.required">Debe elegir un estado</span>
							<span class="help-block text-danger" *ngIf="form.get('status').touched && form.controls.status.errors?.number">El estado solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('status').touched && form.controls.status.errors?.range">Debe seleccionar un estado válido</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : costCenterCtrl.touched && ( form.controls.costcenter_id.errors?.required || form.controls.costcenter_id.errors?.number ), 'has-success' : costCenterCtrl.touched && !( form.controls.costcenter_id.errors?.required || form.controls.costcenter_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Centro de costo *</label>
							<input class="form-control" [matAutocomplete]="costCentersAutoComplete" [formControl]="costCenterCtrl">
							<mat-autocomplete #costCentersAutoComplete="matAutocomplete">
								<mat-option *ngFor="let costCenter of costCenters" [value]="costCenter.name" (click)="selectRow(costCenter, 'costcenter', 'form')">
									<span>{{ costCenter.name }}</span>
								</mat-option>	
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="costCenterCtrl.touched && form.controls.costcenter_id.errors?.required">Debe elegir un centro de costo</span>
							<span class="help-block text-danger" *ngIf="costCenterCtrl.touched && form.controls.costcenter_id.errors?.number">Elige un centro de costo válido</span>                              
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('afp').touched && ( form.controls.afp.errors?.required || form.controls.afp.errors?.number ), 'has-success' : form.get('afp').touched && !( form.controls.afp.errors?.required || form.controls.afp.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">AFP *</label>
							<input class="form-control" formControlName="afp" [matAutocomplete]="afpAutoComplete" type="text">
							<mat-autocomplete #afpAutoComplete="matAutocomplete">
								<mat-option *ngFor="let afp of AFP" [value]="afp.value">
									<span>{{ afp.name }}</span>
								</mat-option>	
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="form.get('afp').touched && form.controls.afp.errors?.required">Debe ingresar el AFP</span>
							<span class="help-block text-danger" *ngIf="form.get('afp').touched && form.controls.afp.errors?.number">El AFP solo puede contener números</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('isapre').touched && ( form.controls.isapre.errors?.required || form.controls.isapre.errors?.number ), 'has-success' : form.get('isapre').touched && !( form.controls.isapre.errors?.required || form.controls.isapre.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">ISAPRE *</label>
							<input class="form-control" formControlName="isapre" [matAutocomplete]="isapreAutoComplete" type="text">
							<mat-autocomplete #isapreAutoComplete="matAutocomplete">
								<mat-option *ngFor="let isapre of ISAPRE" [value]="isapre.value">
									<span>{{ isapre.name }}</span>
								</mat-option>	
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="form.get('isapre').touched && form.controls.isapre.errors?.required">Debe escribir el ISAPRE</span>
							<span class="help-block text-danger" *ngIf="form.get('isapre').touched && form.controls.isapre.errors?.number">El ISAPRE solo puede contener números</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group">
							<label class="form-control-label" style="margin-bottom: 0;">
								<span *ngIf="!current.id">Subir contrato *</span>
								<span *ngIf="current.id">Actualizar contrato</span>
							</label>
							<input class="form-control" #contractFileInput type="file" (change)="addedFile($event, 'contract_file')" name="contract_file" accept="application/pdf"/>
							<span class="help-block text-danger" *ngIf="form.controls.contract_file.errors?.required && !form.controls.contract_file.errors?.type">Debe seleccionar un archivo</span>
							<span class="help-block text-danger" *ngIf="form.controls.contract_file.errors?.type">El archivo debe ser de formato 'pdf'</span>
						</div>
					</div>
					
					<div class="col-12" *ngIf="form.get('status').value == 0 && current.id">
						<div class="form-group">
							<label class="form-control-label" style="margin-bottom: 0;">Subir archivo de finiquito *</label>
							<input class="form-control" #firedFileInput type="file" (change)="addedFile($event, 'fired_file')" name="fired_file" accept="application/pdf"/>
							<span class="help-block text-danger" *ngIf="form.controls.fired_file.errors?.required && !form.controls.fired_file.errors?.type">Debe seleccionar un archivo</span>
							<span class="help-block text-danger" *ngIf="form.controls.fired_file.errors?.type">El archivo debe ser de formato 'pdf'</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-pencil"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>