<div mat-dialog-content>
  <div class="modal-header state">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div *ngIf="errorMessages.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
    </div>
    <div class="table-loading-shade fade show" *ngIf="isLoading" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <form [formGroup]="form">
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ),
                                            'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                         type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
          <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">La fecha no puede estar vacía</span>
          <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('type').touched && ( form.get('type').hasError('required') ),
                                                'has-success' : form.get('type').touched && !form.get('type').hasError('required') }">
          <label class="form-control-label" style="margin-bottom: 0;">Tipo *</label>
          <select class="form-control" formControlName="type" #type (change)="typeChange(type.value)">
            <option *ngFor="let type of types" [value]="type.id">{{type.value}}</option>
          </select>
          <span class="help-block text-danger" *ngIf="form.get('type').touched && form.get('type').hasError('required')">Debe elegir un Tipo</span>
        </div>
      </div>

      <div class="col-12" *ngIf="isType(EXPENSE_TYPES.TRACTOR)">
        <div class="form-group" [ngClass]="{'has-danger' : tractorCtrl.touched && ( form.get('tractor_id').hasError('required') ),
                                            'has-success' : tractorCtrl.touched && !form.get('tractor_id').hasError('required') }">
          <label class="form-control-label" style="margin-bottom: 0;">Tractor *</label>
          <input class="form-control" type="text" placeholder="Tractor..." aria-label="Number"
                 [formControl]="tractorCtrl"
                 [matAutocomplete]="autoTractor">
          <mat-autocomplete #autoTractor="matAutocomplete">
            <mat-option *ngFor="let tractor of filteredTractors | async" [value]="tractor.brand + ' ' +  tractor.model + ' ' + tractor.year" (click)="addTractor(tractor)">
              {{ tractor.brand}} {{ tractor.model }} {{ tractor.year }}
            </mat-option>
          </mat-autocomplete>
          <span class="help-block text-danger" *ngIf="tractorCtrl.touched && form.get('tractor_id').hasError('required')">Debe seleccionar un tractor</span>
        </div>
      </div>

      <div class="col-12" *ngIf="isType(EXPENSE_TYPES.MACHINE)">
        <div class="form-group" [ngClass]="{'has-danger' : machineCtrl.touched && ( form.get('machine_id').hasError('required') ),
                                            'has-success' : machineCtrl.touched && !form.get('machine_id').hasError('required') }">
          <label class="form-control-label" style="margin-bottom: 0;">Máquina *</label>
          <input class="form-control" type="text" placeholder="Máquina..." aria-label="Number"
                 [formControl]="machineCtrl"
                 [matAutocomplete]="autoMachine">
          <mat-autocomplete #autoMachine="matAutocomplete">
            <mat-option *ngFor="let machine of filteredMachines | async" [value]="machine.brand + ' ' +  machine.model + ' ' + machine.year" (click)="addMachine(machine)">
              {{ machine.brand }} {{ machine.model }} {{ machine.year }}
            </mat-option>
          </mat-autocomplete>
          <span class="help-block text-danger" *ngIf="machineCtrl.touched && form.get('machine_id').hasError('required')">Debe seleccionar una máquina</span>
        </div>
      </div>

      <div class="col-12" *ngIf="isType(EXPENSE_TYPES.VEHICLE)">
        <div class="form-group" [ngClass]="{'has-danger' : vehicleCtrl.touched && ( form.get('vehicle_id').hasError('required') ),
                                            'has-success' : vehicleCtrl.touched && !form.get('vehicle_id').hasError('required') }">
          <label class="form-control-label" style="margin-bottom: 0;">Vehículo *</label>
          <input class="form-control" type="text" placeholder="Vehículo..." aria-label="Number"
                 [formControl]="vehicleCtrl"
                 [matAutocomplete]="autoVehicle">
          <mat-autocomplete #autoVehicle="matAutocomplete">
            <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle.brand + ' ' +  vehicle.model + ' ' + vehicle.year" (click)="addVehicle(vehicle)">
              {{ vehicle.brand }} {{ vehicle.model }} {{ vehicle.year }}
            </mat-option>
          </mat-autocomplete>
          <span class="help-block text-danger" *ngIf="vehicleCtrl.touched && form.get('vehicle_id').hasError('required')">Debe seleccionar un vehículo</span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('repairer').touched && ( form.get('repairer').hasError('required') ),
                                            'has-success' : form.get('repairer').touched && !form.get('repairer').hasError('required') }">
          <label class="form-control-label" style="margin-bottom: 0;">Reparador o Mantenedor *</label>
          <input formControlName="repairer" type="text" class="form-control">
          <span class="help-block text-danger" *ngIf="form.get('repairer').touched && form.get('repairer').hasError('required')">Debe elegir un Reparador</span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group"
             [ngClass]="{'has-danger' : form.get('description').touched && form.get('description').hasError('required'),
                          'has-success' : form.get('description').touched && !form.get('description').hasError('required') }">
          <label class="form-control-label">Descripción</label>
          <textarea formControlName="description" class="form-control"
                    [ngClass]="{'form-control-danger' :  form.get('description').touched && form.get('description').hasError('maxlength'),
                                'form-control-success' :  !form.get('description').hasError('maxlength') }"></textarea>
          <span class="help-block text-danger" *ngIf="form.get('description').touched && form.get('description').hasError('maxlength')">
            La descripción no puede exceder los 255 caracteres</span>
        </div>
      </div>

      <div [formGroup]="expenseForm" *ngIf="!isInvoice">
        <hr>
        <div class="col-12">
          <div class="form-group" [ngClass]="{'has-danger' : expenseForm.get('amount').touched && ( expenseForm.get('amount').hasError('required') ||
                                                             expenseForm.get('amount').hasError('number') ),
                                              'has-success' : expenseForm.get('amount').touched && !( expenseForm.get('amount').hasError('required') ||
                                                              expenseForm.get('amount').hasError('number') ) }">
            <label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
            </div>
            <span class="help-block text-danger" *ngIf="expenseForm.get('amount').touched && expenseForm.get('amount').hasError('required')">
              Debe escribir un monto</span>
            <span class="help-block text-danger" *ngIf="expenseForm.get('amount').touched && expenseForm.get('amount').hasError('number')">
              El monto solo puede contener números</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group" [ngClass]="{'has-danger' : costCenterCtrl.touched && ( expenseForm.get('costcenter_id').hasError('required') ||
                                                             expenseForm.get('costcenter_id').hasError('number') ),
                                              'has-success' : costCenterCtrl.touched && !( expenseForm.get('costcenter_id').hasError('required') ||
                                                              expenseForm.get('costcenter_id').hasError('number') ) }">
            <label class="form-control-label" style="margin-bottom: 0;">Centro de costo *</label>
            <input class="form-control" type="text" placeholder="Centro de costo..." aria-label="Number" #cost
                   (change)="inputCostCenterChange(cost.value)"
                   [matAutocomplete]="costCentersAutoComplete"
                   [formControl]="costCenterCtrl">
            <mat-autocomplete #costCentersAutoComplete="matAutocomplete">
              <mat-option *ngFor="let costcenter of filteredCostCenter | async" [value]="costcenter.name" (click)="addCostCenter(costcenter)">
                <span>{{ costcenter.name }}</span>
              </mat-option>
            </mat-autocomplete>
            <span class="help-block text-danger" *ngIf="costCenterCtrl.touched && expenseForm.get('costcenter_id').hasError('required')">
              Debe elegir un centro de costo</span>
            <span class="help-block text-danger" *ngIf="costCenterCtrl.touched && expenseForm.get('costcenter_id').hasError('number')">
              Elige un centro de costo válido</span>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group" [ngClass]="{'has-danger' : expenseForm.get('state').touched && ( expenseForm.get('state').hasError('required') ||
                                                             expenseForm.get('state').hasError('number') || expenseForm.get('state').hasError('range') ),
                                              'has-success' : expenseForm.get('state').touched && !( expenseForm.get('state').hasError('required') ||
                                                              expenseForm.get('state').hasError('number') || expenseForm.get('state').hasError('range') ) }">
            <label class="form-control-label" style="margin-bottom: 0;">Estado *</label>
            <select class="form-control" formControlName="state">
              <option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
            </select>
            <span class="help-block text-danger" *ngIf="expenseForm.get('state').touched && expenseForm.get('state').hasError('required')">Debe elegir un estado</span>
            <span class="help-block text-danger" *ngIf="expenseForm.get('state').touched && expenseForm.get('state').hasError('number')">El estado solo puede contener números</span>
            <span class="help-block text-danger" *ngIf="expenseForm.get('state').touched && expenseForm.get('state').hasError('range')">Debe seleccionar un estado válido</span>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label class="form-control-label" style="margin-bottom: 0;">Elegir archivo <span *ngIf="!expense">*</span></label>
            <input class="form-control" #fileInput type="file" (change)="addedFile($event)" name="file" accept="application/pdf"/>
            <span class="help-block text-danger" *ngIf="expenseForm.get('file').hasError('required')">
              Debe seleccionar un archivo</span>
            <span class="help-block text-danger" *ngIf="expenseForm.get('file').hasError('type')">El archivo debe ser de formato 'pdf'</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-success' : providerCtrl.touched }">
          <label class="form-control-label" style="margin-bottom: 0;">Proveedor</label>
          <input class="form-control" type="text" placeholder="Proveedor..." aria-label="Number" #provider
                 (change)="inputProviderChange(provider.value)"
                 [matAutocomplete]="providersAutoComplete"
                 [formControl]="providerCtrl">
          <mat-autocomplete #providersAutoComplete="matAutocomplete">
            <mat-option *ngFor="let provider of filteredProviders | async" [value]="provider.name" (click)="selectProvider(provider.id)">
              <span>{{ provider.id + ' - ' + provider.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="col-12" *ngIf="invoices.length === 0">
        <div class="alert alert-warning">
          <span class="alert-link">El proveedor no tiene facturas registradas</span>
        </div>
      </div>

      <div class="col-12" *ngIf="invoices.length !== 0">
        <div class="form-group" [ngClass]="{'has-success' : form.get('invoice_id').touched }">
          <label class="form-control-label" style="margin-bottom: 0;">Facturas</label>
          <input class="form-control" type="text" placeholder="Facturas..." aria-label="Number"
                 [matAutocomplete]="invoicesAutoComplete"
                 formControlName="invoice_id">
          <mat-autocomplete #invoicesAutoComplete="matAutocomplete">
            <mat-option *ngFor="let invoice of invoices" [value]="invoice.number" (click)="selectInvoice(invoice.id)">
              <span>{{ invoice.number }} - {{ invoice.issue_date }}</span>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button [disabled]="!form.valid || (!isInvoice && !expenseForm.valid)" *ngIf='isEdit' (click)="save(form.value, expenseForm.value)"
          type="button" class="btn btn-primary" title="Guardar"><i class="fa fa-floppy-o"></i></button>
  <button [disabled]="!form.valid || (!isInvoice && !expenseForm.valid)" *ngIf='!isEdit' (click)="save(form.value, expenseForm.value)"
          type="button" class="btn btn-primary" title="Crear"><i class="fa fa-floppy-o"></i></button>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i></button>
</div>
