<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">{{title}}</span>
        <div class="widget-controls">
          <a (click)="submitFilter()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div class="mat-alert mat-alert-danger" *ngIf="error" role="alert">
          <i class="material-icons">error</i>
          {{error}}
        </div>
        <div class="mat-alert mat-alert-warning" *ngIf="!error && !isLoading && data.length == 0"  role="alert">
          <i class="material-icons">error</i>
          No hay información disponible para mostrar.
        </div>
        <div class="table-loading-shade" *ngIf="isLoading" style="bottom: 0;">
          <mat-spinner></mat-spinner>
        </div>
        <az-application-report-filter #filter (onSubmit)="submitFilter()" [filterType]="reportType" [products]="products"></az-application-report-filter>
        <div class="table-container charts-container row">
          <div class="col-12" *ngIf="data.length > 0">
            <ngx-charts-bar-vertical-stacked
              [results]="data"
              [scheme]="reportConfig.colorScheme"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              legendTitle="Leyenda"
              [xAxisLabel]="reportConfig.xLabel"
              [yAxisLabel]="reportConfig.yLabel"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical-stacked>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
