<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LIBRO DE COMPRAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">

        <div style="padding: 0 0 1rem; width: 100%;">
					<az-purchases-book-filter (filter)="onSimpleFiltering($event)"></az-purchases-book-filter>
				</div>

				<div class="row bottom-15 top-15">

					<div class="col-6">
						<a (click)="generateExportLink('excel')" target="_blank" rel="noopener noreferrer" class="btn btn-success" title="Descargar Excel">
							<i class="fa fa-file-excel-o"></i>
						</a>
					</div>

          <div class="col-6">
            <div class="w-200 pull-right bottom-15">
              <div class="input-group input-group-sm">
                <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
                <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
              </div>
            </div>
          </div>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">

						<ng-container matColumnDef="provider">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.provider ? row.provider : "..." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="tax_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>RUT</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.tax_id }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="number">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="type">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="iva_amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>IVA</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.iva_amount | money}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="gross_amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Valor Neto</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.gross_amount | money}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="total_amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Monto Total</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.total_amount | money}}</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
