<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE VENCIMIENTOS</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">

        <az-filter-form
          (confirmFilters)="searchWithFilter($event)"></az-filter-form>

        <button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros Avanzados"><i class="fa fa-filter"></i></button>
        <button (click)="generatePDF()" class="btn btn-success" matTooltip="Generar Reporte"><i class="fa fa-file-excel-o"></i></button>

        <az-due-dates-advance-filter-form
          (confirmFilters)="searchWithAdvanceFilter($event)"></az-due-dates-advance-filter-form>

        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
          </div>
        </div>

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="issue_date" matSortDirection="desc">
            <ng-container matColumnDef="provider_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.state !== ''">{{ row.provider ? row.provider.name : "..." }}</span>
                <strong *ngIf="row.state === ''">{{ 'Totales: ' }}</strong>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="issue_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.issue_date | date:'y-MM-dd' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="gross_amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Valor neto</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.state !== ''">{{ row.gross_amount | money }}</span>
                <strong *ngIf="row.state === ''">{{ row.gross_amount | money }}</strong>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="currency">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ currencies[row.currency] ? currencies[row.currency].name : row.currency }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="state" style="min-width: 150px;">
              <mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 150px;">Estado</mat-header-cell>
              <mat-cell *matCellDef="let row" style="min-width: 150px;">
								<span *ngIf="row.state !== ''" class="badge" [ngClass]="{'badge-danger': row.state == 0, 'badge-success': row.state == 1, 'badge-warning': row.state >= 2 }" style="font-size: .7rem;">
									{{ states[row.state] ? states[row.state].name : row.state }}
								</span>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
            <mat-row *matRowDef="let row; columns: columns; when: isTotalsRow" class="totals-row"></mat-row>

          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
