.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  max-height: 500px;  
}

.totals-row {
  position: sticky;
  bottom: 0;
  background: #EFEFEF;
  border-top: 1px solid #CCC;
  font-weight: bold;
}
