<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE APLICACIONES</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">

        <az-filter-form
          (confirmFilters)="searchWithFilter($event)"></az-filter-form>

          <div class="row bottom-15">
            <div class="col-12 col-sm-6">
              <button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
              <button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>
            </div>
          </div>


        <app-advance-filter-form #advancedFilter
          (confirmFilters)="searchWithAdvanceFilter($event)"
          [tractors]="tractors"
          [machines]="machines"
          [phenologicalstages]="phenologicalstages"
          [technicalreferences]="technicalreferences"></app-advance-filter-form>

          <div class="row">
            <div class="col-12 col-sm-6 bottom-15">
              <button type="button" (click)="generateExportLink('pdf')" class="btn btn-danger" matTooltip="Generar pdf">
                <i class="fa fa-file-pdf-o"></i>
              </button>
              <button type="button" (click)="generateExportLink('excel')" class="btn btn-success" matTooltip="Generar excel">
                <i class="fa fa-file-excel-o"></i>
              </button>
              <button type="button" (click)="generateExportLink('csv')" class="btn btn-primary" matTooltip="Generar csv">
                <i class="fa fa-file-text-o"></i>
              </button>
            </div>

            <div class="col-12 col-sm-6">
              <div class="w-200 pull-right bottom-15">
                <div class="input-group input-group-sm">
                  <span (click)="search()" class="input-group-addon" matTooltip="Buscar">
                    <i class="fa fa-search"></i>
                  </span>
                  <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar">
                </div>
              </div>
            </div>
          </div>



        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>
          <div class="table-scroll-container">
            <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">

            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>N&uacute;mero</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Día</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.status === 0 || row.status !== 1" class="badge badge-default">No Confirmada</span>
                <span *ngIf="row.status === 1" class="badge badge-success">Confirmada</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="start">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Inicio</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.start | date:'y-MM-dd HH:mm' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="end">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Término</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.end | date:'y-MM-dd HH:mm' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sectors">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Sectores</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.sectors | join: 'name' : ',' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ getTypeName(row.type) }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="phenologicalstage">
              <mat-header-cell *matHeaderCellDef>Estado Fenológico</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.phenologicalstage | slice:0:15}}...</mat-cell>
            </ng-container>

            <ng-container matColumnDef="appliedhas">
              <mat-header-cell *matHeaderCellDef>Hectáreas Aplicadas</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.appliedhas }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="mojamientoporha">
              <mat-header-cell *matHeaderCellDef>Mojamiento por ha</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.mojamientoporha }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="products">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Productos</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.products | joinProducts: ',' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tractor">
              <mat-header-cell *matHeaderCellDef>Tractor</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.tractor ? row.tractor.model : 'No' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="machine">
              <mat-header-cell *matHeaderCellDef>Maquína</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.machine ? row.machine.model : 'No' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dosificador">
              <mat-header-cell *matHeaderCellDef>Dosificador</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.dosificador | slice:0:15 }}...</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dosagetype">
              <mat-header-cell *matHeaderCellDef>Tipo de Dosificación</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.dosagetype }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="aplicador">
              <mat-header-cell *matHeaderCellDef>Aplicador</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.aplicador }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="technicalreference_id">
              <mat-header-cell *matHeaderCellDef>Referencia Técnica</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.technical_reference ? (row.technical_reference.agronomist + " #" + row.technical_reference.number + " " + row.technical_reference.season) : "NA" }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button data-toggle="modal" data-target="#form-modal" (click)="edit(row)"
                        class="btn btn-outline-warning btn-xs"
                        matTooltip="Editar"><i class="fa fa-pencil"></i>
                </button>
                <button (click)="goToConfirm(row)"
                        class="btn btn-outline-info btn-xs"
                        matTooltip="Confirmar"><i class="fa fa-check"></i>
                </button>
                <button data-toggle="modal" data-target="#form-modal" (click)="duplicate(row)"
                        class="btn btn-outline-info btn-xs"
                        matTooltip="Duplicar"><i class="fa fa-files-o"></i>
                </button>
                <a [attr.href]="getLinkPDF(row.id)" *ngIf="row.id" class="btn btn-outline-success btn-xs" matTooltip="Ver aplicación">
                  <i class="fa fa-file-pdf-o"></i>
                </a>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row; isFoliar = true;"
                        class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>
          </div>
          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 70%">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nueva" }} Aplicación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
        </div>
        <form [formGroup]="form">
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ), 'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
              <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
              <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">El día no puede estar vacío</span>
              <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato del día debe ser: 'YYYY-MM-DD'</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('start').touched && ( form.controls.start.errors?.required || form.controls.start.errors?.date ),
                                              'has-success' : form.get('start').touched && !( form.controls.start.errors?.required || form.controls.start.errors?.date ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Fecha inicio *</label>
              <owl-date-time [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="start"
                             [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
              <span class="help-block text-danger" *ngIf="form.get('start').touched && form.controls.start.errors?.required">La Fecha de inicio no puede estar vacía</span>
              <span class="help-block text-danger" *ngIf="form.get('start').touched && form.controls.start.errors?.date">El formato de la Fecha de inicio debe ser: 'HH:MM'</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('end').touched && ( form.controls.end.errors?.required || form.controls.end.errors?.date ),
                                              'has-success' : form.get('end').touched && !( form.controls.end.errors?.required || form.controls.end.errors?.date ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Fecha término *</label>
              <owl-date-time [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar"
                             [min]="form.get('start').value" formControlName="end"
                             [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
              <span class="help-block text-danger" *ngIf="form.get('end').touched && form.controls.end.errors?.required">La hora término no puede estar vacía</span>
              <span class="help-block text-danger" *ngIf="form.get('end').touched && form.controls.end.errors?.date">El formato de la fecha término debe ser: 'HH:MM'</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('goal').touched && ( form.controls.goal.errors?.required || form.controls.goal.errors?.maxlength ),
                                                'has-success' : form.get('goal').touched && !( form.controls.goal.errors?.required || form.controls.goal.errors?.maxlength ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Objetivo *</label>
              <input class="form-control" formControlName="goal">
              <span class="help-block text-danger" *ngIf="form.get('goal').touched && form.controls.goal.errors?.required">Debe escribir el objetivo</span>
              <span class="help-block text-danger" *ngIf="form.get('goal').touched && form.controls.goal.errors?.maxlength">El nombre no puede exceder los 150 caracteres</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('type').touched && ( form.controls.type.errors?.required ),
                                                'has-success' : form.get('type').touched && !( form.controls.type.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Tipo *</label>
              <select class="form-control" formControlName="type" #t (change)="typeChange(t.value)">
                <option *ngFor="let type of types" [value]="type.id">{{type.type}}</option>
              </select>
              <span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.required">Debe elegir un tipo</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('phenologicalstage').touched && ( form.controls.phenologicalstage.errors?.required ),
                                                'has-success' : form.get('phenologicalstage').touched && !( form.controls.phenologicalstage.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Estado Fenológico *</label>
              <select class="form-control" formControlName="phenologicalstage">
                <option *ngFor="let ps of phenologicalstages" [value]="ps.id">{{ps.value}}</option>
              </select>
              <span class="help-block text-danger" *ngIf="form.get('phenologicalstage').touched && form.controls.phenologicalstage.errors?.required">Debe elegir un Estado Fenológico</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('dosagetype').touched && ( form.controls.dosagetype.errors?.required ),
                                                'has-success' : form.get('dosagetype').touched && !( form.controls.dosagetype.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Tipo de Dosificación *</label>
              <select class="form-control" formControlName="dosagetype">
                <option *ngFor="let dosagetype of dosagetypes" [value]="dosagetype.id">{{dosagetype.value}}</option>
              </select>
              <span class="help-block text-danger" *ngIf="form.get('dosagetype').touched && form.controls.dosagetype.errors?.required">Debe elegir un Tipo de Dosificación</span>
            </div>
          </div>

          <div class="col-12" *ngIf="isFoliar">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('mojamientoporha').touched && ( form.controls.mojamientoporha.errors?.required || form.controls.mojamientoporha.errors?.maxlength ),
                                                'has-success' : form.get('mojamientoporha').touched && !( form.controls.mojamientoporha.errors?.required || form.controls.mojamientoporha.errors?.maxlength ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Mojamiento por Héctarea *</label>
              <input class="form-control" formControlName="mojamientoporha">
              <span class="help-block text-danger" *ngIf="form.get('mojamientoporha').touched && form.controls.mojamientoporha.errors?.required">Debe escribir el objetivo</span>
              <span class="help-block text-danger" *ngIf="form.get('mojamientoporha').touched && form.controls.mojamientoporha.errors?.maxlength">El nombre no puede exceder los 150 caracteres</span>
            </div>
          </div>

          <div class="col-12" *ngIf="isFoliar">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('tractor_id').touched && ( form.controls.tractor_id.errors ),
                                            'has-success' : form.get('tractor_id').touched && !( form.controls.tractor_id.errors ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Tractor</label>
              <input class="form-control" type="text" placeholder="Tractor..." aria-label="Number"
                     (change)="changeAutoComplete('tractor', $event)"
                     [formControl]="tractorCtrl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let tractor of filteredTractors | async" [value]="tractor.brand + ' ' + tractor.model + ' ' + tractor.year" (click)="addTractor(tractor)">
                  {{ tractor.brand}} {{ tractor.model }} {{ tractor.year }}
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="form.get('tractor_id').touched && form.controls.tractor_id.errors?.required">Debe seleccionar un tractor</span>
            </div>
          </div>

          <div class="col-12" *ngIf="isFoliar">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('machine_id').touched && ( form.controls.machine_id.errors ),
                                            'has-success' : form.get('machine_id').touched && !( form.controls.machine_id.errors ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Máquina</label>
              <input class="form-control" type="text" placeholder="Máquina..." aria-label="Number"
                     [formControl]="machineCtrl"
                     [matAutocomplete]="autoMachines">
              <mat-autocomplete #autoMachines="matAutocomplete">
                <mat-option *ngFor="let machine of filteredMachines | async" [value]="machine.brand + ' ' + machine.model + ' ' + machine.year" (click)="addMachine(machine)">
                  {{ machine.brand}} {{ machine.model }} {{ machine.year }}
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="form.get('machine_id').touched && form.controls.machine_id.errors?.required">Debe seleccionar una máquina</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('dosificador').touched && ( form.controls.dosificador.errors?.required ),
                                                'has-success' : form.get('dosificador').touched && !( form.controls.dosificador.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Dosificador *</label>
              <select class="form-control" formControlName="dosificador">
                <option value="0" selected>Seleccione Dosificador</option>
                <option *ngFor="let dosificador of aplicators" [value]="dosificador.id">{{dosificador.name}}</option>
              </select>
              <span class="help-block text-danger" *ngIf="form.get('dosificador').touched && form.controls.dosificador.errors?.required">Debe elegir un Dosificador</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('aplicador').touched && ( form.controls.aplicador.errors?.required ),
                                                'has-success' : form.get('aplicador').touched && !( form.controls.aplicador.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Aplicador *</label>
              <select class="form-control" formControlName="aplicador">
                <option *ngFor="let aplicador of aplicators" [value]="aplicador.id">{{aplicador.name}}</option>
              </select>
              <span class="help-block text-danger" *ngIf="form.get('aplicador').touched && form.controls.aplicador.errors?.required">Debe elegir un Aplicador</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('technicalreference_id').touched && ( form.controls.technicalreference_id.errors?.required ),
                                            'has-success' : form.get('technicalreference_id').touched && !( form.controls.technicalreference_id.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Referencia Técnica *</label>
              <input class="form-control" type="text" placeholder="Referencia Técnica..." aria-label="Number"
                     [formControl]="referencesCtrl"
                     [matAutocomplete]="autoRef">
              <mat-autocomplete #autoRef="matAutocomplete">
                <mat-option *ngFor="let ref of filteredReferences | async" [value]="ref.agronomist" (click)="addReference(ref)">
                  {{ ref.agronomist + ' N° ' + ref.number  }}
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="form.get('technicalreference_id').touched && form.controls.technicalreference_id.errors?.required">Debe seleccionar una Referencia Técnica</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-success' : form.get('notes').touched }">
              <label class="form-control-label" style="margin-bottom: 0;">Notas</label>
              <textarea formControlName="notes" class="form-control"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-success' : form.get('observations').touched }">
              <label class="form-control-label" style="margin-bottom: 0;">Observaciones</label>
              <textarea formControlName="observations" class="form-control"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="clearfix">
              <ul class="nav nav-tabs top pull-left w-100p">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#sectors">Sectores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#products">Productos</a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane active" id="sectors">
                <az-sector-form
                  [selectedSectors]="sectors"
                  (confirmSectors)="saveSector($event)"
                  (selectSector)="selectMySector($event)"
                  (confirmDeleteSector)="deleteSector($event)"></az-sector-form>
              </div>
              <div class="tab-pane" id="products">
                <az-products-form
                  [selectedSectors]="sectors"
                  [selectedProducts]="products"
                  (confirmProducts)="saveProduct($event)"
                  (confirmDeleteProduct)="deleteProduct($event)"></az-products-form>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
          <i class="fa fa-floppy-o"></i>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
