<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">{{title}}</span>
        <div class="widget-controls">
          <a (click)="refreshData()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <button (click)="createOrEdit()"
                data-toggle="modal"
                data-target="#form-modal"
                class="btn btn-primary"
                matTooltip="Agregar">
          <i class="fa fa-plus"></i>
        </button>


        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="getData()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="keyupChange()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text"
                   placeholder="Buscar...">
          </div>
        </div>

        <div class="table-container">

          <div class="table-loading-shade" *ngIf="loadingResults || error || tableData.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="error">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!error && !loadingResults && tableData.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table [dataSource]="tableData" class="table-table" matSort>
            <ng-container matColumnDef="model">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Modelo</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.model}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="brand">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Marca</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.brand}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="year">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Año</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.year}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="identifier">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.identifier}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="notes">
              <mat-header-cell *matHeaderCellDef> Notas</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.notes}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button (click)="createOrEdit(row.id)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i
                  class="fa fa-pencil"></i></button>
                <button (click)="selectedEntity = row" data-toggle="modal" data-target="#confirm-delete-modal" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i
                  class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="image">
              <mat-header-cell *matHeaderCellDef >Foto</mat-header-cell>
              <mat-cell *matCellDef="let element" >
                <img #elementImage class="img-foto" [src]="element.image_url ? element.image_url : '../assets/img/app/no-image.png'" (click)="openImageModal(elementImage.src)"  height="50" width="50">
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>           </div>
          <mat-paginator [length]="total" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>



