<div class="row">
  <div class="col-xl-7 col-lg-6 col-md-6">
    <div class="panel panel-color panel-inverse">
      <div class="panel-heading">
        <h3 class="panel-title">Sectores</h3>
      </div>
      <div class="panel-body">
        <div class="text-center">
          <h5 *ngIf="selectedSectors.length == 0">Actualmente no hay productos asociados a esta aplicación</h5>
          <div *ngIf="selectedSectors.length != 0">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th class="text-center">Sector</th>
                <th class="text-center">Ha</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let s of selectedSectors; let i = index" class="text-center">
                <td>{{s.name}}</td>
                <td>
                  <input [(ngModel)]="s.appliedhas" class="form-control" type="text" value="{{s.appliedhas != 0 ? s.appliedhas : s.size}}" name="{{s.name}}" />
                </td>
                <td><button class="btn btn-danger"  type="button" (click)="deleteSector(i)"><i class="fa fa-trash-o"></i></button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-lg-6 col-md-6">
    <div class="panel panel-color panel-inverse">
      <div class="panel-heading">
        <h3 class="panel-title">Asociar un sector</h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="form">
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('sector').touched && ( form.controls.sector.errors?.required ),
                                                'has-success' : form.get('sector').touched && !( form.controls.sector.errors?.required ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Sectores *</label>
              <mat-select placeholder="Sectores" class="form-control" (change)="changeSector($event)" formControlName="sector" [compareWith]="compareFn" #select>
                <mat-option *ngFor="let sector of sectors" [value]="sector">{{sector.name}}</mat-option>
              </mat-select>
              <span class="help-block text-danger" *ngIf="form.get('sector').touched && form.controls.sector.errors?.required">Debe elegir un Sector</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('appliedhas').touched && ( form.controls.appliedhas.errors?.required || form.controls.appliedhas.errors?.number ),
                                            'has-success' : form.get('appliedhas').touched && !( form.controls.appliedhas.errors?.required || form.controls.appliedhas.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Cantidad </label>
              <input formControlName="appliedhas" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('appliedhas').touched && form.controls.appliedhas.errors?.required">Debe escribir la cantidad</span>
              <span class="help-block text-danger" *ngIf="form.get('appliedhas').touched && form.controls.appliedhas.errors?.number">Tiene que escribir la cantidad válida</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" style="padding-bottom: 10px">
              <div class="pull-right">
                <button [disabled]="!form.valid" (click)="addSector(form.value)" type="button" class="btn btn-primary" title="Asociar"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
