<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE HORAS EXTRAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div style="padding: 0 0 1rem; width: 100%;">
					<form class="row" [formGroup]="filtersForm1" (ngSubmit)="buildFilters(filtersForm1.value)" novalidate>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Mes</label>
								<select class="form-control" formControlName="month">
									<option [value]="0">Enero</option>
									<option [value]="1">Febrero</option>
									<option [value]="2">Marzo</option>
									<option [value]="3">Abril</option>
									<option [value]="4">Mayo</option>
									<option [value]="5">Junio</option>
									<option [value]="6">Julio</option>
									<option [value]="7">Agosto</option>
									<option [value]="8">Septiembre</option>
									<option [value]="9">Octubre</option>
									<option [value]="10">Noviembre</option>
									<option [value]="11">Diciembre</option>
								</select>
							</div>
						</div>
					
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Año</label>
								<select class="form-control" formControlName="year">
									<option *ngFor="let year of lastYears" value="{{year}}">{{year}}</option>
								</select>
							</div>
						</div>
						
						<div class="col col-sm-12">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
				</div>
				
				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
				<button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>
				
				<div class="container" id="filters" style="display: none;padding: 1rem;">
					<form class="row" [formGroup]="filtersForm2" (ngSubmit)="buildFilters(filtersForm2.value, 'filtersForm2')" novalidate>
						<div class="col-12 col-sm-12">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Empleado</label>
								<div style="position: relative">
									<input class="form-control" [matAutocomplete]="filterEmployeeAC" [formControl]="filterEmployeeCtrl">
									<button type="button" class="close clean-autocomplete-input" data-dismiss="alert" aria-label="Close" (click)="resetAutocomplete('filtersForm2', 'employee_id', 'filterEmployeeCtrl', 'filterEmployees', 'employees')">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<mat-autocomplete #filterEmployeeAC="matAutocomplete">
									<mat-option *ngFor="let employee of filterEmployees" [value]="employee.name" (click)="selectRow(employee, 'employee', 'filtersForm2')">
										<span>{{ employee.name }}</span>
									</mat-option>	
								</mat-autocomplete>
							</div>
						</div>
					
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Desde</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm2.get('to').value" formControlName="from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>
					
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Hasta</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm2.get('from').value" formControlName="to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>
						
						<div class="col">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
							<button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
								<i class="fa fa-refresh"></i>
							</button>
						</div>
					</form>
				</div>
				
				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
					</div>
				</div>
				
				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>
					
					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="from" matSortDirection="desc">
						<ng-container matColumnDef="employee_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Empleado</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.employee ? row.employee.name : "..." }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="costcenter_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Centro de costo</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.costcenter ? row.costcenter.name : "..." }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="from">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Día</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.from | date:'y-MM-dd' }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="quantity">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.quantity | number }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="notes">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.notes }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
							</mat-cell>
						</ng-container>
						
						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
						
						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>
					
					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
		<mat-spinner></mat-spinner>
	</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nueva" }} horas extras</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : employeeCtrl.touched && ( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ), 'has-success' : employeeCtrl.touched && !( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Empleado *</label>
							<input class="form-control" [matAutocomplete]="employeesAutoComplete" [formControl]="employeeCtrl">
							<mat-autocomplete #employeesAutoComplete="matAutocomplete">
								<mat-option *ngFor="let employee of employees" [value]="employee.name" (click)="selectRow(employee, 'employee', 'form')">
									<span>{{ employee.name }}</span>
								</mat-option>	
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.required">Debe elegir un empleado</span>
							<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.number">Elige un empleado válido</span>                              
						</div>
					</div>
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : costCenterCtrl.touched && ( form.controls.costcenter_id.errors?.required || form.controls.costcenter_id.errors?.number ), 'has-success' : costCenterCtrl.touched && !( form.controls.costcenter_id.errors?.required || form.controls.costcenter_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Centro de costo</label>
							<input class="form-control" [matAutocomplete]="costCentersAutoComplete" [formControl]="costCenterCtrl">
							<mat-autocomplete #costCentersAutoComplete="matAutocomplete">
								<mat-option *ngFor="let costcenter of costCenters" [value]="costcenter.name" (click)="selectRow(costcenter, 'costcenter', 'form')">
									<span>{{ costcenter.name }}</span>
								</mat-option>	
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="costCenterCtrl.touched && form.controls.costcenter_id.errors?.required">Debe elegir un centro de costo</span>
							<span class="help-block text-danger" *ngIf="costCenterCtrl.touched && form.controls.costcenter_id.errors?.number">Elige un centro de costo válido</span>                              
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('from').touched && ( form.controls.from.errors?.required || form.controls.from.errors?.date ), 'has-success' : form.get('from').touched && !( form.controls.from.errors?.required || form.controls.from.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Día *</label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('from').touched && form.controls.from.errors?.required">El día no puede estar vacía</span>                              
							<span class="help-block text-danger" *ngIf="form.get('from').touched && form.controls.from.errors?.date">El formato del día debe ser: 'YYYY-MM-DD'</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('quantity').touched && ( form.controls.quantity.errors?.required || form.controls.quantity.errors?.number ), 'has-success' : form.get('quantity').touched && !( form.controls.quantity.errors?.required || form.controls.quantity.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Cantidad *</label>
							<input formControlName="quantity" type="number" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('quantity').touched && form.controls.quantity.errors?.required">Debe escribir la cantidad</span>
							<span class="help-block text-danger" *ngIf="form.get('quantity').touched && form.controls.quantity.errors?.number">La cantidad solo puede contener números</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
							<textarea formControlName="notes" class="form-control"></textarea>
							<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir las notas</span>
							<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-pencil"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>