<div class="container" id="filters" style="display: none; padding: 1rem;">
  <form [formGroup]="filtersForm" novalidate>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label class="form-control-label" style="margin-bottom: 0;">Empleado</label>
          <input class="form-control" [matAutocomplete]="employeesAutoComplete" formControlName="employee">
          <mat-autocomplete #employeesAutoComplete="matAutocomplete" [displayWith]="employeeName">
            <mat-option *ngFor="let employee of employees" [value]="employee">
              <span>{{employee.id + '- ' + employee.name }}</span>
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label class="form-control-label" style="margin-bottom: 0;">Estado</label>
          <select formControlName="status" class="form-control">
            <option [selected]="true">
              Seleccione estado
            </option>
            <option value="1">
              Activo
            </option>
            <option value="0">
              Inactivo
            </option>
          </select>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label class="form-control-label">Desde</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control"
                         placeHolder="YYYY-MM-DD"
                         type="calendar"
                         formControlName="fechaDesde"
                         [locale]="translate.DateTimePicker.es"
                         dateFormat="YYYY-MM-DD">
          </owl-date-time>
          <span class="help-block text-danger" *ngIf="filtersForm.get('fechaDesde').touched && filtersForm.hasError('dateLess')">La fecha desde debe ser menor a la fecha hasta.</span>
          <span class="help-block text-danger" *ngIf="filtersForm.get('fechaDesde').touched && filtersForm.hasError('dateRange')">El rango de fechas debe ser menor a 1 año.</span>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label class="form-control-label">Hasta</label>
          <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control"
                         placeHolder="YYYY-MM-DD"
                         type="calendar"
                         formControlName="fechaHasta"
                         [locale]="translate.DateTimePicker.es"
                         dateFormat="YYYY-MM-DD">
          </owl-date-time>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" [disabled]="filtersForm.invalid" class="btn btn-primary mr-1" matTooltip="Buscar" (click)="onSubmit.emit()">
        <i class="fa fa-search"></i>
      </button>
      <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </form>
</div>
