<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE SUELDOS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>

				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
					</div>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">
						<ng-container matColumnDef="employee_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Empleado</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.employee ? row.employee.name : "..." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Día</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="base_salary">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Sueldo base</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.base_salary | money }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="net_salary">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Sueldo líquido</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.net_salary | money }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="family_responsibilities">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cargas familiares</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.family_responsibilities | money }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="advance_amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Monto quincena</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.advance_amount | money }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="notes">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.notes || "" | slice:0:50 }}...</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
		<mat-spinner></mat-spinner>
	</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} sueldo</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : employeeCtrl.touched && ( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ), 'has-success' : employeeCtrl.touched && !( form.controls.employee_id.errors?.required || form.controls.employee_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Empleado *</label>
							<input class="form-control" [matAutocomplete]="employeesAutoComplete" [formControl]="employeeCtrl">
							<mat-autocomplete #employeesAutoComplete="matAutocomplete">
								<mat-option *ngFor="let employee of employees" [value]="employee.name" (click)="selectRow(employee, 'employee', 'form')">
									<span>{{ employee.name }}</span>
								</mat-option>
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.required">Debe elegir un empleado</span>
							<span class="help-block text-danger" *ngIf="employeeCtrl.touched && form.controls.employee_id.errors?.number">Elige un empleado válido</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('type').touched && ( form.controls.type.errors?.required || form.controls.type.errors?.range ), 'has-success' : form.get('type').touched && !( form.controls.type.errors?.required || form.controls.type.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Tipo Contrato *</label>
							<select class="form-control" formControlName="type">
								<option *ngFor="let type of types" [value]="type.value">{{type.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.required">Debe elegir un tipo</span>
							<span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.range">Debe seleccionar un tipo válido</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ), 'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Día *</label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">La fecha no puede estar vacía</span>
							<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('base_salary').touched && ( form.controls.base_salary.errors?.required || form.controls.base_salary.errors?.number ), 'has-success' : form.get('base_salary').touched && !( form.controls.base_salary.errors?.required || form.controls.base_salary.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Sueldo base *</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input formControlName="base_salary" type="number" class="form-control" placeholder="Sueldo base" style="z-index: 0">
							</div>
							<span class="help-block text-danger" *ngIf="form.get('base_salary').touched && form.controls.base_salary.errors?.required">Debe escribir un sueldo base</span>
							<span class="help-block text-danger" *ngIf="form.get('base_salary').touched && form.controls.base_salary.errors?.number">El sueldo base solo puede contener números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('net_salary').touched && ( form.controls.net_salary.errors?.required || form.controls.net_salary.errors?.number ), 'has-success' : form.get('net_salary').touched && !( form.controls.net_salary.errors?.required || form.controls.net_salary.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Sueldo líquido *</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input formControlName="net_salary" type="number" class="form-control" placeholder="Sueldo líquido" style="z-index: 0">
							</div>
							<span class="help-block text-danger" *ngIf="form.get('net_salary').touched && form.controls.net_salary.errors?.required">Debe escribir un sueldo líquido</span>
							<span class="help-block text-danger" *ngIf="form.get('net_salary').touched && form.controls.net_salary.errors?.number">El sueldo líquido solo puede contener números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('family_responsibilities').touched && ( form.controls.family_responsibilities.errors?.required || form.controls.family_responsibilities.errors?.number ), 'has-success' : form.get('family_responsibilities').touched && !( form.controls.family_responsibilities.errors?.required || form.controls.family_responsibilities.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Cargas familiares *</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input formControlName="family_responsibilities" type="number" class="form-control" placeholder="Cargas familiares" style="z-index: 0">
							</div>
							<span class="help-block text-danger" *ngIf="form.get('family_responsibilities').touched && form.controls.family_responsibilities.errors?.required">Debe escribir las cargas familiares</span>
							<span class="help-block text-danger" *ngIf="form.get('family_responsibilities').touched && form.controls.family_responsibilities.errors?.number">Las cargas familiares solo pueden ser números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('advance_amount').touched && ( form.controls.advance_amount.errors?.required || form.controls.advance_amount.errors?.number ), 'has-success' : form.get('advance_amount').touched && !( form.controls.advance_amount.errors?.required || form.controls.advance_amount.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Monto quincenal</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input formControlName="advance_amount" type="number" class="form-control" placeholder="Monto quincenal" style="z-index: 0">
							</div>
							<span class="help-block text-danger" *ngIf="form.get('advance_amount').touched && form.controls.advance_amount.errors?.required">Debe escribir el monto quincenal</span>
							<span class="help-block text-danger" *ngIf="form.get('advance_amount').touched && form.controls.advance_amount.errors?.number">El monto quincenal solo pueden ser números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('mobilization_amount').touched && ( form.controls.mobilization_amount.errors?.required || form.controls.mobilization_amount.errors?.number ), 'has-success' : form.get('mobilization_amount').touched && !( form.controls.mobilization_amount.errors?.required || form.controls.mobilization_amount.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Monto de movilización</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input formControlName="mobilization_amount" type="number" class="form-control" placeholder="Monto de movilización" style="z-index: 0">
							</div>
							<span class="help-block text-danger" *ngIf="form.get('mobilization_amount').touched && form.controls.mobilization_amount.errors?.required">Debe escribir el monto de movilización</span>
							<span class="help-block text-danger" *ngIf="form.get('mobilization_amount').touched && form.controls.mobilization_amount.errors?.number">El monto de movilización solo pueden ser números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('collaction_amount').touched && ( form.controls.collaction_amount.errors?.required || form.controls.collaction_amount.errors?.number ), 'has-success' : form.get('collaction_amount').touched && !( form.controls.collaction_amount.errors?.required || form.controls.collaction_amount.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Monto de colación</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input formControlName="collaction_amount" type="number" class="form-control" placeholder="Monto de colación" style="z-index: 0">
							</div>
							<span class="help-block text-danger" *ngIf="form.get('collaction_amount').touched && form.controls.collaction_amount.errors?.required">Debe escribir el monto de colación</span>
							<span class="help-block text-danger" *ngIf="form.get('collaction_amount').touched && form.controls.collaction_amount.errors?.number">El monto de colación solo pueden ser números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required || form.controls.notes.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
							<textarea formControlName="notes" class="form-control"></textarea>
							<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir las notas</span>
							<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-save"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>