<div class="container" id="filters" style="display: none; padding: 1rem;">
  <form class="row" [formGroup]="filtersForm" novalidate>

    <div class="col-6 col-md-6">
      <div class="form-group">
        <label class="form-control-label">Desde</label>
        <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                       type="calendar" [max]="filtersForm.get('end').value" formControlName="start"
                       [locale]="translate.DateTimePicker.es"
                       dateFormat="YYYY-MM-DD">
        </owl-date-time>
      </div>
    </div>

    <div class="col-6 col-md-6">
      <div class="form-group">
        <label class="form-control-label">Hasta</label>
        <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                       type="calendar" [min]="filtersForm.get('start').value" formControlName="end"
                       [locale]="translate.DateTimePicker.es"
                       dateFormat="YYYY-MM-DD">
        </owl-date-time>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" [ngClass]="{'has-danger' : tractorCtrl.touched && ( filtersForm.get('tractor_id').hasError('required') ),
                                            'has-success' : tractorCtrl.touched && !filtersForm.get('tractor_id').hasError('required') }">
        <label class="form-control-label" style="margin-bottom: 0;">Tractor *</label>
        <input class="form-control" type="text" placeholder="Tractor..." aria-label="Number"
               [formControl]="tractorCtrl"
               [matAutocomplete]="autoTractor">
        <mat-autocomplete #autoTractor="matAutocomplete">
          <mat-option *ngFor="let tractor of filteredTractors | async" [value]="tractor.identifier" (click)="addTractor(tractor)">
            {{ tractor.brand}} {{ tractor.model }} {{ tractor.year }}
          </mat-option>
        </mat-autocomplete>
        <span class="help-block text-danger" *ngIf="tractorCtrl.touched && filtersForm.get('tractor_id').hasError('required')">Debe seleccionar un tractor</span>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" [ngClass]="{'has-danger' : machineCtrl.touched && ( filtersForm.get('machine_id').hasError('required') ),
                                            'has-success' : machineCtrl.touched && !filtersForm.get('machine_id').hasError('required') }">
        <label class="form-control-label" style="margin-bottom: 0;">Máquina *</label>
        <input class="form-control" type="text" placeholder="Máquina..." aria-label="Number"
               [formControl]="machineCtrl"
               [matAutocomplete]="autoMachine">
        <mat-autocomplete #autoMachine="matAutocomplete">
          <mat-option *ngFor="let machine of filteredMachines | async" [value]="machine.identifier" (click)="addMachine(machine)">
            {{ machine.brand }} {{ machine.model }} {{ machine.year }}
          </mat-option>
        </mat-autocomplete>
        <span class="help-block text-danger" *ngIf="machineCtrl.touched && filtersForm.get('machine_id').hasError('required')">Debe seleccionar una máquina</span>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group" [ngClass]="{'has-danger' : vehicleCtrl.touched && ( filtersForm.get('vehicle_id').hasError('required') ),
                                            'has-success' : vehicleCtrl.touched && !filtersForm.get('vehicle_id').hasError('required') }">
        <label class="form-control-label" style="margin-bottom: 0;">Vehículo *</label>
        <input class="form-control" type="text" placeholder="Vehículo..." aria-label="Number"
               [formControl]="vehicleCtrl"
               [matAutocomplete]="autoVehicle">
        <mat-autocomplete #autoVehicle="matAutocomplete">
          <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle.identifier" (click)="addVehicle(vehicle)">
            {{ vehicle.brand }} {{ vehicle.model }} {{ vehicle.year }}
          </mat-option>
        </mat-autocomplete>
        <span class="help-block text-danger" *ngIf="vehicleCtrl.touched && filtersForm.get('vehicle_id').hasError('required')">Debe seleccionar un vehículo</span>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar" (click)="search(filtersForm.value)">
        <i class="fa fa-search"></i>
      </button>
      <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </form>
</div>
