<div class="sidebar" [ngClass]="{'menu-collapsed': isMenuCollapsed}" (mouseleave)="hoverElemTop=-200">
    
    <ul class="nav nav-sidebar flex-column" slim-scroll [slimScrollOptions]="{height: menuHeight}">
        <li *ngFor="let item of menuItems" class="sidebar-list-item">           
            
            <a [hidden]="!(!item.routerLink && !item.subMenu)" *hasParentPermission="item.permissionsRequired" [attr.href]="item.url || ''" [attr.target]="item.target || ''" (mouseenter)="hoverItem($event, item)"  class="sidebar-list-link">
                <i class="fa {{ item.icon }}"></i><span>{{ item.title }}</span>
            </a>

            <a [hidden]="!(item.routerLink && !item.subMenu)" *hasParentPermission="item.permissionsRequired" [routerLink]="[item.routerLink]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu($event, item)" (mouseenter)="hoverItem($event, item)" class="sidebar-list-link">
                <i class="fa {{ item.icon }}"></i><span>{{ item.title }}</span>
            </a>

            <a [hidden]="!(item.subMenu)" *hasParentPermission="item.permissionsRequired" [attr.href]="''"   (click)="collapseMenu($event, item)" (mouseenter)="hoverItem($event, item)" class="sidebar-list-link">
                <i class="fa {{ item.icon }}"></i><span>{{ item.title }}</span>

            </a>

            <ul *ngIf="item.subMenu" class="sidebar-sublist">
                <ng-container *ngFor="let subitem of item.subMenu" >
                  <li *hasPermissions="subitem.permissionsRequired" class="sidebar-sublist-item">
                    <a *ngIf="subitem.subMenu" [attr.href]="''" (click)="collapseMenu($event, item)" (mouseenter)="hoverItem($event, item)" class="sidebar-list-link subitem-submenu-link">
                        <span>{{ subitem.title }}</span>
                    </a>

                    <ng-container  *ngIf="item.routerLink && !subitem.subMenu" >
                    <a [routerLink]="[subitem.routerLink]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" (click)="collapseMenu($event, item)" (mouseenter)="hoverItem($event, item)">
                        {{ subitem.title}}
                    </a>
                    </ng-container>
                    <ul *ngIf="subitem.subMenu" class="sidebar-sublist subitem-submenu-list">
                      <ng-container *ngFor="let subSubitem of subitem.subMenu">
                        <li *hasPermissions="subSubitem.permissionsRequired" (mouseenter)="hoverItem($event, item)">
                          <a *ngIf="!item.routerLink" (mouseenter)="hoverItem($event, item)" [attr.href]="subSubitem.url || ''" [attr.target]="subSubitem.target || ''">
                            {{ subSubitem.title }}</a>
                          <a *ngIf="item.routerLink" (mouseenter)="hoverItem($event, item)" [attr.target]="subSubitem.target || ''" [routerLink]="[subSubitem.routerLink]">
                            {{ subSubitem.title }}</a>
                        </li>
                      </ng-container>
                    </ul>
                    <ng-container *ngIf="!item.routerLink && !subitem.subMenu">
                        <a  [attr.href]="subitem.url || ''" [attr.target]="subitem.target || ''" (mouseenter)="hoverItem($event, item)">
                            {{ subitem.title}}
                        </a>
                    </ng-container>
                  </li>
                </ng-container>
            </ul>

        </li>
    </ul>
    <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}" [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</div>