<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE DOSIS</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>

        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
          </div>
        </div>

        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="product_id" matSortDirection="desc">
            <ng-container matColumnDef="product_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Producto</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.product.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="variety_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Variedad</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.variety.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="min_dose_100_liters">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Dosis mínima por 100 litros</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.min_dose_100_liters }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="max_dose_100_liters">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Dosis máxima por 100 litros</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.max_dose_100_liters }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="min_dose_ha">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Dosis mínima por ha</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.min_dose_ha }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="max_dose_ha">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Dosis máxima por ha</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.max_dose_ha }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>           </div>

          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nueva" }} dosis</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
        </div>
        <form [formGroup]="form">
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : varietyCtrl.touched && ( form.controls.variety_id.errors?.required || form.controls.variety_id.errors?.number ), 'has-success' : varietyCtrl.touched && !( form.controls.variety_id.errors?.required || form.controls.variety_id.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Variedad *</label>
              <input class="form-control" [matAutocomplete]="varietiesAutoComplete" [formControl]="varietyCtrl">
              <mat-autocomplete #varietiesAutoComplete="matAutocomplete">
                <mat-option *ngFor="let variety of varieties" [value]="variety.name" (click)="selectRow(variety, 'variety', 'form')">
                  <span>{{ variety.name }}</span>
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="varietyCtrl.touched && form.controls.variety_id.errors?.required">Debe elegir una variedad</span>
              <span class="help-block text-danger" *ngIf="varietyCtrl.touched && form.controls.variety_id.errors?.number">Elige una variedad válida</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : productCtrl.touched && ( form.controls.product_id.errors?.required || form.controls.product_id.errors?.number ), 'has-success' : productCtrl.touched && !( form.controls.product_id.errors?.required || form.controls.product_id.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Producto *</label>
              <input class="form-control" [matAutocomplete]="productsAutoComplete" [formControl]="productCtrl">
              <mat-autocomplete #productsAutoComplete="matAutocomplete">
                <mat-option *ngFor="let product of products" [value]="product.name" (click)="selectRow(product, 'product', 'form')">
                  <span>{{ product.name }}</span>
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="productCtrl.touched && form.controls.product_id.errors?.required">Debe elegir un producto</span>
              <span class="help-block text-danger" *ngIf="varietyCtrl.touched && form.controls.variety_id.errors?.number">Elige un producto válido</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('min_dose_100_liters').touched && ( form.controls.min_dose_100_liters.errors?.required || form.controls.min_dose_100_liters.errors?.number || form.controls.min_dose_100_liters.errors?.range ), 'has-success' : form.get('min_dose_100_liters').touched && !( form.controls.min_dose_100_liters.errors?.required || form.controls.min_dose_100_liters.errors?.number || form.controls.min_dose_100_liters.errors?.range ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Dosis minima para 100 litros *</label>
              <input formControlName="min_dose_100_liters" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('min_dose_100_liters').touched && form.controls.min_dose_100_liters.errors?.required">Debe escribir la dosis minima por 100 litros</span>
              <span class="help-block text-danger" *ngIf="form.get('min_dose_100_liters').touched && form.controls.min_dose_100_liters.errors?.number">La dosis minima por 100 litros solo puede contener números</span>
              <span class="help-block text-danger" *ngIf="form.get('min_dose_100_liters').touched && form.controls.min_dose_100_liters.errors?.range">La dosis minima por 100 litros del item debe estar entre 0 y 99999.99</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('max_dose_100_liters').touched && ( form.controls.max_dose_100_liters.errors?.required || form.controls.max_dose_100_liters.errors?.number || form.controls.max_dose_100_liters.errors?.range ), 'has-success' : form.get('max_dose_100_liters').touched && !( form.controls.max_dose_100_liters.errors?.required || form.controls.max_dose_100_liters.errors?.number || form.controls.max_dose_100_liters.errors?.range ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Dosis maxima para 100 litros *</label>
              <input formControlName="max_dose_100_liters" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('max_dose_100_liters').touched && form.controls.max_dose_100_liters.errors?.required">Debe escribir la dosis maxima por 100 litros</span>
              <span class="help-block text-danger" *ngIf="form.get('max_dose_100_liters').touched && form.controls.max_dose_100_liters.errors?.number">La dosis maxima por 100 litros solo puede contener números</span>
              <span class="help-block text-danger" *ngIf="form.get('max_dose_100_liters').touched && form.controls.max_dose_100_liters.errors?.range">La dosis maxima por 100 litros del item debe estar entre 0 y 99999.99</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('min_dose_ha').touched && ( form.controls.min_dose_ha.errors?.required || form.controls.min_dose_ha.errors?.number || form.controls.min_dose_ha.errors?.range ), 'has-success' : form.get('min_dose_ha').touched && !( form.controls.min_dose_ha.errors?.required || form.controls.min_dose_ha.errors?.number || form.controls.min_dose_ha.errors?.range ) }">
              <label class="form-control-label" style="margin-bottom: 0;">La dosis minima por ha *</label>
              <input formControlName="min_dose_ha" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('min_dose_ha').touched && form.controls.min_dose_ha.errors?.required">Debe escribir la dosis minima por ha</span>
              <span class="help-block text-danger" *ngIf="form.get('min_dose_ha').touched && form.controls.min_dose_ha.errors?.number">La dosis minima por ha solo puede contener números</span>
              <span class="help-block text-danger" *ngIf="form.get('min_dose_ha').touched && form.controls.min_dose_ha.errors?.range">La dosis minima por ha del item debe estar entre 0 y 99999.99</span>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('max_dose_ha').touched && ( form.controls.max_dose_ha.errors?.required || form.controls.max_dose_ha.errors?.number || form.controls.max_dose_ha.errors?.range ), 'has-success' : form.get('max_dose_ha').touched && !( form.controls.max_dose_ha.errors?.required || form.controls.max_dose_ha.errors?.number || form.controls.max_dose_ha.errors?.range ) }">
              <label class="form-control-label" style="margin-bottom: 0;">La dosis maxima por ha *</label>
              <input formControlName="max_dose_ha" type="number" class="form-control">
              <span class="help-block text-danger" *ngIf="form.get('max_dose_ha').touched && form.controls.max_dose_ha.errors?.required">Debe escribir la dosis maxima por ha</span>
              <span class="help-block text-danger" *ngIf="form.get('max_dose_ha').touched && form.controls.max_dose_ha.errors?.number">La dosis maxima por ha solo puede contener números</span>
              <span class="help-block text-danger" *ngIf="form.get('max_dose_ha').touched && form.controls.max_dose_ha.errors?.range">La dosis maxima por ha del item debe estar entre 0 y 99999.99</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
          <i class="fa fa-save"></i>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
