<div class="row bottom-30" id="invoice">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">FORMULARIO FACTURA</span>
				<div class="widget-controls">
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div class="panel panel-default" style="margin-bottom: 0; padding: 15px 0;">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError" style="bottom: 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults">
							<a routerLink="../" class="btn btn-inverse" matTooltip="Volver"><i class="fa fa-arrow-left"></i></a>
							<br>
							No hay información disponible para mostrar.
						</div>
					</div>
					<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
					</div>
					<form [formGroup]="form" class="panel-body" *ngIf="form" style="padding: 0;">
						<div class="clearfix">
							<div class="pull-left">
								<a routerLink="../" class="btn btn-inverse" matTooltip="Volver"><i class="fa fa-arrow-left"></i></a>
							</div>
							<div class="pull-right">
								<h4>Factura de venta #<br>
									<input formControlName="number" type="number" [min]="1" class="form-control" placeholder="Número">
								</h4>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12">
								<div class="pull-left m-t-30">
									<div class="form-group" [ngClass]="{'has-danger' : customerCtrl.touched && ( form.controls.customer_id.errors?.required || form.controls.customer_id.errors?.number ), 'has-success' : customerCtrl.touched && !( form.controls.customer_id.errors?.required || form.controls.customer_id.errors?.number ) }">
										<label class="form-control-label" style="margin-bottom: 0;">
											<strong>Cliente</strong>
										</label>
										<input class="form-control" [matAutocomplete]="customersAutoComplete" [formControl]="customerCtrl">
										<mat-autocomplete #customersAutoComplete="matAutocomplete">
											<mat-option *ngFor="let customer of customers" [value]="customer.name" (click)="selectRow(customer, 'customer', 'form')">
												<span>{{ customer.name }}</span>
											</mat-option>	
										</mat-autocomplete>
										<span class="help-block text-danger" *ngIf="customerCtrl.touched && form.controls.customer_id.errors?.required">Debe elegir un proveedor</span>
										<span class="help-block text-danger" *ngIf="customerCtrl.touched && form.controls.customer_id.errors?.number">Elige un proveedor válido</span>                              
									</div>
									<p class="m-t-10">
										<strong>Estado: </strong>
										<select class="form-control" formControlName="state">
											<option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
										</select>
										<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.required">Debe elegir un estado</span>
										<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.number">El estado solo puede contener números</span>
										<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.range">Debe seleccionar un estado válido</span>
									</p>
									<p style="margin-top: 0.4rem;">
										<strong>Tipo de factura: </strong>
										<select class="form-control" formControlName="type">
											<option *ngFor="let type of types" [ngValue]="type.value">{{type.name}}</option>
										</select>
										<span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.required">Debe elegir un tipo de factura</span>
										<span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.number">El tipo de factura solo puede contener números</span>
										<span class="help-block text-danger" *ngIf="form.get('type').touched && form.controls.type.errors?.range">Debe seleccionar un tipo de factura válido</span>
									</p>
								</div>
								<div class="pull-right m-t-30">
									<p style="margin-top: 0.4rem;">
										<strong>Fecha emisión: </strong>
										<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="form.get('due_date').value" formControlName="issue_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
										<span class="help-block text-danger" *ngIf="form.get('issue_date').touched && form.controls.issue_date.errors?.required">La fecha de emisión no puede estar vacía</span>                              
										<span class="help-block text-danger" *ngIf="form.get('issue_date').touched && form.controls.issue_date.errors?.date">El formato de la fecha de emisión debe ser: 'YYYY-MM-DD'</span>
										<span class="help-block text-danger" *ngIf="form.get('issue_date').touched && form.controls.issue_date.errors?.max">La fecha de emisión no puede ser mayor a la fecha de vencimiento</span>
									</p>
									<p style="margin-top: 0.4rem;">
										<strong>Fecha vencimiento: </strong>
										<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="form.get('issue_date').value" formControlName="due_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
										<span class="help-block text-danger" *ngIf="form.get('due_date').touched && form.controls.due_date.errors?.required">La fecha de vencimiento no puede estar vacía</span>                              
										<span class="help-block text-danger" *ngIf="form.get('due_date').touched && form.controls.due_date.errors?.date">El formato de la fecha de vencimiento debe ser: 'YYYY-MM-DD'</span>
										<span class="help-block text-danger" *ngIf="form.get('due_date').touched && form.controls.due_date.errors?.min">La fecha de vencimiento no puede ser menor a la fecha de emisión</span>
									</p>
									<p style="margin-top: 0.4rem;">
										<strong>Fecha pago: </strong>
										<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="form.get('issue_date').value" formControlName="paid_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
										<span class="help-block text-danger" *ngIf="form.get('paid_date').touched && form.controls.paid_date.errors?.date">El formato de la fecha de vencimiento debe ser: 'YYYY-MM-DD'</span>
										<span class="help-block text-danger" *ngIf="form.get('paid_date').touched && form.controls.paid_date.errors?.min">La fecha de pago no puede ser menor a la fecha de emisión</span>
									</p>
								</div>
							</div>
						</div>
						<div class="m-h-50"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table m-t-30">
										<thead>
											<tr>
												<th>#</th>
												<th>Item</th>
												<th>Cantidad</th>
												<th>Costo unitario</th>
												<th>Total</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let item of form.get('items').value; let idx = index">
												<td>{{ idx + 1 }}</td>
												<td>{{ item.item ? item.item.name : "ITEM S/N" }}</td>
												<td>{{ item.quantity | number }}</td>
												<td>{{ item.price | money }}</td>
												<td>{{ item.price * item.quantity | money }}</td>
												<td>
													<button (click)="removeItem( item, idx )" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
												</td>
											</tr>
											<tr [formGroup]="itemForm" class="panel-body" style="padding: 0; display: table-row; vertical-align: inherit; border-color: inherit;">
												<td></td>
												<td>
													<input class="form-control" [matAutocomplete]="itemsAutoComplete" [formControl]="itemCtrl">
													<mat-autocomplete #itemsAutoComplete="matAutocomplete">
														<mat-option *ngFor="let item of items" [value]="item.name" (click)="selectRow(item, 'item', 'itemForm')">
															<span>{{ item.name }}</span>
														</mat-option>	
													</mat-autocomplete>
													<span class="help-block text-danger" *ngIf="itemCtrl.touched && itemForm.controls.item_id.errors?.required">Debe elegir un item</span>
													<span class="help-block text-danger" *ngIf="itemCtrl.touched && itemForm.controls.item_id.errors?.number">Elige un item válido</span>                              
												</td>
												<td>
													<input formControlName="quantity" type="number" class="form-control" [min]="1" placeholder="Precio" style="z-index: 0">
													<span class="help-block text-danger" *ngIf="itemForm.get('quantity').touched && itemForm.controls.quantity.errors?.required">Debe escribir una cantidad</span>
													<span class="help-block text-danger" *ngIf="itemForm.get('quantity').touched && itemForm.controls.quantity.errors?.number">La cantidad solo puede contener números</span>
													<span class="help-block text-danger" *ngIf="itemForm.get('quantity').touched && itemForm.controls.quantity.errors?.min">La cantidad no puede ser menor a 1</span>
												</td>
												<td>
													<div class="input-group">
														<div class="input-group-addon">$</div>
														<input formControlName="price" type="number" class="form-control" [min]="1" placeholder="Precio" style="z-index: 0">
													</div>
													<span class="help-block text-danger" *ngIf="itemForm.get('price').touched && itemForm.controls.price.errors?.required">Debe escribir un precio unitario</span>
													<span class="help-block text-danger" *ngIf="itemForm.get('price').touched && itemForm.controls.price.errors?.number">El precio unitario solo puede contener números</span>
													<span class="help-block text-danger" *ngIf="itemForm.get('price').touched && itemForm.controls.price.errors?.min">El precio unitario no puede ser menor a 0</span>
												</td>
												<td>{{ itemForm.get('price').value * itemForm.get('quantity').value | money }}</td>
												<td>
													<button [disabled]="!itemForm.valid" (click)="addItem(itemForm)" type="button" class="btn btn-primary" title="Agregar">
														<i class="fa fa-plus"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row" style="border-radius: 0px;">
							<div class="col-md-3 offset-md-9" style="padding-right: 15px; padding-left: 15px;">
								<p class="text-right"><b>Sub-total:</b> {{ form.get('gross_amount').value  | money }}</p>
								<p class="text-right">Descuento: $ <input formControlName="excempt_amount" type="number" min="0" placeholder="Descuento" style="width: 50%;text-align: right;"></p>
								<p class="text-right">IVA(<input formControlName="tax_rate" type="number" [min]="0" placeholder="Porcentaje IVA"/>%): {{ getTax() | money }}</p>
								<hr>
								<h3 class="text-right">{{ getTotal() | money }}</h3>
							</div>
						</div>
						<hr>
						<div class="col-12">
							<div class="form-group">
								<strong class="form-control-label" style="margin-bottom: 0;">Notas</strong>
								<textarea formControlName="notes" class="form-control"></textarea>
								<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">La nota no puede exceder los 255 caracteres</span>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-12 hidden-print">
								<div class="pull-right">
									<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-inverse" title="Guardar">
										<i class="fa fa-floppy-o"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>