a:hover, a:focus{
    text-decoration: none;
  }
  
  * {
      outline: none !important;
  }
  
  button, input, optgroup, select, textarea{
      font-family: inherit;
  }
  th{
      font-weight: bold;
  }
  
  
  /*Progress*/
  .progress{
      border-radius: 0;
  }
  .progress-xs{
      height: 7px;
  }
  .progress-sm{
      height: 10px;
  }
  .progress-md{
      height: 13px;
  }
  
  
  /*BG*/
  .bg-primary{
      background-color: rgba($primary-color,1) !important;
      &.medium-opacity{
          background-color: rgba($primary-color, 0.5) !important;
      }
  }
  .bg-success{
      background-color: rgba($success-color,1) !important;
      &.medium-opacity{
          background-color: rgba($success-color, 0.5) !important;
      }
  }
  .bg-info{
      background-color: rgba($info-color,1) !important;
      &.medium-opacity{
          background-color: rgba($info-color, 0.5) !important;
      }
  }
  .bg-warning{
      background-color: rgba($warning-color,1) !important;
      &.medium-opacity{
          background-color: rgba($warning-color, 0.5) !important;
      }
  }
  .bg-danger{
      background-color: rgba($danger-color,1) !important;
      &.medium-opacity{
          background-color: rgba($danger-color, 0.5) !important;
      }
  }  
  .bg-main{
      background-color: rgba($main-color,1) !important;;
      &.medium-opacity{
          background-color: rgba($main-color, 0.5) !important;
      }
  } 
  .bg-dark{
      background-color: rgba($dark-color,1) !important;
      &.medium-opacity{
          background-color: rgba($dark-color, 0.5) !important;
      }
  } 
  
  
  
  
  /*Card*/
  .card{
     // background: rgba($default-color,0.1);
      border: none;
      border-radius: 1%;
      overflow: hidden;
     // margin-bottom: 0;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
      .card-header{
          background: $card-header-background; //rgba($main-color,0.4);
          color: $card-header-color;
          line-height: 10px;
          border-radius: 0;
          border: none;
          a{
              color: $card-header-color ;
              &:hover{
                  color: $main-color;
              }
          }
      }
      .card-footer{
          background: $sidebar-bg-color; //rgba($main-color,0.2);
          color: $default-color;
          line-height: 6px;
          border-radius: 0;
          border: none;
      }
      .card-block{
         // color: $default-color;
      }
      &.card-block{
          //color: $default-color;
      }
      &.card-outline-default{
          background: transparent;
          border: 1px solid $default-color;       
      }
      &.card-primary{
          background: rgba($primary-color,1);     
          &.medium-opacity{
              background: rgba($primary-color, 0.5);
          }
      }
      &.card-outline-primary{
          background: transparent;
          border: 1px solid $primary-color;       
      }
      &.card-success{
          background: rgba($success-color,1);
          &.medium-opacity{
              background: rgba($success-color, 0.5);
          }
      }
      &.card-outline-success{
          background: transparent;
          border: 1px solid $success-color;       
      }
      &.card-info{
          background: rgba($info-color,1);
          &.medium-opacity{
              background: rgba($info-color, 0.5);
          }
      }
      &.card-outline-info{
          background: transparent;
          border: 1px solid $info-color;       
      }
      &.card-warning{
          background: rgba($warning-color,1);
          &.medium-opacity{
              background: rgba($warning-color, 0.5);
          }
      }
      &.card-outline-warning{
          background: transparent;
          border: 1px solid $warning-color;       
      }
      &.card-danger{
          background: rgba($danger-color,1);
          &.medium-opacity{
              background: rgba($danger-color, 0.5);
          }
      } 
      &.card-outline-danger{
          background: transparent;
          border: 1px solid $danger-color;       
      }
      &.card-primary, &.card-success, &.card-info, &.card-danger, &.card-warning{
          .card-header{
              background: rgba($dark-color,0.4);
          }
          .card-block{
             color: $default-color;
          }
          .card-footer{
              background: rgba($dark-color,0.2);
          }
      }
      &.overlay{
            .card-img{
                  border-radius: 0;
                  -webkit-filter: brightness(100%);
                  -moz-filter: brightness(100%);
                  -ms-filter: brightness(100%);
                  -o-filter: brightness(100%);
                  filter: brightness(100%);
              }
              &:hover .card-img{
                  -webkit-filter: brightness(80%);
                  -moz-filter: brightness(80%);
                  -ms-filter: brightness(80%);
                  -o-filter: brightness(80%);
                  filter: brightness(80%);
              }
              .card-img-overlay{
                  color:$default-color;
                  &.overlay-bottom{
                      top:auto;           
                  }
                  &.slide-up{
                      -webkit-transform: translateY(100%);
                      -moz-transform: translateY(100%);
                      -ms-transform: translateY(100%);
                      -o-transform: translateY(100%);
                      transform: translateY(100%);                   
                  }
                  &.slide-down{
                      -webkit-transform: translateY(-100%);
                      -moz-transform: translateY(-100%);
                      -ms-transform: translateY(-100%);
                      -o-transform: translateY(-100%);
                      transform: translateY(-100%); 
                  }
                  &.slide-left{
                      -webkit-transform: translateX(-100%);
                      -moz-transform: translateX(-100%);
                      -ms-transform: translateX(-100%);
                      -o-transform: translateX(-100%);
                      transform: translateX(-100%); 
                  }
                  &.slide-right{
                      -webkit-transform: translateX(100%);
                      -moz-transform: translateX(100%);
                      -ms-transform: translateX(100%);
                      -o-transform: translateX(100%);
                      transform: translateX(100%); 
                  }
                  &.hover-opacity{
                      opacity: 0;
                  }
              }
              &:hover .slide-up{
                  -webkit-transform: translateY(0);
                  -moz-transform: translateY(0);
                  -ms-transform: translateY(0);
                  -o-transform: translateY(0);
                  transform: translateY(0);
              }
              &:hover .slide-down{
                  -webkit-transform: translateY(0);
                  -moz-transform: translateY(0);
                  -ms-transform: translateY(0);
                  -o-transform: translateY(0);
                  transform: translateY(0);
              }
              &:hover .slide-left{
                  -webkit-transform: translateX(0);
                  -moz-transform: translateX(0);
                  -ms-transform: translateX(0);
                  -o-transform: translateX(0);
                  transform: translateX(0);
              }
              &:hover .slide-right{
                  -webkit-transform: translateX(0);
                  -moz-transform: translateX(0);
                  -ms-transform: translateX(0);
                  -o-transform: translateX(0);
                  transform: translateX(0);
              }
              &:hover .hover-opacity{
                  opacity: 1;
              } 
      }    
  }
  .card-img-top{
      border-radius: 0;
  }
  
  @media (min-width: 576px) {
      .card-columns{
          -moz-column-count: 3;
          -moz-column-gap: 1.25rem;
      } 
  }
  
  
  
  
  
  
  /*Buttons*/
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #333;
    text-decoration: none;
  }
  .btn:active,
  .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: .65;
  }
  a.btn.disabled,
  fieldset[disabled] a.btn {
    pointer-events: none;
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-default:focus,
  .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .btn-default:active:hover,
  .btn-default.active:hover,
  .open > .dropdown-toggle.btn-default:hover,
  .btn-default:active:focus,
  .btn-default.active:focus,
  .open > .dropdown-toggle.btn-default:focus,
  .btn-default:active.focus,
  .btn-default.active.focus,
  .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    background-image: none;
  }
  .btn-default.disabled:hover,
  .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default:hover,
  .btn-default.disabled:focus,
  .btn-default[disabled]:focus,
  fieldset[disabled] .btn-default:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled].focus,
  fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
  }
  .btn-default .badge {
    color: #fff;
    background-color: #333;
  }
  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .btn-primary:focus,
  .btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
  .btn-primary:active:hover,
  .btn-primary.active:hover,
  .open > .dropdown-toggle.btn-primary:hover,
  .btn-primary:active:focus,
  .btn-primary.active:focus,
  .open > .dropdown-toggle.btn-primary:focus,
  .btn-primary:active.focus,
  .btn-primary.active.focus,
  .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    background-image: none;
  }
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus,
  .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
  }
  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  .btn-success:focus,
  .btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
  }
  .btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }
  .btn-success:active:hover,
  .btn-success.active:hover,
  .open > .dropdown-toggle.btn-success:hover,
  .btn-success:active:focus,
  .btn-success.active:focus,
  .open > .dropdown-toggle.btn-success:focus,
  .btn-success:active.focus,
  .btn-success.active.focus,
  .open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
  }
  .btn-success:active,
  .btn-success.active,
  .open > .dropdown-toggle.btn-success {
    background-image: none;
  }
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled.focus,
  .btn-success[disabled].focus,
  fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  .btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
  }
  .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }
  .btn-info:focus,
  .btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
  }
  .btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
  }
  .btn-info:active,
  .btn-info.active,
  .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
  }
  .btn-info:active:hover,
  .btn-info.active:hover,
  .open > .dropdown-toggle.btn-info:hover,
  .btn-info:active:focus,
  .btn-info.active:focus,
  .open > .dropdown-toggle.btn-info:focus,
  .btn-info:active.focus,
  .btn-info.active.focus,
  .open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
  }
  .btn-info:active,
  .btn-info.active,
  .open > .dropdown-toggle.btn-info {
    background-image: none;
  }
  .btn-info.disabled:hover,
  .btn-info[disabled]:hover,
  fieldset[disabled] .btn-info:hover,
  .btn-info.disabled:focus,
  .btn-info[disabled]:focus,
  fieldset[disabled] .btn-info:focus,
  .btn-info.disabled.focus,
  .btn-info[disabled].focus,
  fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da;
  }
  .btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
  }
  .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
  .btn-warning:focus,
  .btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
  }
  .btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
  }
  .btn-warning:active,
  .btn-warning.active,
  .open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
  }
  .btn-warning:active:hover,
  .btn-warning.active:hover,
  .open > .dropdown-toggle.btn-warning:hover,
  .btn-warning:active:focus,
  .btn-warning.active:focus,
  .open > .dropdown-toggle.btn-warning:focus,
  .btn-warning:active.focus,
  .btn-warning.active.focus,
  .open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
  }
  .btn-warning:active,
  .btn-warning.active,
  .open > .dropdown-toggle.btn-warning {
    background-image: none;
  }
  .btn-warning.disabled:hover,
  .btn-warning[disabled]:hover,
  fieldset[disabled] .btn-warning:hover,
  .btn-warning.disabled:focus,
  .btn-warning[disabled]:focus,
  fieldset[disabled] .btn-warning:focus,
  .btn-warning.disabled.focus,
  .btn-warning[disabled].focus,
  fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
  }
  .btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
  }
  .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  .btn-danger:focus,
  .btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
  }
  .btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
  .btn-danger:active,
  .btn-danger.active,
  .open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
  .btn-danger:active:hover,
  .btn-danger.active:hover,
  .open > .dropdown-toggle.btn-danger:hover,
  .btn-danger:active:focus,
  .btn-danger.active:focus,
  .open > .dropdown-toggle.btn-danger:focus,
  .btn-danger:active.focus,
  .btn-danger.active.focus,
  .open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
  }
  .btn-danger:active,
  .btn-danger.active,
  .open > .dropdown-toggle.btn-danger {
    background-image: none;
  }
  .btn-danger.disabled:hover,
  .btn-danger[disabled]:hover,
  fieldset[disabled] .btn-danger:hover,
  .btn-danger.disabled:focus,
  .btn-danger[disabled]:focus,
  fieldset[disabled] .btn-danger:focus,
  .btn-danger.disabled.focus,
  .btn-danger[disabled].focus,
  fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  .btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
  }
  .btn-link {
    font-weight: normal;
    color: #555;
    border-radius: 0;
  }
  .btn-link,
  .btn-link:active,
  .btn-link.active,
  .btn-link[disabled],
  fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .btn-link,
  .btn-link:hover,
  .btn-link:focus,
  .btn-link:active {
    border-color: transparent;
  }
  .btn-link:hover,
  .btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
  }
  .btn-link[disabled]:hover,
  fieldset[disabled] .btn-link:hover,
  .btn-link[disabled]:focus,
  fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
  }
  .btn-lg,
  .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  .btn-sm,
  .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .btn-xs,
  .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-block + .btn-block {
    margin-top: 5px;
  }
  
  
  
  
  
  /*Tables*/
  .table{
     // color: $default-color;
  }
  // Generate the contextual variants
  @include table-row-variant(active, $table-bg-active);
  @include table-row-variant(success, $success-color);
  @include table-row-variant(info, $info-color);
  @include table-row-variant(warning, $warning-color);
  @include table-row-variant(danger, $danger-color);
  
  .table-reflow {
    thead {
      float: left;
    }
    tbody {
      display: block;
      white-space: nowrap;
    }
    th,
    td {
      border-top: $table-border-width solid $table-border-color;
      border-left: $table-border-width solid $table-border-color;
      &:last-child {
        border-right: $table-border-width solid $table-border-color;
      }
    }
    thead,
    tbody,
    tfoot {
      &:last-child {
        tr:last-child th,
        tr:last-child td {
          border-bottom: $table-border-width solid $table-border-color;
        }
      }
    }
    tr {
      float: left;
  
      th,
      td {
        display: block !important;
        border: $table-border-width solid $table-border-color;
      }
    }
  }
  
  
  
  
  /*Text*/
  .text-primary{
      color: $primary-color !important;
  }
  .text-success{
      color: $success-color !important;
  }
  .text-info{
      color: $info-color !important;
  }
  .text-warning{
      color: $warning-color !important;
  }
  .text-danger{
      color: $danger-color !important;
  }
  .text-muted{
      color: #ccc !important;
  }
  .blockquote{
      font-size:1.2rem;
  }
  .blockquote-footer {
      font-size: 70%;
  }
  
  
  /*Tabs*/
  .nav-tabs {    
      background-color: $gray-light;
      border: 1px solid $gray-light;  
      .nav-item{
          .nav-link{
              color: rgba($main-color, 0.8);
              background-color: transparent;
              border: none;
              cursor: default;
              &.active{
                  background-color: $default-color;
                  color: $main-color;
              }
              &:not(.active):hover {
                  background-color: transparent;
                  color: $main-color;
                  cursor: pointer;
              }
          }
      }
      &.top{
          border-top-left-radius: 0.3rem;
          border-top-right-radius: 0.3rem;              
      }
      &.bottom{
          border-bottom-left-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          .nav-item{
              margin-bottom: 0;
              margin-top:-1px;
              .nav-link{
                  border-radius: 0 0 0.3rem 0.3rem;
              }
          }
      }
      &.tabs-primary{
          background-color: rgba($primary-color, 0.4);
          border: 1px solid $primary-color;
          .nav-item{
              .nav-link{
                  color: rgba($default-color, 0.8);
                  &.active{
                      background-color: $primary-color;
                      color: $default-color;
                  }
                  &:not(.active):hover {
                      color: $default-color;
                  }
              }
          }
      }
      &.tabs-success{
          background-color: rgba($success-color, 0.4);
          border: 1px solid $success-color;
          .nav-item{
              .nav-link{
                  color: rgba($default-color, 0.8);
                  &.active{
                      background-color: $success-color;
                      color: $default-color;
                  }
                  &:not(.active):hover {
                      color: $default-color;
                  }
              }
          }
      }
      &.tabs-info{
          background-color: rgba($info-color, 0.4);
          border: 1px solid $info-color;
          .nav-item{
              .nav-link{
                  color: rgba($default-color, 0.8);
                  &.active{
                      background-color: $info-color;
                      color: $default-color;
                  }
                  &:not(.active):hover {
                      color: $default-color;
                  }
              }
          }
      }
      &.tabs-warning{
          background-color: rgba($warning-color, 0.4);
          border: 1px solid $warning-color;
          .nav-item{
              .nav-link{
                  color: rgba($default-color, 0.8);
                  &.active{
                      background-color: $warning-color;
                      color: $default-color;
                  }
                  &:not(.active):hover {
                      color: $default-color;
                  }
              }
          }
      }
      &.tabs-danger{
          background-color: rgba($danger-color, 0.4);
          border: 1px solid $danger-color;
          .nav-item{
              .nav-link{
                  color: rgba($default-color, 0.8);
                  &.active{
                      background-color: $danger-color;
                      color: $default-color;
                  }
                  &:not(.active):hover {
                      color: $default-color;
                  }
              }
          }
      }
  }
  .tab-content {
      position: relative;
      z-index: 1;
      border: 1px solid $gray-light;
      background: #fff;
      .tab-pane {
          padding: 1rem;
      }
      &.tab-content-primary{
          background-color: $primary-color;
          color: $default-color;
          border-color: $primary-color;
      }
      &.tab-content-success{
          background-color: $success-color;
          color: $default-color;
          border-color: $success-color;
      }
      &.tab-content-info{
          background-color: $info-color;
          color: $default-color;
          border-color: $info-color;
      }
      &.tab-content-warning{
          background-color: $warning-color;
          color: $default-color;
          border-color: $warning-color;
      }
      &.tab-content-danger{
          background-color: $danger-color;
          color: $default-color;
          border-color: $danger-color;
      }
      &.top{
          border-top: none;
      }
      &.bottom{
          border-bottom: none;
      }
  }
  
  .vertical-tabs{
      .nav{
          padding-right: 0;
          overflow: hidden;
          background-color: $gray-light;
          border: 1px solid $gray-light; 
          &.left{
              border-top-left-radius: 0.25rem;
              border-bottom-left-radius: 0.25rem;
              border-right: none;
              margin-right: -1px;
              z-index: 2;
          }  
          &.right{
              border-top-right-radius: 0.25rem;
              border-bottom-right-radius: 0.25rem;
              border-left: none;
              margin-left: -1px;
              z-index: 2;
          }    
          .nav-item{
              .nav-link{
                  color: rgba($main-color, 0.8);
                  background-color: transparent;
                  border-radius: 0;
                  cursor: default;
                  &.active{
                      background-color: $default-color;
                  }
                  &:not(.active):hover {
                      background-color: transparent;
                      color: $main-color;
                      cursor: pointer;
                  }
                  &.disabled{
                      color: rgba($main-color, 0.6);
                      cursor: not-allowed !important;
                  }
              }
          }        
      }
  }
  
  
  
  /*ALERTS*/
  .alert{
      &.alert-success{
          background-color: $success-color;
          border-color: $success-color;
          color: $default-color;
          &.medium-opacity{
              background: rgba($success-color, 0.5);
              border-color: rgba($success-color, 0.6);
          }
      }
      &.alert-info{
          background-color: $info-color;
          border-color: $info-color;
          color: $default-color;
          &.medium-opacity{
               background-color: rgba($info-color, 0.5);
               border-color: rgba($info-color, 0.6);
          }
      }
       &.alert-warning{
          background-color: $warning-color;
          border-color: $warning-color;
          color: $default-color;
          &.medium-opacity{
               background-color: rgba($warning-color, 0.5);
               border-color: rgba($warning-color, 0.6);
          }
      }
       &.alert-danger{
          background-color: $danger-color;
          border-color: $danger-color;
          color: $default-color;
          &.medium-opacity{
              background-color: rgba($danger-color, 0.5);
              border-color: rgba($danger-color, 0.6);
          }
      }
  }
  
  
  
  /* MODALS */
  .modal{
      z-index: 99999;
      padding-top: 10%;
  }
  .modal-dialog{
      .modal-content{
          color: $dark-color;
          .modal-header{
              border-top-left-radius: 0.2rem;
              border-top-right-radius: 0.2rem;
              padding: 10px 15px;
              &.modal-primary{
                  color: $default-color;
                  background-color: $primary-color;
              }
              &.modal-success{
                  color: $default-color;
                  background-color: $success-color;
              }
              &.modal-info{
                  color: $default-color;
                  background-color: $info-color;
              }
              &.modal-warning{
                  color: $default-color;
                  background-color: $warning-color;
              }
              &.modal-danger{
                  color: $default-color;
                  background-color: $danger-color;
              }
              i{
                  margin-right: 10px;
              }
          }
          .modal-footer{
              padding: 10px 15px;
          }       
      }
  }
  
  
  
  /*List Group*/
  .list-group{
      .list-group-item{
          border-radius: 0;
          padding: 0.55rem 1.25rem;
          color: rgba($dark-color, 0.8);
          &.active{
              color: rgba($default-color, 0.9);
              background-color: $primary-color;
              border-color: $primary-color;
              &:hover, &:focus{
                  color: $default-color !important;
              }             
          }
          &.disabled{
              color: #818a91;
              background-color: #ddd; 
          }
          &:not(.disabled):focus{
              color:$dark-color;
          }
          &.list-group-item-primary{
              color: $default-color;
              background-color: $primary-color;
          }
          &.list-group-item-success{
              color: $default-color;
              background-color: $success-color;
          }
          &.list-group-item-info{
              color: $default-color;
              background-color: $info-color;
          }
          &.list-group-item-warning{
              color: $default-color;
              background-color: $warning-color;
          }
          &.list-group-item-danger{
              color: $default-color;
              background-color: $danger-color;
          }
      }
  }
  
  
  
  
  /*Forms*/
  
  @function url-friendly-colour($colour) {
      @return '%23' + str-slice('#{$colour}', 2, -1);
  }
  
  // Form validation icons
  $az-form-icon-success: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{url-friendly-colour($success-color)}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") !default;
  
  $az-form-icon-warning: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{url-friendly-colour($warning-color)}' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E") !default;
  
  $az-form-icon-danger: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-friendly-colour($danger-color)}' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") !default;
  
  
  // Form validation states
  .has-success {
      .form-control-success {
          background-image: $az-form-icon-success;       
      }   
      .form-control{
          border-color: rgba($success-color, 0.8);
          &:focus {
              box-shadow: none;
              border-color: rgba($success-color, 0.5);
          }
      }  
      .form-control-feedback, .form-control-label, .form-check-label, .form-check-inline, .custom-control{
          color: $success-color;
      }
  }
  .has-warning {
      .form-control-warning {
          background-image: $az-form-icon-warning;
      }
      .form-control{
          border-color: rgba($warning-color, 0.8);
          &:focus {
              box-shadow: none;
              border-color: rgba($warning-color, 0.5);
          }
      }  
      .form-control-feedback, .form-control-label, .form-check-label, .form-check-inline, .custom-control{
          color: $warning-color;
      }
  }
  .has-danger {
      .form-control-danger {
          background-image: $az-form-icon-danger;
      }
      .form-control{
          border-color: rgba($danger-color, 0.8);
          &:focus {
              box-shadow: none;
              border-color: rgba($danger-color, 0.5);
          }
      }  
      .form-control-feedback, .form-control-label, .form-check-label, .form-check-inline, .custom-control{
          color: $danger-color;
      }
  }
  
  
  .form-group{
      label{
          margin-bottom: 2px;
      }     
  }
  .help-block {
      color: $gray;
      font-size: 12px;
  }
  .form-control {
      border-radius: 0;
      font-size: 14px;
      &:focus {
            border-color: rgba($gray, 0.5);
      }
      &.checking-field.ng-touched{
          padding-right: 2.25rem;
          background-repeat: no-repeat;
          background-position: center right 0.625rem;
          background-size: 1.25rem 1.25rem; 
          &.ng-invalid {
              border-color: $danger-color;
              background-image: $az-form-icon-danger;          
          } 
          &.ng-valid {
              border-color: $success-color;
              background-image: $az-form-icon-success;
          }     
      } 
  }
  .form-control-rounded {
      border-radius: 16px;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
      color: rgba($gray, 0.7);
  }
  .input-group .input-group-addon {
      padding: .3rem .7rem .3rem .7rem;
      border-radius: 0;
  }
  .input-group-btn .btn{
      padding: .36rem .9rem .36rem .9rem;
      font-size: 17px;
  }
  .input-group .form-control:not(:first-child), 
  .input-group-addon:not(:first-child), 
  .input-group-btn:not(:first-child) > .btn, 
  .input-group-btn:not(:first-child) > .btn-group > .btn, 
  .input-group-btn:not(:first-child) > .dropdown-toggle, 
  .input-group-btn:not(:last-child) > .btn:not(:first-child), 
  .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn
  {
      border-radius: 0;
  }
  
  select.form-control:not([multiple]) option { 
      color: rgba($dark-color, 0.8);
  }
  select.form-control:not([size]):not([multiple]) {
      height: calc(2.5rem - 5px);
  }
  input[type="color"].form-control{
      padding: 0;
  }
  
  .form-inline .form-group input {
      width: 100%;
  }
  
  
  
  
  .dropdown-menu{
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 0;
      font-size: 14px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      a {
          color: $main-color;     
          &:hover {
              color: $navbar-text-color;
              background-color: $main-color;
          }
      } 
      &:before{
          content: " ";
          position: absolute;
          top: -12px;
          left: 30px;
          display: block;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-bottom-color: #fff;
      }   
  }
  .dropdown-divider{
      margin: 0.2rem 0;
  }
  
  
  // Checkboxes and Radio buttons
  $az-custom-checkbox-checked-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") !default;
  $az-custom-radio-checked-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E") !default;
  $az-custom-select-indicator: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") !default;
  
  .custom-control{
      &.custom-checkbox{
          .custom-control-indicator{
              border-radius: 0.1rem;
          }
          .custom-control-input{
              &:checked ~ .custom-control-indicator{
                  background-color: rgba($gray, 0.7);
                  border: 1px solid $gray;
                  background-image: $az-custom-checkbox-checked-icon;
              }
              &.checkbox-primary{
                  &:checked ~ .custom-control-indicator{
                      background-color: $primary-color;
                      border:none;
                  }
              }
              &.checkbox-success{
                  &:checked ~ .custom-control-indicator{
                      background-color: $success-color;
                      border:none;
                  }
              }
              &.checkbox-info{
                  &:checked ~ .custom-control-indicator{
                      background-color: $info-color;
                      border:none;
                  }
              }
              &.checkbox-warning{
                  &:checked ~ .custom-control-indicator{
                      background-color: $warning-color;
                      border:none;
                  }
              }
              &.checkbox-danger{
                  &:checked ~ .custom-control-indicator{
                      background-color: $danger-color;
                      border:none;
                  }
              }
              &.checkbox-main{
                  &:checked ~ .custom-control-indicator{
                      background-color: $main-color;
                      border:none;
                  }
              }
              &.checkbox-circle  ~ .custom-control-indicator{
                  border-radius: 50%;
              } 
          }      
      }
      &.custom-radio{
           .custom-control-indicator{
              // background-color: rgba($default-color, 0.15);
              // border: 1px solid rgba($default-color, 0.7);
           }
           .custom-control-input{
              &:checked ~ .custom-control-indicator{
                  background-color: rgba($gray, 0.7);
                  border: 1px solid $gray;
                  background-image: $az-custom-radio-checked-icon;
                  background-origin: border-box;
              }
              &.radio-primary{
                  &:checked ~ .custom-control-indicator{
                      background-color: $primary-color;
                      border:none;
                  }
              }
              &.radio-success{
                  &:checked ~ .custom-control-indicator{
                      background-color: $success-color;
                      border:none;
                  }
              }
              &.radio-info{
                  &:checked ~ .custom-control-indicator{
                      background-color: $info-color;
                      border:none;
                  }
              }
              &.radio-warning{
                  &:checked ~ .custom-control-indicator{
                      background-color: $warning-color;
                      border:none;
                  }
              }
              &.radio-danger{
                  &:checked ~ .custom-control-indicator{
                      background-color: $danger-color;
                      border:none;
                  }
              } 
              &.radio-main{
                  &:checked ~ .custom-control-indicator{
                      background-color: $main-color;
                      border:none;
                  }
              } 
          } 
      }
      .custom-control-input:focus ~ .custom-control-indicator {
          box-shadow: none !important;
      }
      .custom-control-description{
          vertical-align: middle;
      }  
  }
  .custom-select, .custom-select:focus {
      background: rgba($default-color, 0.1) $az-custom-select-indicator no-repeat right .75rem center;
      background-size: 8px 10px;
  }
  
  /*Inputs, Select*/
  .custom-select{
      width: 100%;
  }
  
  
  /*Badge*/
  .badge{
      font-weight: normal;
      line-height: 1.4;
      letter-spacing: 0.03em;
      &.badge-primary{
          background-color: $primary-color;  
      }
      &.badge-info{
          background-color: $info-color;  
      }
      &.badge-danger{
          background-color: $danger-color;  
      }
      &.badge-success{
          background-color: $success-color;  
      }
      &.badge-warning{
          background-color: $warning-color;  
      }
      &.badge-default{
          // background-color: $default-color;
          // color: $dark-color;  
      }
      &.badge-dark{
          background-color: $dark-color;        
      }
      &.badge-main{
          background-color: $main-color;
      }
  }
  
  
  /*Media objects*/
  // .media-left{
  //     padding-right: 10px;
  // }
  // .media-right{
  //     padding-left: 10px;
  // }
  
  code{    
      background-color: #e9ebee;
  }