<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO LABORES</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
				
				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
					</div>
				</div>
				
				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>
					
					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="due_date" matSortDirection="desc">
						<ng-container matColumnDef="date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="category_id">
							<mat-header-cell *matHeaderCellDef>Categoría</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.category_id ? row.category.name: "" }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="season_id">
							<mat-header-cell *matHeaderCellDef>Temporada</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.season_id ? row.season.year : "" }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="sectors">
							<mat-header-cell *matHeaderCellDef>Sector/es</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<span *ngFor="let sector of row.sectors">
									{{ $index > 0 ? ", " + sector.name : sector.name }}
								</span>
							</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="contractors">
							<mat-header-cell *matHeaderCellDef>Contratista/s</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<ul style="list-style-type: none; margin: 0; padding: 0;">
									<li *ngFor="let contractor of row.contractors">
										{{ contractor.name }} - {{ contractor.pivot.price | money }}
									</li>
								</ul>
							</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="type">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="due_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Límite</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.due_date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="completed">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cumplida</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.completed ? "Si" : "No" }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="notes">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ row.notes || "" | slice:0:50 }}...
							</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
								<br>
							</mat-cell>
						</ng-container>
						
						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
						
						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>
					
					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade loading-in-modal" *ngIf="current.requesting" style="bottom: 0;">
			<mat-spinner></mat-spinner>
		</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} labor</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="clearfix">
					<ul class="nav nav-tabs top pull-left w-100p">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#form" id="toform" (click)="changeTab('form')">Datos</a>
						</li>
						<li class="nav-item" [hidden]="!current.id">
							<a class="nav-link" data-toggle="tab" href="#sectors" id="tosectors" (click)="changeTab('sectors')">Sectores</a>
						</li>
						<li class="nav-item" [hidden]="!current.id">
							<a class="nav-link" data-toggle="tab" href="#contractors" id="tocontractors" (click)="changeTab('contractors')">Contratistas</a>
						</li>
					</ul>
				</div>
				<div class="tab-content top">
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'form' }" id="form">
						<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
						</div>
						<form [formGroup]="form">
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.date ), 'has-success' : form.get('date').touched && !( form.controls.date.errors?.date ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : categoryCtrl.touched && ( form.controls.category_id.errors?.required || form.controls.category_id.errors?.number ), 'has-success' : categoryCtrl.touched && !( form.controls.category_id.errors?.required || form.controls.category_id.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Trabajo *</label>
									<input class="form-control" [matAutocomplete]="categoriesAutoComplete" [formControl]="categoryCtrl">
									<mat-autocomplete #categoriesAutoComplete="matAutocomplete">
										<mat-option *ngFor="let category of categories" [value]="category.name" (click)="selectRow(category, 'category', 'form')">
											<span>{{ category.name }}</span>
										</mat-option>	
									</mat-autocomplete>
									<span class="help-block text-danger" *ngIf="categoryCtrl.touched && form.controls.category_id.errors?.required">Debe elegir una categoría</span>
									<span class="help-block text-danger" *ngIf="categoryCtrl.touched && form.controls.category_id.errors?.number">Elige una categoría válida</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : seasonCtrl.touched && ( form.controls.season_id.errors?.required || form.controls.season_id.errors?.number ), 'has-success' : seasonCtrl.touched && !( form.controls.season_id.errors?.required || form.controls.season_id.errors?.number ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Temporada *</label>
									<input class="form-control" [matAutocomplete]="seasonsAutoComplete" [formControl]="seasonCtrl">
									<mat-autocomplete #seasonsAutoComplete="matAutocomplete">
										<mat-option *ngFor="let season of seasons" [value]="season.year" (click)="selectRow(season, 'season', 'form')">
											<span>{{ season.year }}</span>
										</mat-option>	
									</mat-autocomplete>
									<span class="help-block text-danger" *ngIf="seasonCtrl.touched && form.controls.season_id.errors?.required">Debe elegir una temporada</span>
									<span class="help-block text-danger" *ngIf="seasonCtrl.touched && form.controls.season_id.errors?.number">Elige una temporada válida</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('due_date').touched && ( form.controls.due_date.errors?.date || form.errors?.due_date ), 'has-success' : form.get('due_date').touched && !( form.controls.due_date.errors?.date || form.errors?.due_date  ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Fecha límite</label>
									<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="due_date" [min]="form.get('date').value" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
									<span class="help-block text-danger" *ngIf="form.get('due_date').touched && form.errors?.due_date">La fecha límite no puede ser menor a la fecha inicial</span>
									<span class="help-block text-danger" *ngIf="form.get('due_date').touched && form.controls.due_date.errors?.date">El formato de la fecha límite debe ser: 'YYYY-MM-DD'</span>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group">
									<label for="completed">
										<input formControlName="completed" id="completed" type="checkbox"> Cumplida
									</label>
								</div>
							</div>
							
							<div class="col-12">
								<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.required ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.required ) }">
									<label class="form-control-label" style="margin-bottom: 0;">Notas *</label>
									<textarea formControlName="notes" class="form-control"></textarea>   
									<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.required">Debe escribir alguna nota</span>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'sectors' }" id="sectors">
						<div class="col-12">
							<div class="form-group" [ngClass]="{'has-danger' : sectorCtrl.touched && !sectorCtrl.value }">
								<label class="form-control-label" style="margin-bottom: 0;">Sector *</label>
								<input class="form-control" [matAutocomplete]="sectorsAutoComplete" [formControl]="sectorCtrl">
								<mat-autocomplete #sectorsAutoComplete="matAutocomplete">
									<mat-option *ngFor="let sector of sectors" [value]="sector.name" (click)="addSector(sector)">
										<span>{{ sector.name }}</span>
									</mat-option>	
								</mat-autocomplete>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sector of current.sectors">
                    <td>
                      {{ sector.name }}
                    </td>
                    <td>
											<button (click)="removeSector( sector, $index )" class="btn btn-outline-danger btn-xs" matTooltip="Remover"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
						</div>
					</div>
					<div class="tab-pane" [ngClass]="{ 'active': tab == 'contractors' }" id="contractors">
						<div class="col-12">
							<div class="form-group" [ngClass]="{'has-danger' : errors.contractor }">
								<label class="form-control-label" style="margin-bottom: 0;">Contratista *</label>
								<input class="form-control" [matAutocomplete]="contractorsAutoComplete" [formControl]="contractorCtrl">
								<mat-autocomplete #contractorsAutoComplete="matAutocomplete">
									<mat-option *ngFor="let contractr of contractors" [value]="contractr.name" (click)="contractor.object = contractr">
										<span>{{ contractr.name }}</span>
									</mat-option>	
								</mat-autocomplete>
								<span class="help-block text-danger" *ngIf="errors.contractor">Debe seleccionar un contratista de la lista</span>
							</div>
							<div class="form-group" [ngClass]="{ 'has-danger': errors.price }">
								<label class="form-control-label" style="margin-bottom: 0;">Precio *</label>
								<div class="input-group">
									<div class="input-group-addon">$</div>
									<input type="number" [(ngModel)]="contractor.price" class="form-control" placeholder="Precio">
								</div>
								<span class="help-block text-danger" *ngIf="errors.price">Debe ingresar el precio (solo números)</span>
							</div>
							<button [disabled]="(errors.contractor || errors.price) || ( !contractor.object || !contractor.price )" (click)="addContractor()" class="btn btn-primary" matTooltip="Asociar"><i class="fa fa-plus"></i></button>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contractor of current.contractors">
                    <td>
                      {{ contractor.name }}
                    </td>
                    <td>
                      {{ contractor.pivot.price | money}}
                    </td>
                    <td>
											<button (click)="removeContractor( contractor, $index )" class="btn btn-outline-danger btn-xs" matTooltip="Remover"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar" *ngIf="tab == 'form'">
					<i class="fa fa-pencil"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" [title]="tab == 'form' ? 'Cancelar' : 'Cerrar'">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>