<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">Eto del período</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
          <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="table-responsive card-block widget-body">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Eto del Mes</th>
            <th>Eto Mínima</th>
            <th>Eto Máxima</th>
            <th>Eto Promedio</th>
            <th>Lluvia Caída</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>{{ eto }}</th>
            <th>{{ etoMin }}</th>
            <th>{{ etoMax }}</th>
            <th>{{ etoAvg }}</th>
            <th>{{ rain }}</th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE RIEGOS</span>
        <div class="widget-controls">
          <a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">

        <div class="container" id="filters-controls">
          <button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
          <button (click)="goToTrayRecovery()" class="btn btn-danger" matTooltip="Reposición de Bandeja"><i class="fa fa-tint"></i></button>
          <button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>
          <button data-toggle="modal" data-target="#tray-modal" class="btn btn-warning" matTooltip="Bandeja a Reponer"><i class="fa fa-bullseye"></i></button>

        </div>

        <div class="container" id="filters" style="display: none; padding: 1rem;">
          <form class="row" [formGroup]="filtersForm" (ngSubmit)="buildFilters(filtersForm.value)" novalidate>
            <div class="col-12">
              <div class="form-group" style="margin-bottom: 2rem;">
                <label class="form-control-label" style="margin-bottom: .5rem;">Sector:</label>
                <input class="form-control" [matAutocomplete]="filterSectorAC" [formControl]="filterSectorCtrl">
                <mat-autocomplete #filterSectorAC="matAutocomplete">
                  <mat-option *ngFor="let sector of filterSectors" [value]="sector.name" (click)="selectMultipleRow(sector, 'sector', 'filtersForm')">
                    <span>{{ sector.name }}</span>
                  </mat-option>
                </mat-autocomplete>

                <div *ngFor="let sector of selectedSectors">
                  * <span class="help-block">{{ sector.name }}</span>
                  -
                  <span class="help-block text-danger h-underline" style="cursor: pointer" (click)="removeSector( sector.id, $index )">
                    <i class="fa fa-close"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Desde:</label>
                <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="sinceDate" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
                <span *ngIf="errors.sinceDate" class="help-block text-danger"><small>{{ errors.sinceDate }}</small></span>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Hasta:</label>
                <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="untilDate" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
                <span *ngIf="errors.untilDate" class="help-block text-danger"><small>{{ errors.untilDate }}</small></span>
              </div>
            </div>

            <div class="col">
              <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
                <i class="fa fa-search"></i>
              </button>
              <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
                <i class="fa fa-refresh"></i>
              </button>
              <button type="button" (click)="generateExportLink('excel')" class="btn btn-success" matTooltip="Descargar excel">
                <i class="fa fa-file-excel-o"></i>
              </button>
            </div>
          </form>
        </div>

        <div class="container" id="simple-filters" style="padding: 1rem;">
          <form class="row" [formGroup]="simpleFiltersForm" (ngSubmit)="buildSimpleFilters(simpleFiltersForm.value)" novalidate>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Mes:</label>
                <select class="form-control" formControlName="month">
                  <option [value]="0">Enero</option>
                  <option [value]="1">Febrero</option>
                  <option [value]="2">Marzo</option>
                  <option [value]="3">Abril</option>
                  <option [value]="4">Mayo</option>
                  <option [value]="5">Junio</option>
                  <option [value]="6">Julio</option>
                  <option [value]="7">Agosto</option>
                  <option [value]="8">Septiembre</option>
                  <option [value]="9">Octubre</option>
                  <option [value]="10">Noviembre</option>
                  <option [value]="11">Diciembre</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label class="form-control-label" style="margin-bottom: .5rem;">Año:</label>
                <select class="form-control" formControlName="year">
                  <option *ngFor="let year of lastYears" value="{{year}}">{{year}}</option>
                </select>
              </div>
            </div>

            <div class="col">
              <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
                <i class="fa fa-search"></i>
              </button>
              <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Reiniciar">
                <i class="fa fa-refresh"></i>
              </button>
            </div>

          </form>
        </div>
      <div class="row">
        <div class="col-12">
          <div class="w-200 pull-right bottom-15">
            <div class="input-group input-group-sm">
                          <span (click)="search()" class="input-group-addon" matTooltip="Buscar">
                            <i class="fa fa-search"></i>
                          </span>
              <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
            </div>
          </div>
        </div>
      </div>
        <div class="table-container">
          <div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="haveError">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>
<div class="table-scroll-container">
          <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="date" matSortDirection="desc">
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Día</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.date | date:'y-MM-dd' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sector_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Sector</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.sector ? row.sector.name : "..." }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="start">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Hora inicio</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.start | date:'HH:mm' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="end">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Hora término</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.end | date:'HH:mm' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="time">
              <mat-header-cell *matHeaderCellDef>Tiempo de riego</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ timeService.toHumanReadFromMinutes( row.time_duration ) }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="milimeters">
              <mat-header-cell *matHeaderCellDef>Milímetros regados
                <small>
                  <i>Eficiencia 90%</i>
                </small>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.mm }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="timeFromLast">
              <mat-header-cell *matHeaderCellDef>Tiempo desde el último riego</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ timeService.toHumanReadFromMinutes(row.time_since_last) || 0 }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="evo">
              <mat-header-cell *matHeaderCellDef>Bandeja acumulada</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.tray_cumulative }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="notes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.notes || "" | slice:0:50 }}
                <i *ngIf="row.application"> Ver aplicación <a class="text-primary" [attr.href]="getApplicationLink(row)">{{ row.application.id }}</a></i>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
                <button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
                <br>
                <a href="/applications/download/{{ row.application_id }}" *ngIf="row.application_id" class="btn btn-outline-success btn-xs" matTooltip="Ver aplicación">
                  <i class="fa fa-eye"></i>
                </a>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
          </mat-table>
</div>
          <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} riego</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
        </div>
        <form [formGroup]="form">
          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('date').touched && ( form.controls.date.errors?.required || form.controls.date.errors?.date ), 'has-success' : form.get('date').touched && !( form.controls.date.errors?.required || form.controls.date.errors?.date ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Día *</label>
              <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
              <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.required">El día no puede estar vacío</span>
              <span class="help-block text-danger" *ngIf="form.get('date').touched && form.controls.date.errors?.date">El formato del día debe ser: 'YYYY-MM-DD'</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : sectorCtrl.touched && ( form.controls.sector_id.errors?.required || form.controls.sector_id.errors?.number ), 'has-success' : sectorCtrl.touched && !( form.controls.sector_id.errors?.required || form.controls.sector_id.errors?.number ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Sector *</label>
              <input class="form-control" [matAutocomplete]="sectorsAutoComplete" [formControl]="sectorCtrl">
              <mat-autocomplete #sectorsAutoComplete="matAutocomplete">
                <mat-option *ngFor="let sector of sectors" [value]="sector.name" (click)="selectRow(sector, 'sector', 'form')">
                  <span>{{ sector.name }}</span>
                </mat-option>
              </mat-autocomplete>
              <span class="help-block text-danger" *ngIf="sectorCtrl.touched && form.controls.sector_id.errors?.required">Debe elegir un sector</span>
              <span class="help-block text-danger" *ngIf="sectorCtrl.touched && form.controls.sector_id.errors?.number">Elige un sector válido</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('start').touched && ( form.controls.start.errors?.required || form.controls.start.errors?.date ), 'has-success' : form.get('start').touched && !( form.controls.start.errors?.required || form.controls.start.errors?.date ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Hora inicio *</label>
              <input formControlName="start" (keyup)="timeKeyService.formatHour($event, form, 'start')" class="form-control" placeHolder="HH:MM" type="text">
              <span class="help-block text-danger" *ngIf="form.get('start').touched && form.controls.start.errors?.required">La hora de inicio no puede estar vacía</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-danger' : form.get('end').touched && ( form.controls.end.errors?.required || form.controls.end.errors?.date ), 'has-success' : form.get('end').touched && !( form.controls.end.errors?.required || form.controls.end.errors?.date ) }">
              <label class="form-control-label" style="margin-bottom: 0;">Hora término *</label>
              <input formControlName="end" (keyup)="timeKeyService.formatHour($event, form, 'end')" class="form-control" placeHolder="HH:MM" type="text">
              <span class="help-block text-danger" *ngIf="form.get('end').touched && form.controls.end.errors?.required">La hora término no puede estar vacía</span>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="chlorination">
                <input formControlName="chlorination" id="chlorination" type="checkbox"> Clorificación
              </label>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="tail">
                <input formControlName="tail" id="tail" type="checkbox"> Descole
              </label>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="acidification">
                <input formControlName="acidification" id="acidification" type="checkbox"> Acidificación
              </label>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group" [ngClass]="{'has-success' : form.get('notes').touched }">
              <label class="form-control-label" style="margin-bottom: 0;">Notas</label>
              <textarea formControlName="notes" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
          <i class="fa fa-save"></i>
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA MOSTRAR INFORMACIÓN DE BANDEJA A REPONER !-->
<div class="modal fade" id="tray-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">Bandeja a Reponer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>

      <div class="modal-body">
        <div class="table-container">
          <div class="table-loading-shade" *ngIf="trayRecovery.data.length == 0">
            <div class="table-rate-limit-reached">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table #tableTrayRecovery [dataSource]="trayRecovery" class="table-table" matSort matSortActive="date" matSortDirection="desc">
            <ng-container matColumnDef="sector">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Sector</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.sector }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.date }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="percentage">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.percentage }}%</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsTrayRecovery" style="padding: 0;"></mat-header-row>

            <mat-row *matRowDef="let row; columns: columnsTrayRecovery;" style="padding: 0;"></mat-row>
          </mat-table>           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
