<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">REPORTE POR FECHAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">

				<div style="padding: 0 0 1rem; width: 100%;">
          <form class="row" [formGroup]="filtersForm" (ngSubmit)="runFiltering()" novalidate>

            <div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Inicio</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm.get('date_from').value" formControlName="date_from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Termino</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm.get('date_to').value" formControlName="date_to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
            </div>

            <div class="col col-sm-12">
              <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>

				<div class="row bottom-15 top-15">

					<div class="col-6 relative">
						<a (click)="generateExportLink('pdf')" target="_blank" rel="noopener noreferrer" class="btn btn-danger" title="Descargar PDF">
							<i class="fa fa-file-pdf-o"></i>
						</a>
						<a (click)="generateExportLink('excel')" target="_blank" rel="noopener noreferrer" class="btn btn-success" title="Descargar Excel">
							<i class="fa fa-file-excel-o"></i>
						</a>
						<a (click)="generateExportLink('csv')" target="_blank" rel="noopener noreferrer" class="btn btn-default" title="Descargar CSV">
							<i class="fa fa-file-text-o"></i>
						</a>
					</div>

          <div class="col-6">
            <div class="w-200 pull-right bottom-15">
              <div class="input-group input-group-sm">
                <span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
                <input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
              </div>
            </div>
          </div>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="name" matSortDirection="desc">

						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.name ? row.name : "..." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="purchases">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Comprada</mat-header-cell>
							<mat-cell class="linkReport" *matCellDef="let row" (click)="goToInvoices(row)">{{ row.purchases }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="applications">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Aplicada</mat-header-cell>
							<mat-cell class="linkReport" *matCellDef="let row" (click)="goToApplications(row)">{{ row.applications }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="variations">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Variación</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.variations }}</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
