<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">LISTADO DE PERMISOS</span>
        <div class="widget-controls">
          <a (click)="getData()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <button (click)="createOrEdit()"
                data-toggle="modal"
                data-target="#form-modal"
                class="btn btn-primary"
                matTooltip="Agregar">
          <i class="fa fa-plus"></i>
        </button>


        <div class="w-200 pull-right bottom-15">
          <div class="input-group input-group-sm">
            <span (click)="search(filter)" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
            <input (keyup)="keyupChange()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text"
                   placeholder="Buscar...">
          </div>
        </div>

        <div class="table-container">

          <div class="table-loading-shade" *ngIf="loadingResults || error || tableData.data.length == 0">
            <mat-spinner *ngIf="loadingResults"></mat-spinner>
            <div class="table-rate-limit-reached" *ngIf="error">
              Ha ocurrido un error. Por favor refresca la página para continuar.
            </div>
            <div class="table-rate-limit-reached" *ngIf="!error && !loadingResults && tableData.data.length == 0">
              No hay información disponible para mostrar.
            </div>
          </div>

          <div class="table-scroll-container">           <mat-table [dataSource]="tableData" class="table-table">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
              <mat-cell *matCellDef="let row" class="text-right">
                <button (click)="createOrEdit(row.id)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i
                  class="fa fa-pencil"></i></button>
                <button (click)="selectedPermission = row" data-toggle="modal" data-target="#confirm-delete-modal" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i
                  class="fa fa-trash-o"></i></button>
                <button (click)="openRoles(row)" data-toggle="modal" data-target="#view-roles" class="btn btn-outline-primary btn-xs" matTooltip="Ver Roles"><i
                    class="fa fa-cog"></i></button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA MOSTRAR LISTA DE ROLES !-->
<div class="modal fade" id="view-roles" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header state">
        <h4 class="modal-title" id="modal-error-label">{{activePermissionWithRolesID.name || 'Roles'}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>

      <div class="modal-body">
          <div class="col-12">
            <div class="form-group">
              <mat-selection-list #list>
                <mat-list-item>
                  <label class="form-control-label">Roles</label>
                </mat-list-item>
                <mat-list-option *ngFor="let role of roles" [value]="role"
                  [selected]="selectRoles(role)" (click)="onListControlChanged(list)">
                  {{role.name}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>

        </div>

        <div class="modal-footer pull-right" mat-dialog-actions>
          <button (click)="saveRolesSelection()" data-dismiss="modal" type="button" class="btn btn-primary" [title]="'Actualizar'"><i class="fa fa-floppy-o "></i></button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar"><i class="fa fa-window-close"></i></button>
        </div>

      </div>
    </div>
  </div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>



