<div class="row bottom-30">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span class="text-uppercase">{{title}}</span>
        <div class="widget-controls">
          <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
          <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
          <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
          <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
        </div>
      </div>
      <div class="card-block widget-body">
        <div class="row">
          <div class="col-12 col-sm-6 bottom-15">
            <button type="button" (click)="generateExportLink('excel')" class="btn btn-success" matTooltip="Generar excel">
              <i class="fa fa-file-excel-o"></i>
            </button>
            <button type="button" (click)="generateExportLink('csv')" class="btn btn-primary" matTooltip="Generar csv">
              <i class="fa fa-file-text-o"></i>
            </button>
          </div>
        </div>

        <div class="table-loading-shade" *ngIf="isLoading" style="bottom: 0;">
          <mat-spinner></mat-spinner>
        </div>
        <div class="table-container">
          <div class="charts-container">
            <ngx-charts-bar-vertical
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




