<div class="container" id="filters" style="display: none; padding: 1rem;">
  <form class="row" [formGroup]="filtersForm" novalidate>

    <div class="col-4 col-md-4">
      <div class="form-group">
        <label class="form-control-label">Desde</label>
        <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                       type="calendar" [max]="filtersForm.get('start').value" formControlName="start"
                       [locale]="translate.DateTimePicker.es"
                       dateFormat="YYYY-MM-DD">
        </owl-date-time>
      </div>
    </div>

    <div class="col-4 col-md-4">
      <div class="form-group">
        <label class="form-control-label">Hasta</label>
        <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD"
                       type="calendar" [max]="filtersForm.get('end').value" formControlName="end"
                       [locale]="translate.DateTimePicker.es"
                       dateFormat="YYYY-MM-DD">
        </owl-date-time>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Tipo</label>
        <select class="form-control" formControlName="type">
          <option *ngFor="let t of types" [value]="t.id">{{t.type}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Sectores</label>
        <select class="form-control" formControlName="sectors">
          <option *ngFor="let s of sectors" [value]="s.id">{{s.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Estado Fenológico</label>
        <select class="form-control" formControlName="phenologicalstage">
          <option *ngFor="let e of phenologicalstages" [value]="e.id">{{e.value}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Tipo Dosificación</label>
        <select class="form-control" formControlName="dosagetype">
          <option *ngFor="let d of dosagetypes" [value]="d.id">{{d.value}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Tractor</label>
        <select class="form-control" formControlName="tractor_id">
          <option *ngFor="let t of tractors" [value]="t.id">{{t.brand + ' ' +  t.model + ' ' + t.year}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Máquina</label>
        <select class="form-control" formControlName="machine_id">
          <option *ngFor="let m of machines" [value]="m.id">{{m.brand + ' ' + m.model + ' ' + m.year}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Dosificador</label>
        <select class="form-control" formControlName="dosificador">
          <option *ngFor="let a of aplicators" [value]="a.id">{{a.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Aplicador</label>
        <select class="form-control" formControlName="aplicador">
          <option *ngFor="let a of aplicators" [value]="a.id">{{a.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">NPK</label>
        <select class="form-control" formControlName="npk">
          <option [value]="npk.id" *ngFor="let npk of allNpks, let i = index">{{npk.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Tipos de Productos</label>
        <select class="form-control" formControlName="product_type">
          <option value="0">FERTILIZANTE</option>
          <option value="1">HERBICIDA</option>
          <option value="2">FITOSANITARIO</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" style="margin-bottom: .5rem;">Producto</label>
        <select class="form-control" formControlName="product">
          <option [value]="product.id" *ngFor="let product of products, let i = index">{{product.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar" (click)="search(filtersForm.value)">
        <i class="fa fa-search"></i>
      </button>
      <button type="submit" class="btn btn-success customMargin" matTooltip="Reporte Productos Fitosanitarios" (click)="report()">
        <i class="fa fa-download"></i>
      </button>
      <button type="submit" class="btn btn-warning" matTooltip="Reporte de Productos Fertilizantes" (click)="reportFertilizers()">
        <i class="fa fa-download"></i>
      </button>
      <button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </form>
</div>
