<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO TEMPORADAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
				
				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
					</div>
				</div>
				
				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>
					
					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="year" matSortDirection="desc">
						<ng-container matColumnDef="year">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Año</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.year }}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="start">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Inicio</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button *ngIf="row.productions.length > 0" class="btn btn-primary" type="button" data-toggle="collapse" attr.data-target="#collapseTrayStart{{row.id}}" attr.aria-expanded="false" attr.aria-controls="collapseTrayStart{{row.id}}">Ver</button>
								<div class="collapse" id="collapseTrayStart{{row.id}}">
									<div class="well">
										<table class="table table-striped table-bordered" style="margin-bottom: 0.1rem">
											<tr *ngFor="let production of row.productions">
												<td>
													<strong>{{ production.variety_id }}</strong>
												</td>
												<td>{{ production.start | date:'y-MM-dd' }}</td>
											</tr>
										</table>
									</div>
								</div>
							</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="end">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Término</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button *ngIf="row.productions.length > 0" class="btn btn-primary" type="button" data-toggle="collapse" attr.data-target="#collapseTrayEnd{{row.id}}" attr.aria-expanded="false" attr.aria-controls="collapseTrayEnd{{row.id}}">Ver</button>
								<div class="collapse" id="collapseTrayEnd{{row.id}}">
									<div class="well">
										<table class="table table-striped table-bordered" style="margin-bottom: 0.1rem">
											<tr *ngFor="let production of row.productions">
												<td>
													<strong>{{ production.variety_id }}</strong>
												</td>
												<td>{{ production.end | date:'y-MM-dd' }}</td>
											</tr>
										</table>
									</div>
								</div>
							</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="production">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Producción</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button *ngIf="row.productions.length > 0" class="btn btn-primary" type="button" data-toggle="collapse" attr.data-target="#collapseTrayProduction{{row.id}}" attr.aria-expanded="false" attr.aria-controls="collapseTrayProduction{{row.id}}">Ver</button>
								<div class="collapse" id="collapseTrayProduction{{row.id}}">
									<div class="well">
										<table class="table table-striped table-bordered" style="margin-bottom: 0.1rem">
											<tr *ngFor="let production of row.productions">
												<td>
													<strong>{{ production.variety_id }}</strong>
												</td>
												<td>{{ production.quantity | number }}</td>
											</tr>
										</table>
									</div>
								</div>
							</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
							</mat-cell>
						</ng-container>
						
						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>
						
						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>
					
					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
			<mat-spinner></mat-spinner>
		</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nueva" }} temporada</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('name').touched && ( form.controls.name.errors?.required || form.controls.name.errors?.maxlength ), 'has-success' : form.get('name').touched && !( form.controls.name.errors?.required || form.controls.name.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Nombre *</label>
							<input formControlName="name" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.required">Debe escribir el nombre</span>
							<span class="help-block text-danger" *ngIf="form.get('name').touched && form.controls.name.errors?.maxlength">El nombre no puede exceder los 45 caracteres</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('code').touched && ( form.controls.code.errors?.required || form.controls.code.errors?.maxlength ), 'has-success' : form.get('code').touched && !( form.controls.code.errors?.required || form.controls.code.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Código *</label>
							<input formControlName="code" class="form-control">   
							<span class="help-block text-danger" *ngIf="form.get('code').touched && form.controls.code.errors?.required">Debe escribir el código</span>
							<span class="help-block text-danger" *ngIf="form.get('code').touched && form.controls.code.errors?.maxlength">El código no puede exceder los 45 caracteres</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('price').touched && ( form.controls.price.errors?.required || form.controls.price.errors?.range || form.controls.price.errors?.number ), 'has-success' : form.get('price').touched && !( form.controls.price.errors?.required || form.controls.price.errors?.number || form.controls.price.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Precio *</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input formControlName="price" type="number" class="form-control" placeholder="Precio" style="z-index: 0">
							</div>
							<span class="help-block text-danger" *ngIf="form.get('price').touched && form.controls.price.errors?.required">Debe ingresar el precio (solo números)</span>
							<span class="help-block text-danger" *ngIf="form.get('price').touched && form.controls.price.errors?.number">El precio solo puede contener números</span>                              
							<span class="help-block text-danger" *ngIf="form.get('price').touched && form.controls.price.errors?.range">El precio del item debe estar entre 0 y 999999.999999</span>                              
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('presentation').touched && ( form.controls.presentation.errors?.required || form.controls.presentation.errors?.maxlength ), 'has-success' : form.get('presentation').touched && !( form.controls.presentation.errors?.required || form.controls.presentation.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Presentación *</label>
							<select class="form-control" formControlName="presentation">
								<option *ngFor="let presentation of presentations" [value]="presentation.value">{{presentation.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('presentation').touched && form.controls.presentation.errors?.required">Debe elegir una presentación</span>
							<span class="help-block text-danger" *ngIf="form.get('presentation').touched && form.controls.presentation.errors?.maxlength">La presentación no puede exceder los 255 caracteres</span>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : varietyCtrl.touched && ( form.controls.variety_id.errors?.required || form.controls.variety_id.errors?.number ), 'has-success' : varietyCtrl.touched && !( form.controls.variety_id.errors?.required || form.controls.variety_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Variedad *</label>
							<input class="form-control" [matAutocomplete]="varietiesAutoComplete" [formControl]="varietyCtrl">
							<mat-autocomplete #varietiesAutoComplete="matAutocomplete">
								<mat-option *ngFor="let variety of varieties" [value]="variety.name" (click)="selectRow(variety, 'variety', 'form')">
									<span>{{ variety.name }}</span>
								</mat-option>	
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="varietyCtrl.touched && form.controls.variety_id.errors?.required">Debe elegir una variedad</span>
							<span class="help-block text-danger" *ngIf="varietyCtrl.touched && form.controls.variety_id.errors?.number">Elige una variedad válido</span>                              
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-pencil"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>