<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE FACTURAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<div style="padding: 0 0 1rem; width: 100%;">
					<form class="row" [formGroup]="filtersForm1" (ngSubmit)="buildFilters(filtersForm1.value, 'filtersForm1')" novalidate>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Mes</label>
								<select class="form-control" formControlName="month">
									<option [value]="0">Enero</option>
									<option [value]="1">Febrero</option>
									<option [value]="2">Marzo</option>
									<option [value]="3">Abril</option>
									<option [value]="4">Mayo</option>
									<option [value]="5">Junio</option>
									<option [value]="6">Julio</option>
									<option [value]="7">Agosto</option>
									<option [value]="8">Septiembre</option>
									<option [value]="9">Octubre</option>
									<option [value]="10">Noviembre</option>
									<option [value]="11">Diciembre</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Año</label>
								<select class="form-control" formControlName="year">
									<option *ngFor="let year of lastYears" value="{{year}}">{{year}}</option>
								</select>
							</div>
						</div>

						<div class="col col-sm-12">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
				</div>

				<a routerLink="crear" class="btn btn-primary" matTooltip="Crear nueva"><i class="fa fa-plus"></i></a>
				<button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>
				<button class="btn btn-warning" data-toggle="modal" data-target="#import-modal" matTooltip="Importar"><i class="fa fa-download"></i></button>

				<div class="container" id="filters" style="display: none; padding: 1rem;">
					<form class="row" [formGroup]="filtersForm2" (ngSubmit)="buildFilters(filtersForm2.value, 'filtersForm2')" novalidate>
						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Cliente</label>
								<input class="form-control" [matAutocomplete]="filterCustomerAC" [formControl]="customerCtrl">
								<mat-autocomplete #filterCustomerAC="matAutocomplete">
									<mat-option *ngFor="let customer of customers" [value]="customer.name" (click)="selectRow(customer, 'customer', 'filtersForm2')">
										<span>{{ customer.name }}</span>
									</mat-option>
								</mat-autocomplete>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Tipo</label>
								<select class="form-control" formControlName="type">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let type of types" value="{{type.value}}">{{type.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Emitida desde</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm2.get('issue_date_to').value" formControlName="issue_date_from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Emitida hasta</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm2.get('issue_date_from').value" formControlName="issue_date_to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Vencimiento desde</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="filtersForm2.get('due_date_to').value" formControlName="due_date_from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Vencimiento hasta</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm2.get('due_date_from').value" formControlName="due_date_to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-4 col-xl-3">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Estado</label>
								<select class="form-control" formControlName="state">
									<option value="" selected>-- Seleccionar --</option>
									<option *ngFor="let state of states" value="{{state.value}}">{{state.name}}</option>
								</select>
							</div>
						</div>

						<div class="col-12">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
							<button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
								<i class="fa fa-refresh"></i>
							</button>
						</div>
					</form>
				</div>

				<div class="w-200 pull-right bottom-15">
					<div class="input-group input-group-sm">
						<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
						<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
					</div>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="issue_date" matSortDirection="desc">
						<ng-container matColumnDef="customer_id">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.customer ? row.customer.name : "..." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="number">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.number }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="issue_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.issue_date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="gross_amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Valor neto</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.gross_amount | money }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="state" style="min-width: 150px;">
							<mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 150px;">Estado</mat-header-cell>
							<mat-cell *matCellDef="let row" style="min-width: 150px;">
								<span class="label" [ngClass]="{'label-success': row.state == 1, 'label-danger': row.state == 0, 'label-warning': row.state > 1 }">{{ states[row.state] ? states[row.state].name : row.state }}</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<a routerLink="{{ row.id }}" class="btn btn-outline-info btn-xs" matTooltip="Ver detalles"><i class="fa fa-eye"></i></a>
								<button routerLink="{{ row.id }}/editar" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
								<button (click)="download(row.id)" class="btn btn-outline-success btn-xs" matTooltip="Descargar"><i class="fa fa-file-pdf-o"></i></button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>

<!--MODAL PARA CREAR IMPORTAR FACTURA VENTA  !-->
<div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
  <div [ngClass]="{'hidden': !loadingImport}">
    <mat-progress-bar #bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-label">Importar Factura del Libro de Ventas</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="importForm" class="row">
          <div class="form-group col-md-12" [ngClass]="{'has-danger' : importForm.value.folio != '' && importForm.get('folio').hasError('required'), 'has-success' : !importForm.get('folio').hasError('required') }">
            <label class="form-control-label">Folio*</label>
            <input formControlName="folio" class="form-control" [ngClass]="{'form-control-danger' :  importForm.get('folio').hasError('required'), 'form-control-success' :  !importForm.get('folio').hasError('required') }" type="text">
          </div>

          <div class="form-group col-md-12" [ngClass]="{'has-success' : !importForm.get('movement').hasError('required') }">
            <label class="form-control-label">Tipo Movimiento </label>
            <select class="form-control" formControlName="movement">
              <option value="V">Venta</option>
              <option value="C">Compra</option>
              <option value="B">Boleta</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="import()" [disabled]="!importForm.valid" type="button" class="btn btn-primary" title="Importar"><i class="fa fa-download"></i></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar"><i class="fa fa-window-close"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
