<div mat-dialog-content>
  <div class="modal-header state">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div *ngIf="errorMessages.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
    </div>
    <div class="table-loading-shade fade show" *ngIf="isLoading" style="bottom: 0;">
      <mat-spinner></mat-spinner>
    </div>
    <form [formGroup]="form">
      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : sectorsCtrl.touched && ( form.get('sector_id').hasError('required') ||
                                                                                    form.get('sector_id').hasError('number') ),
                                           'has-success' : sectorsCtrl.touched && !( form.get('sector_id').hasError('required') ||
                                                                                    form.get('sector_id').hasError('number') ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Sector *</label>
          <input class="form-control" [matAutocomplete]="sectorsAutoComplete" [formControl]="sectorsCtrl">
          <mat-autocomplete #sectorsAutoComplete="matAutocomplete">
            <mat-option *ngFor="let sector of sectors" [value]="sector.name" (click)="selectSector(sector.id)">
              <span>{{ sector.name }}</span>
            </mat-option>
          </mat-autocomplete>
          <span class="help-block text-danger" *ngIf="sectorsCtrl.touched && form.get('sector_id').hasError('required')">Debe elegir un sector</span>
          <span class="help-block text-danger" *ngIf="sectorsCtrl.touched && form.get('sector_id').hasError('number')">Elige un sector válido</span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group" [ngClass]="{'has-danger' : form.get('end').touched && ( form.get('end').hasError('required') ||
                                                                                        form.get('end').hasError('date') ),
                                            'has-success' : form.get('end').touched && !( form.get('end').hasError('required') ||
                                                                                        form.get('end').hasError('date') ) }">
          <label class="form-control-label" style="margin-bottom: 0;">Fecha término *</label>
          <owl-date-time [readonlyInput]="false" inputStyleClass="form-control"
                         formControlName="end"
                         [locale]="translate.DateTimePicker.es" [dateFormat]="'YYYY/MM/DD HH:mm'"
                         placeHolder="YYYY/MM/DD HH:MM"></owl-date-time>
          <span class="help-block text-danger" *ngIf="form.get('end').touched && form.get('end').hasError('required')">La fecha término no puede estar vacía</span>
          <span class="help-block text-danger" *ngIf="form.get('end').touched && form.get('end').hasError('date')">El formato de la fecha término debe ser: 'YYYY/MM/DD'</span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button [disabled]="!form.valid" (click)="save(form.value)"
          type="button" class="btn btn-primary" title="Guardar"><i class="fa fa-floppy-o"></i></button>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i></button>
</div>
