.relative{
  position: relative;
  left: -3px;
}

.state {
  padding-left: 15px;
}

.unpaid {
  background-color: #F2DEDE;
}


/* Extraido de charts ngx*/
.invoice-legend {
  display: inline-block;
  padding: 0;
  width: auto !important; }
.invoice-legend .legend-title {
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold; }
.invoice-legend ul, .invoice-legend li {
  padding: 0;
  margin: 0;
  list-style: none; }
.invoice-legend .legend-labels {
  line-height: 85%;
  list-style: none;
  text-align: left;
  float: left;
  width: 100%;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.05); }
.invoice-legend .legend-label {
  cursor: pointer;
  font-size: 90%;
  margin: 8px;
  color: #000; }
.invoice-legend .legend-label .active .legend-label-text {
  color: #000; }
.invoice-legend .legend-label-color {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  border-color: #0f0f0f;
  color: #5b646b;
  border-radius: 3px; }
.invoice-legend .legend-label-text {
  display: inline-block;
  vertical-align: top;
  line-height: 15px;
  font-size: 12px;
  width: calc(100% - 20px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
.invoice-legend .legend-title-text {
  vertical-align: bottom;
  display: inline-block;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
