<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">LISTADO DE GASTOS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">

        <div style="padding: 0 0 1rem; width: 100%;">
          <az-expenses-simple-filter (filter)="onSimpleFiltering($event)"></az-expenses-simple-filter>
				</div>

				<button (click)="create()" data-toggle="modal" data-target="#form-modal" class="btn btn-primary" matTooltip="Agregar"><i class="fa fa-plus"></i></button>
				<button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>

				<div class="container" id="filters" style="padding: 1rem; display: none">
					<az-expenses-advance-filter (filter)="onAdvanceFiltering($event)"></az-expenses-advance-filter>
				</div>

				<div class="row bottom-15 top-15">

          <div class="col-12">
            <form [formGroup]="stateForm"
                  *ngIf="selection.selected.length > 0"
                  style="display: inline">
              <mat-form-field>
                <mat-select formControlName="state" placeholder="Estado">
                  <mat-option>
                    {{' '}}
                  </mat-option>
                  <mat-option *ngFor="let state of states" [value]="state.value">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <button *ngIf="selection.selected.length > 0"
                      [disabled]="!stateForm.valid"
                      (click)="updateState()"
                      class="btn btn-success" matTooltip="Guardar"><i class="fa fa-floppy-o"></i></button>
            </form>
          </div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-6 bottom-15">
						<button type="button" (click)="generateExportLink('pdf')" class="btn btn-danger" matTooltip="Generar pdf">
							<i class="fa fa-file-pdf-o"></i>
						</button>
						<button type="button" (click)="generateExportLink('excel')" class="btn btn-success" matTooltip="Generar excel">
							<i class="fa fa-file-excel-o"></i>
						</button>
						<button type="button" (click)="generateExportLink('csv')" class="btn btn-primary" matTooltip="Generar csv">
							<i class="fa fa-file-text-o"></i>
						</button>
					</div>

					<div class="col-6">
						<div class="w-200 pull-right bottom-15">
							<div class="input-group input-group-sm">
								<span (click)="search()" class="input-group-addon" matTooltip="Buscar"><i class="fa fa-search"></i></span>
								<input (keyup)="search()" class="form-control" id="table-search-input" [(ngModel)]="filter" type="text" placeholder="Buscar...">
							</div>
						</div>
					</div>
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>

					<div class="table-scroll-container">           <mat-table #table [dataSource]="source" class="table-table" matSort matSortActive="expense_date" matSortDirection="desc">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

						<ng-container matColumnDef="expense_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.expense_date | date:'y-MM-dd' }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="costcenter_id">
							<mat-header-cell *matHeaderCellDef>Centro de costo</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.costcenter ? row.costcenter.name : "..." }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="detail">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.detail }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="state">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.state == 0 ? "No Pagado" : "Pagado" }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="amount">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.amount | money }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="notes">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Notas</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.notes || "" | slice:0:50 }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="file">
							<mat-header-cell *matHeaderCellDef class="text-right">Comprobante</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<div *ngIf="!row.invoice">
									<a (click)="download(row.id)" class="btn btn-outline-info btn-xs" matTooltip="Ver comprobante de gasto">
										<i class="fa fa-file-pdf-o"></i>
									</a>
								</div>
								<div *ngIf="row.invoice">
									<a (click)="download(row.invoice.id, 'invoices')" class="btn btn-outline-info btn-xs" matTooltip="Ver factura escaneada">
										<i class="fa fa-file-pdf-o"></i>
									</a>
								</div>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef class="text-right">Acciones</mat-header-cell>
							<mat-cell *matCellDef="let row" class="text-right">
								<button data-toggle="modal" data-target="#form-modal" (click)="edit(row)" class="btn btn-outline-warning btn-xs" matTooltip="Editar"><i class="fa fa-pencil"></i></button>
								<button data-toggle="modal" data-target="#confirm-delete-modal" (click)="current = row" class="btn btn-outline-danger btn-xs" matTooltip="Eliminar"><i class="fa fa-trash-o"></i></button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;" [ngClass]="getRowClass(row)"></mat-row>
					</mat-table>           </div>

					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
        <div class="col-5 invoice-legend">
          <div class="legend-title ng-star-inserted">
            <span class="legend-title-text">Leyenda</span>
          </div>
          <div class="legend-wrap">
            <ul class="legend-labels" style="margin-left: 0 !important; padding-left: 0 !important;">
              <li class="legend-label">
              <span>
                <span class="legend-label-color unpaid"></span> <label class="legend-label-text">No Pagado</label>
              </span>
              </li>
            </ul>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CREAR/ACTUALIZAR !-->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="modal-error-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="table-loading-shade" *ngIf="current.requesting" style="bottom: 0;">
		<mat-spinner></mat-spinner>
	</div>
		<div class="modal-content">
			<div class="modal-header state">
				<h4 class="modal-title" id="modal-error-label">{{ current.id ? "Editar" : "Nuevo" }} gasto</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Cerrar"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><div *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</div></strong>
				</div>
				<form [formGroup]="form">
					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('expense_date').touched && ( form.controls.expense_date.errors?.required || form.controls.expense_date.errors?.date ), 'has-success' : form.get('expense_date').touched && !( form.controls.expense_date.errors?.required || form.controls.expense_date.errors?.date ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Fecha *</label>
							<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="expense_date" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							<span class="help-block text-danger" *ngIf="form.get('expense_date').touched && form.controls.expense_date.errors?.required">La fecha no puede estar vacía</span>
							<span class="help-block text-danger" *ngIf="form.get('expense_date').touched && form.controls.expense_date.errors?.date">El formato de la fecha debe ser: 'YYYY-MM-DD'</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : costCenterCtrl.touched && ( form.controls.costcenter_id.errors?.required || form.controls.costcenter_id.errors?.number ), 'has-success' : costCenterCtrl.touched && !( form.controls.costcenter_id.errors?.required || form.controls.costcenter_id.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Centro de costo *</label>
							<input class="form-control" [matAutocomplete]="costCentersAutoComplete" [formControl]="costCenterCtrl">
							<mat-autocomplete #costCentersAutoComplete="matAutocomplete">
								<mat-option *ngFor="let costcenter of costCenters" [value]="costcenter.name" (click)="selectRow(costcenter, 'costcenter', 'form')">
									<span>{{ costcenter.name }}</span>
								</mat-option>
							</mat-autocomplete>
							<span class="help-block text-danger" *ngIf="costCenterCtrl.touched && form.controls.costcenter_id.errors?.required">Debe elegir un centro de costo</span>
							<span class="help-block text-danger" *ngIf="costCenterCtrl.touched && form.controls.costcenter_id.errors?.number">Elige un centro de costo válido</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('detail').touched && ( form.controls.detail.errors?.required || form.controls.detail.errors?.maxlength ), 'has-success' : form.get('detail').touched && !( form.controls.detail.errors?.required || form.controls.detail.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Nombre *</label>
							<input formControlName="detail" class="form-control">
							<span class="help-block text-danger" *ngIf="form.get('detail').touched && form.controls.detail.errors?.required">Debe escribir el nombre</span>
							<span class="help-block text-danger" *ngIf="form.get('detail').touched && form.controls.detail.errors?.maxlength">El nombre no puede exceder los 255 caracteres</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('amount').touched && ( form.controls.amount.errors?.required || form.controls.amount.errors?.number ), 'has-success' : form.get('amount').touched && !( form.controls.amount.errors?.required || form.controls.amount.errors?.number ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Monto *</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input formControlName="amount" type="number" class="form-control" placeholder="Monto" style="z-index: 0">
							</div>
							<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.required">Debe escribir un monto</span>
							<span class="help-block text-danger" *ngIf="form.get('amount').touched && form.controls.amount.errors?.number">El monto solo puede contener números</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('notes').touched && ( form.controls.notes.errors?.maxlength ), 'has-success' : form.get('notes').touched && !( form.controls.notes.errors?.maxlength ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Notas</label>
							<textarea formControlName="notes" class="form-control"></textarea>
							<span class="help-block text-danger" *ngIf="form.get('notes').touched && form.controls.notes.errors?.maxlength">Las notas no puede exceder los 255 caracteres</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group" [ngClass]="{'has-danger' : form.get('state').touched && ( form.controls.state.errors?.required || form.controls.state.errors?.number || form.controls.state.errors?.range ), 'has-success' : form.get('state').touched && !( form.controls.state.errors?.required || form.controls.state.errors?.number || form.controls.state.errors?.range ) }">
							<label class="form-control-label" style="margin-bottom: 0;">Estado *</label>
							<select class="form-control" formControlName="state">
								<option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
							</select>
							<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.required">Debe elegir un estado</span>
							<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.number">El estado solo puede contener números</span>
							<span class="help-block text-danger" *ngIf="form.get('state').touched && form.controls.state.errors?.range">Debe seleccionar un estado válido</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group">
							<label class="form-control-label" style="margin-bottom: 0;">Elegir archivo <span *ngIf="!current.id">*</span></label>
							<input class="form-control" #fileInput type="file" (change)="addedFile($event)" name="file" accept="application/pdf"/>
							<span class="help-block text-danger" *ngIf="form.controls.file.errors?.required && !form.controls.file.errors?.type">Debe seleccionar un archivo</span>
							<span class="help-block text-danger" *ngIf="form.controls.file.errors?.type">El archivo debe ser de formato 'pdf'</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button [disabled]="!form.valid" (click)="save(form.value)" type="button" class="btn btn-primary" title="Guardar">
					<i class="fa fa-save"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" title="Cancelar">
					<i class="fa fa-window-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL PARA CONFIRMAR BORRADO !-->
<delete-confirm (confirmed)="delete()"></delete-confirm>
