<div class="row bottom-30">
	<div class="col-12 col-md-6 col-xl-3">
		<div widget class="card">
			<div class="card-header">
				<div class="widget-controls" style="padding: 4px 20px;">
					<!--<a (click)="reload('rain')" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>-->
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
					<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
        <div class="card card-primary text-center info-box">
         <div class="card-block">
           <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
             <div>
               <div class="row">
                 <div class="col-3">
                   <span class="info-box-icon">
                    <span class="info-box-icon"> <canvas skycon [weather]="'CLEAR-DAY'" [color]="config.colors.default" width="60" height="60"></canvas>
                    </span>
                   </span>
                 </div>
                 <div class="col-9">
                   <h6 class="no-margin">ETO DEL MES</h6>
                   <h2>{{eto}}</h2>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-xl-3">
		<div widget class="card">
			<div class="card-header">
				<div class="widget-controls" style="padding: 4px 20px;">
					<!--<a (click)="reload('rain')" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>-->
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
					<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
        <div class="card card-danger text-center info-box">
         <div class="card-block">
           <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
             <div>
               <div class="row">
                 <div class="col-3">
                   <span class="info-box-icon">
                    <span class="info-box-icon"> <canvas skycon [weather]="'CLEAR-DAY'" [color]="config.colors.default" width="60" height="60"></canvas>
                    </span>
                   </span>
                 </div>
                 <div class="col-9">
                    <div live-tile class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="58">
                      <div>
                        <h6 class="no-margin">ETO MINIMA</h6>
                        <h2>{{etoMin}}</h2>
                      </div>
                      <div>
                        <h6 class="no-margin">ETO MAXIMA</h6>
                        <h2>{{etoMax}}</h2>
                      </div>
                    </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-xl-3" style="padding: 6px;">
		<div widget class="card">
			<div class="card-header">
				<div class="widget-controls" style="padding: 4px 20px;">
					<!--<a (click)="reload('rain')" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>-->
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
					<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
        <div class="card card-warning text-center info-box">
         <div class="card-block">
           <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
             <div>
               <div class="row">
                 <div class="col-3">
                   <span class="info-box-icon">
                    <span class="info-box-icon"> <canvas skycon [weather]="'CLEAR-DAY'" [color]="config.colors.default" width="60" height="60"></canvas>
                    </span>
                   </span>
                 </div>
                 <div class="col-9">
                  <h6 class="no-margin">ETO PROMEDIO</h6>
                  <h2>{{etoAvg}}</h2>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-xl-3" style="padding: 6px;">
		<div widget class="card">
			<div class="card-header">
				<div class="widget-controls" style="padding: 4px 20px;">
					<!--<a (click)="reload('rain')" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>-->
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
					<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
        <div class="card card-success text-center info-box">
         <div class="card-block">
           <div live-tile class="live-tile" data-mode="carousel" data-direction="horizontal" data-speed="750" data-delay="4000" data-height="93">
             <div>
               <div class="row">
                 <div class="col-3">
                   <span class="info-box-icon">
                    <span class="info-box-icon"> <canvas skycon [weather]="'RAIN'" [color]="config.colors.default" width="60" height="60"></canvas>
                    </span>
                   </span>
                 </div>
                 <div class="col-9">
                   <h6 class="no-margin">LLUVIA CAIDA</h6>
                   <h2>{{rain}}</h2>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
			</div>
		</div>
	</div>
	<div class="col-12" style="padding: 6px;">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-success" *ngIf="weather$ | async; else spinner">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12" style="padding: 0 6px;">
                <div class="row">
                  <div class="col-5 text-center" style="padding: 0 6px;">
                    <canvas skycon [weather]="currentDay.icon" [color]="config.colors.default" width="60" height="60"></canvas>
                  </div>
                  <div class="col-7" style="padding: 0 6px;">
                    <h4 class="m-t-0 text-white"><b>{{ weather.outTemp | number:'2.0-0' }} °C</b></h4>
                    <p class="text-white">{{ iconsTranslate[currentDay.icon] }}</p>
                    <p class="text-white">{{weather.windSpeed | number:'.0-0'}} km/h</p>
                    <p class="text-white">Humedad {{weather.outHumidity}}%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #spinner><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></ng-template>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- Irrigation heartbeat section -->
        <app-irrigation-heartbeat></app-irrigation-heartbeat>
      </div>
    </div>
  </div>
</div>
