<div class="row bottom-30">
	<div class="col">
		<div widget class="card">
			<div class="card-header">
				<span class="text-uppercase">REPOSICIÓN DE BANDEJA POR RANGO DE FECHAS</span>
				<div class="widget-controls">
					<a (click)="reload()" class="transition" style="cursor: pointer;"><i class="fa fa-refresh"></i></a>
					<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
					<a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
					<a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
					<a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
				</div>
			</div>
			<div class="card-block widget-body">
				<button (click)="toggleFilters()" class="btn btn-success" matTooltip="Filtros"><i class="fa fa-filter"></i></button>

				<div class="container" id="filters" style="padding: 1rem;">
					<form class="row" [formGroup]="filtersForm" (ngSubmit)="buildFilters(filtersForm.value)" novalidate>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Desde</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" formControlName="from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label class="form-control-label" style="margin-bottom: .5rem;">Hasta</label>
								<owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [min]="filtersForm.get('from').value" formControlName="to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
							</div>
						</div>

						<div class="col">
							<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
				</div>

				<div style="margin: 15px 0;">
					<strong>
						Evapotranspiración del período:
					</strong>
					{{ etoperiod }}
				</div>

				<div class="table-container">
					<div class="table-loading-shade" *ngIf="loadingResults || haveError || source.data.length == 0">
						<mat-spinner *ngIf="loadingResults"></mat-spinner>
						<div class="table-rate-limit-reached" *ngIf="haveError">
							Ha ocurrido un error. Por favor refresca la página para continuar.
						</div>
						<div class="table-rate-limit-reached" *ngIf="!haveError && !loadingResults && source.data.length == 0">
							No hay información disponible para mostrar.
						</div>
					</div>
					<div class="table-scroll-container">
					<mat-table #table [dataSource]="source" class="table-table" matSort>
						<ng-container matColumnDef="sector">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Sector</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="hours">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Horas regadas</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.hours }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="mm">
							<mat-header-cell *matHeaderCellDef mat-sort-header>Milímetros regados &nbsp;
								<i>Eficiencia 90%</i>
							</mat-header-cell>
							<mat-cell *matCellDef="let row">{{ row.mm }}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="trayrecovery">
							<mat-header-cell *matHeaderCellDef mat-sort-header>% Bandeja Regada / % Bandeja Recuperar</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<div class="row">
									<div class="col-12" *ngFor="let recovery of row.tray_recovery" style="padding: 0 3px;">
										<a href="" matTooltip="{{recovery.date}}">
											<span class="label" [ngClass]="{ 'label-default': row.tray < recovery.tray_recovery_percentage, 'label-danger': row.tray >= recovery.tray_recovery_percentage }" >{{ row.tray }}</span> / <span class="label label-default">{{ recovery.tray_recovery_percentage }}</span>
										</a>
									</div>
								</div>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="columns" style="padding: 0;"></mat-header-row>

						<mat-row *matRowDef="let row; columns: columns;" style="padding: 0;"></mat-row>
					</mat-table>
					</div>
					<mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
