<div class="modal-header state">
  <h1 mat-dialog-title>{{title}}</h1>
</div>
<div mat-dialog-content>
  <div class="clearfix">
    <ul class="nav nav-tabs top pull-left w-100p">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#ta">Datos</a>
      </li>
    </ul>
  </div>
  <div class="tab-content top">
    <div class="tab-pane active" id="ta">
      <div *ngIf="errorMessages.length > 0" class="fade show">
        <strong class="text-danger" *ngFor="let key of errorMessages | keys">{{errorMessages[key]}}</strong>
      </div>
      <form [formGroup]="form">
        <div class="table-loading-shade" *ngIf="isLoading" style="bottom: 0;">
          <mat-spinner></mat-spinner>
        </div>
        <div class="col-12">
          <div class="form-group"
               [ngClass]="evaluateClassError('brand', 'brand')">
            <label class="form-control-label">Marca*</label>
            <input formControlName="brand" class="form-control" [ngClass]="evaluateClassError('brand', 'brand')" type="text">
            <span class="help-block text-danger" *ngIf="form.get('brand').touched && form.get('brand').errors?.required">El campo es obligatorio.</span>
            <span class="help-block text-danger" *ngIf="errors.brand">{{errors.brand}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group"
               [ngClass]="evaluateClassError('model', 'model')">
            <label class="form-control-label">Modelo*</label>
            <input formControlName="model" class="form-control" [ngClass]="evaluateClassError('model', 'model')" type="text">
            <span class="help-block text-danger" *ngIf="form.get('model').touched && form.get('model').errors?.required">El campo es obligatorio.</span>
            <span class="help-block text-danger" *ngIf="errors.model">{{errors.model}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group"
               [ngClass]="evaluateClassError('year', 'year')">
            <label class="form-control-label">Año*</label>
            <input formControlName="year" class="form-control" [ngClass]="evaluateClassError('year', 'year')" type="text">
            <span class="help-block text-danger" *ngIf="form.get('year').touched && form.get('year').errors?.required">El campo es obligatorio.</span>
            <span class="help-block text-danger" *ngIf="errors.year">{{errors.year}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group"
               [ngClass]="evaluateClassError('identifier', 'identifier')">
            <label class="form-control-label">Identificador*</label>
            <input formControlName="identifier" class="form-control" [ngClass]="evaluateClassError('identifier', 'identifier')" type="text">
            <span class="help-block text-danger" *ngIf="form.get('identifier').touched && form.get('identifier').errors?.required">El campo es obligatorio.</span>
            <span class="help-block text-danger" *ngIf="errors.identifier">{{errors.identifier}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group" [ngClass]="evaluateClassError('notes', 'notes')">
            <label class="form-control-label">Notas</label>
            <textarea formControlName="notes" class="form-control" [ngClass]="evaluateClassError('notes', 'notes')">
            </textarea>
            <span class="help-block text-danger" *ngIf="errors?.notes">{{errors.notes}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <strong class="form-control-label" style="margin-bottom: 0;">Subir imágen</strong>
            <input class="form-control" #fileInput type="file" (change)="addedFile($event)" accept="image/jpeg"/>
            <span class="help-block text-danger" *ngIf="form.get('file').touched && form.get('file').errors?.required && !form.get('file').errors?.type">Debe seleccionar un archivo</span>
            <span class="help-block text-danger" *ngIf="form.get('file').touched && form.get('file').errors?.type">El archivo debe ser de formato imágen</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer pull-right" mat-dialog-actions>
  <button [disabled]="!form.valid" (click)="submit()" type="button" class="btn btn-primary" [title]=" isEdit? 'Actualizar':'Guardar'"><i class="fa fa-floppy-o "></i></button>
  <button type="button" class="btn btn-danger" (click)="close()" title="Cancelar"><i class="fa fa-window-close"></i></button>
</div>
