<div class="page-title">
	<h3 class="title">
		Transacciones Bancarias
		<small>
			<a routerLink="subir" class="btn btn-primary" matTooltip="Subir archivo">
				<i class="fa fa-upload"></i>
			</a>
		</small>
	</h3>
</div>

<i class="fa fa-spinner fa-spin" style="font-size:48px" *ngIf="!count && count != 0"></i>

<div *ngIf="count >= 0" style="position: relative;">
	<div class="table-loading-shade" *ngIf="loadingResults">
		<mat-spinner></mat-spinner>
	</div>
	<div class="col-xs-12" style="padding-bottom: .5rem;">
		<button class="btn btn-success" (click)="toggleFilters()" matTooltip="Filtros">
			<span class="fa fa-filter" aria-hidden="true"></span>
		</button>
	</div>
	<div class="container" id="filters" style="display: none; padding-bottom: 1rem;">
		<form class="row" [formGroup]="filtersForm" (ngSubmit)="buildFilters(filtersForm.value)" novalidate>
			<div class="form-group col-12 col-sm-6 p-0" [ngClass]="{ 'has-error': errors.bank }">
				<label class="center-block col">Banco:
					<select class="form-control" formControlName="bank">
						<option value="all">Todos</option>
						<option *ngFor="let bank of banks" [value]="bank.id">{{bank.name}}</option>
					</select>
				</label>
				<span *ngIf="errors.bank" class="help-block text-danger"><small>{{ errors.bank }}</small></span>
			</div>
			<div class="form-group col-12 col-sm-6 p-0" [ngClass]="{ 'has-error': errors.item }">
				<label class="center-block col">Item:
					<ng2-completer [inputClass]="[ 'form-control' ]" formControlName="item" placeholder="Ejemplo: 'Divisas'" [datasource]="dataService" [minSearchLength]="2" [textSearching]="'Buscando...'"></ng2-completer>
				</label>
			</div>
			<div class="form-group col-12 col-sm-6 p-0" [ngClass]="{ 'has-error': errors.sinceDate }">
				<label class="center-block col">Desde:
					<input type="date" class="form-control" formControlName="sinceDate" placeholder="2017/01/30">
				</label>
				<span *ngIf="errors.sinceDate" class="help-block text-danger"><small>{{ errors.sinceDate }}</small></span>
			</div>
			<div class="form-group col-12 col-sm-6 p-0" [ngClass]="{ 'has-error': errors.untilDate }">
				<label class="center-block col">Hasta:
					<input type="date" class="form-control" formControlName="untilDate" placeholder="2017/06/30">
				</label>
				<span *ngIf="errors.untilDate" class="help-block text-danger"><small>{{ errors.untilDate }}</small></span>
			</div>
			<div class="form-group col-12 col-sm-6 p-0" [ngClass]="{ 'has-error': errors.sinceAmount }">
				<label class="center-block col">A partir de:
					<input type="number" class="form-control" formControlName="sinceAmount" placeholder="10000">
				</label>
				<span *ngIf="errors.sinceAmount" class="help-block text-danger"><small>{{ errors.sinceAmount }}</small></span>
			</div>
			<div class="form-group col-12 col-sm-6 p-0" [ngClass]="{ 'has-error': errors.untilAmount }">
				<label class="center-block col">Hasta:
					<input type="number" class="form-control" formControlName="untilAmount" placeholder="50000">
				</label>
				<span *ngIf="errors.untilAmount" class="help-block text-danger"><small>{{ errors.untilAmount }}</small></span>
			</div>
			<div class="col">
				<button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
					<i class="fa fa-search"></i>
				</button>
				<button type="button" (click)="resetFilters()" class="btn btn-danger" matTooltip="Limpiar">
					<i class="fa fa-refresh"></i>
				</button>
			</div>
		</form>
	</div>
	
	<div class="table-responsive table-material">
		<div class="form-group text-right" style="margin: .5rem;">
			<label for="select-limit">Mostrar</label>
			<select class="form-control" id="select-limit" [(ngModel)]="limit" style="width: auto; display: inline-block" (ngModelChange)="handlePageChange(1)">
				<option [ngValue]="10">10</option>
				<option [ngValue]="25">25</option>
				<option [ngValue]="50">50</option>
			</select>
		</div>
		<table class="table table-striped table-bordered" [mfData]="rows" #mf="mfDataTable" [mfRowsOnPage]="limit" [mfActivePage]="page">
			<thead>
				<tr>
					<th>*</th>
					<th>Item</th>
					<th>Banco</th>
					<th>N°. Cuenta</th>
					<th>Tipo</th>
					<th>Monto</th>
					<th>Saldo</th>
					<th>N°. Documento</th>
					<th>Fecha</th>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of mf.data | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count }">
					<td>
						<input type="checkbox" id="{{row.id}}"[checked]="selected[row.id]"  [(ngModel)]="selected[row.id]" (change)="toggleRow(row.id)">
					</td>
					<td>
						{{ row.bank_transaction_item && row.bank_transaction_item.name ? row.bank_transaction_item.name : "..." }}
					</td>
					<td>
						{{ row.bank_account.bank.name }}
					</td>
					<td>
						{{ row.bank_account.number }}
					</td>
					<td>
						{{ row.type == 0 ? "Cargo" : "Abono" }}
					</td>
					<td>
						{{ row.amount }}
					</td>
					<td>
						{{ row.balance }}
					</td>
					<td>
						{{ row.number }}
					</td>
					<td>
						{{ row.date }}
					</td>
					<td>
						{{ row.description }}
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="10">
						<pagination-controls (pageChange)="handlePageChange($event)" autoHide="false" previousLabel="" nextLabel=""></pagination-controls>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	
	<div style="margin-top: 1rem;">
		<div class="col-xs-12">
			<button class="btn btn-success" [attr.disabled]="!keys(selected).length ? 'disabled' : null" (click)="keys(selected).length ? toggleItem() : false" matTooltip="Agregar item">
				<i class="fa fa-plus"></i>
			</button>
		</div>
		<div class="col-xs-12" id="item" style="display: none;">
			<form [formGroup]="itemForm" (ngSubmit)="addItem(itemForm.value)" novalidate>
				<div class="form-group col-xs-12" [ngClass]="{ 'has-error': errors.item }" style="padding-top: 1rem;">
					<label class="center-block col">Item:
						<ng2-completer [inputClass]="[ 'form-control' ]" formControlName="item" placeholder="Escribe el nombre del item aquí..." [datasource]="dataService" [minSearchLength]="2" [textSearching]="'Buscando...'"></ng2-completer>
						<span *ngIf="errors.item" class="help-block text-danger"><small>{{ errors.item }}</small></span>
					</label>
				</div>
				<div style="padding-left: 15px;">
					<button type="submit" class="btn btn-primary" matTooltip="Guardar">
						<i class="fa fa-floppy-o" aria-hidden="true"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>