<form class="row" [formGroup]="form" (ngSubmit)="runFiltering()" novalidate>
  <div class="col-12 col-sm-6 col-md-6 col-xl-6">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Inicio</label>
      <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="form.get('from').value" formControlName="from" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 col-xl-6">
    <div class="form-group">
      <label class="form-control-label" style="margin-bottom: .5rem;">Termino</label>
      <owl-date-time [autoClose]="true" [readonlyInput]="false" inputStyleClass="form-control" placeHolder="YYYY-MM-DD" type="calendar" [max]="form.get('to').value" formControlName="to" [locale]="translate.DateTimePicker.es" dateFormat="YYYY-MM-DD"></owl-date-time>
    </div>
  </div>

  <div class="col col-sm-12">
    <button type="submit" class="btn btn-primary mr-1" matTooltip="Buscar">
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
